[2018-12-06 12:18] LuigiCNM commented on #602
Still not working with accents, for example if I try to get /imagem/579x387/100/public/blog/2018/11/Patrick-Blanc-Green-Wall-Muse**é**-Du-Quai-Branly-Paris-1.jpg, i got 404 error.

[2018-12-06 13:06] mpdude opened #1146 ""File name too long" for result storage"
I am using the result storage, and have to pass pre-signed URLs for Amazon S3 buckets to Thumbor.

URLs look like this:

`http://my-thumbor:8888/-_X_0tZcw6Axd60JnTHr75fjM1w=/480x0/filters:quality(75)/https%3A%2F%2Fs3.eu-central-1.amazonaws.com%2Fsome-prefix%2Ffoo%2Fbar%2Fbaz%2F45%3Fversion%3D4695628355a80727e7fced462974515f%26X-Amz-Algorithm%3DAWS4-HMAC-SHA256%26X-Amz-Credential%3DAKIAJLFD6ZHMMUMU

[2018-12-07 09:07] roelvanduijnhoven commented on #699
I also encountered this problem. At the moment it seems the only way to remove an image from the storage cache of Thumbor is by clearing the complete storage. There is no way to find out which individual file in the storage cache is associated with the individual image I want to delete!

[2018-12-07 09:13] roelvanduijnhoven commented on #699
NginX solves this by allowing configuration of a secret header. That could also work for Thumbor. When you pass that header; it will assume the storage cache does _not_ contain the image. It will then download the image, and overwrite the one in the storage.

Do you think that that would be difficult @heynemann; or something Thumbor does not want as a feature?

[2018-12-07 13:31] caeugusmao commented on #1136
Hi @Enalmada,

We will analyze this possibility, but you can have immutable option for cache control when you have a web server in the front end layer.

http://nginx.org/en/docs/http/ngx_http_headers_module.html#add_header

There are other options to do this using nginx, with external modules.

https://github.com/openresty/headers-more-nginx-module

[2018-12-07 23:51] heynemann commented on #699
@roelvanduijnhoven we have that implemented here at globo.com. The problem with doing purging of result images is that we would have to assume the way your storage works.

Keep in mind that thumbor is very extensible and you might be storing result images in a way that can't be traced back to a source image (hash of the URL is what comes to mind).

We actually had to modify quite a bit the way we

[2018-12-07 23:52] heynemann commented on #1136
I do find it to be a good addition to thumbor, though.

Thanks for the report! @Enalmada do you think you could come up with a PR?

[2018-12-08 00:08] Enalmada commented on #1136
@caeugusmao Thanks for the nginx tip.  I think that is a great suggestion for everyone until it it is officially supported.  I am adding it using the following commands:
[code]
(I am no nginx expert and there is likely a better way to append immutable to the existing header but I found it easiest to hide the current one and add the new one to avoid duplicate)

Yes, if it is something you would wan

[2018-12-08 00:09] cristiandean commented on #699
I'd love to talk a little bit more about it. Really, @heynemann is right that thumbor has no responsibility for purging the images, this is clear in the case of globo.com that we have more than one level of cache, in addition to thumbor storage.

In this application (cache purge) that was done by my team, it was necessary to perform the removal of all these levels caches, making this implementatio

[2018-12-10 17:06] caeugusmao commented on #1146
hi @mpdude ,

If I could understand, I think your suggestion does not solve your issue, because the hash has a fixed size. The problem is in the original image name which is too long, it is a limitation of file systems used by Linux distributions. The limit is set up to 255 characters.

Thumbor allows you rewrite "put" and "get" methods that exists in file storage. You can extends the file storage

[2018-12-10 21:47] cristiandean commented on #1146
@mpdude Using a hash, you are prone to collisions. One suggestion that might make sense for you is to cut your url every **x** characters, where **x** is less than 255 (this can be implemented in the "put" and "get" methods quoted by @caeugusmao).

Here's an example:

[code]

[2018-12-12 11:02] p3k commented on #1035
yes, me:

[code]

[2018-12-12 11:21] cristiandean commented on #1035
Yes, you need to create them, as we can see here: https://github.com/thumbor/thumbor/wiki/Configuration

`thumbor-config > ./thumbor.conf`

[2018-12-12 12:39] p3k commented on #1035
thanks for the hint, @cristiandean – i ran the `thumbor-config` command and now have a thumbor.conf file.

however, i still get the same error. i also set the `SECURITY_KEY` property to some arbitrary string and added the file thumbor.key containing the same string with no luck.

finally, i even tried to manually set the paths to config and key files, to no avail:

[code]

what am i missing?

(btw

[2018-12-12 13:01] cristiandean commented on #1035
You should also pass by parameters the config and key file with path (If they aren't in the current directory):

`thumbor -k /path/to/key/key_file.key -c /path/to/conf/thumbor.conf`

[2018-12-12 13:12] p3k commented on #1035
did so, pls see my previous comment

[2018-12-12 13:17] cristiandean commented on #1035
You did:
`thumbor -c thumbor.conf -k thumbor.key `

Try run with the file path this:

`thumbor -k /path/to/key/key_file.key -c /path/to/conf/thumbor.conf`

[2018-12-12 13:21] cristiandean commented on #1035
@p3k Are you running thumbor with python 3.6? Thumbor supports only python 2.7

[2018-12-12 13:58] p3k commented on #1035
thanks for spotting this… seems my virtualenv is b0rked, fixing now.

[2018-12-12 14:02] p3k commented on #1035
yay now it works, thanks again @cristiandean :cat:

[2018-12-12 14:03] cristiandean commented on #1035
Great!! =)

[2018-12-12 15:06] p3k commented on #834
if i may construe, could it be something like e.g. the face crop mode of imagekit.io’s smart crop feature?

indeed, this is a feature i’d like to see in thumbor.

[2018-12-13 16:58] semanticart commented on #797
Is there a way to use lossless webp with thumbor?

[2018-12-13 19:46] kkopachev commented on #797
No.

[2018-12-14 07:56] Tideorz opened #1150 "why the remove() method doesn't need yield?"
Recently, I'm looking at thumbor code, and in the https://github.com/thumbor/thumbor/blob/master/thumbor/handlers/image_resource.py#L71

[code]
I'm curious about why this remove() method doesn't need yield before it? The remove() method may
also need to time to finish before it returns?

[2018-12-14 12:44] heynemann commented on #1150
It should have. But if we add it now we'll break a LOT of storages.

[2018-12-19 23:30] bagipriyank commented on #1117
We have CDN backed by S3, which redirects to Thumbor on 404, which will save the image to S3 so subsequent requests will at worst go to S3 and bulk of the throughput is coming from CDN.

We use the following properties to make sure we don't save any files to disk as we are using docker containers as well

[code]

[2018-12-20 02:42] gingerlime commented on #1117
Hi @bagipriyank. I'm not entirely sure why you're using thumbor this way (although I'm sure you have good reasons to choose this, and thumbor is flexible to accommodate). However, if you're not letting thumbor manage your results storage, then it obviously won't allow you to remove expired images, which is I believe what the original question was about?

[2018-12-20 14:05] onurardal commented on #1035
Hi @cristiandean , I followed all the steps in the link(https://github.com/thumbor/thumbor/wiki/Hosting#thumbor-in-the-cloud) but I'm getting the same error.
I have created and can view thumbor.conf. But the result has not changed
![image](https://user-images.githubusercontent.com/6431040/50289288-714df880-0479-11e9-8c2f-013612e1c2ee.png)
![image](https://user-images.githubusercontent.com/6431040/

[2018-12-20 15:04] cristiandean commented on #1035
Hello @onurardal, I can see you are using python 3.6, Thumbor doesn't support this version. Can you try again with python 2.7?

[2018-12-28 21:18] mpdude commented on #1146
Fixed by #1149

[2018-12-28 21:18] #1146 closed

[2019-01-04 08:07] Tideorz commented on #1150
@heynemann and also for the def put() method in this file, which doesn't have the
@tornado.web.asynchronous and @tornado.gen.coroutine, I thinks it will stuck the
tornado main thread when doing the put api stufff :/

[2019-01-04 16:18] marceloboeira commented on #1102
@kkopachev sorry for taking so long,... I've tried installing libjpeg-turbo and Pillow before installing thumbor, but I couldn't see much difference, checkout the docker-image:

[code]

During the installation of thumbor, I've notice that it uninstalls and installs again Pillow... not sure why tho.

[2019-01-07 07:58] marceloboeira commented on #1102
@kkopachev I've tried this way:

[code]

My results were fine in regards to response time (I couldn't notice any reasonable changes), **but** CPU went slightly up, 30/40%... (same amount of machines).

[2019-01-07 17:00] dhardy92 commented on #1144
"Servers ? Where we're going we don't need... servers."  Doc Brown

Amazon AWS documentation wrote an Implementation guide to run Thumbor in serverless architecture using AWS lambda and AWS API Gateway https://docs.aws.amazon.com/fr_fr/solutions/latest/serverless-image-handler/welcome.html

This need a read at least.

[2019-01-07 19:34] bagipriyank commented on #1117
Sorry about the delayed response. I agree that not every one wants to not let thumbor manage results storage. Thumbor will save original image on the container as well and not just the "expired" images. The point I am trying to make is that by chosing no storage we are not caching / saving any images on the thumbor containers, and by serving off of s3 we don't have to worry about caching / saving

[2019-01-07 19:37] kkopachev commented on #1102
@marceloboeira When installing Pillow, you should force pip to build binaries. I suspect it still uses supplied binaries. Try installing thumbor first and then use snippet from https://github.com/thumbor/thumbor/issues/1102#issuecomment-433796334 to reinstall pillow building all the libs.

[2019-01-08 03:34] gingerlime commented on #1117
Yes, but the nature of (at least some) CDNs is that if they cache things on the edge. This means that if you have some requests from one edge, or region, it's cached there, but if you get requests on other edges/regions, it won't be cached. So for a single image you might get quite a few requests, even if they are cached by your CDN. And typically the performance of generating the thumbnail on thu

[2019-01-08 06:08] marceloboeira commented on #1102
@kkopachev I've tried, and I run into the

[code]

--------

@gingerlime I see your point, and I believe it makes sense, but at this point I wanted to just be able to update thumbor to the latest so I could buy some time to explore other options. Ideally, we could have an official supported docker image for thumbor on this repo, but I guess it's somewhere complex given the different use cases and

[2019-01-08 07:42] kkopachev commented on #1102
You could drop `enable-lcms` option to make it work. It’s used for colorspace conversion, but it’s not used in stock thumbor

[2019-01-08 10:54] dhardy92 commented on #1144
And you think well.
I may answer each points as I implemented it successfully for some real size tests.
I ran 2 Thumbor EC2 instances managed with puppet for a part of my image traffic. And at the end of 2018 I give a naive try on this lambda based implementation (still running) so here is my 1 month experience feed back with Tumbor AWS Lambda

* simplicity: as long as CloudFormation template is p

[2019-01-08 19:53] kkopachev commented on #1144
Lambda could certainly be an option.
For our main site we tried running thumbor@lambda when it first got available. For our workload, it was unusable, even if patched manually to cover our cases.
Price was comparable or more expensive to on-demand EC2 instances. We do gifv conversion on thumbor and for some big gifs we hit the timeout (don't remember where exactly). After all we got a bunch of err

[2019-01-08 21:00] heynemann commented on #1144
This is possibly THE best thread in our repo. Thanks everyone for very valuable inputs.

[2019-01-09 12:04] gingerlime commented on #1144
Very interesting pointer about spot instances @kkopachev !

Yes, I'm super curious about the different use cases, deployments and optimizations, and it's great to get some of those insights, especially from those who tried a few options. I hope to collect some recipes and best practice over time, so this shared knowledge can benefits others.

[2019-01-09 23:01] bagipriyank commented on #1117
@gingerlime i agree with your argument completely. we decided to save the result image in s3 instead of caching locally. Also I do like MinimalCompact/thumbor. We were planning to use it but since we also need to provide jpeg2000 support ended up creating our own container with thumbor plugins as well.

@kkopachev you nailed it pretty much. the only difference is instead of returning from thumbor

[2019-01-10 00:37] bagipriyank commented on #1117
unfortunately no auto webp this way via server. our clients do request webp images explicitly though via format fllter. (along with jp2 for jpeg200 depending on the platform etc)

[2019-01-10 03:03] gingerlime commented on #1117
I'm happy to accept PRs to add more library support, plugins etc. As long as they don't clash with existing functionality.

I mostly treat the docker image as a mini-vm. The docker philosophy is to keep images small, but at the same time interoperability between containers is rather limited, so the container-as-a-vm seems like a reasonable compromise to me in the case of thumbor.

[2019-01-10 12:19] anton-johansson opened #1152 "JSON logging"
Is it possible to get JSON output in the logs? For example, the following log line:
[code]

... would be awesome to be able to have as:
[code]

I guess I could just tweak the format, but I'd need to escape the message, in case the message would have qoutes in it. Ideas?

[2019-01-10 13:22] heynemann commented on #1152
Would be good to have structured logging in thumbor, but I think the best way to go about this is to use thumbor's own mechanisms for extensibility and allow people to implement their own loggers.

What do I mean by that?

We could change all logging in thumbor to be something like:

[code]

Then we'd implement the `StdoutLogger` that just prints these as:

[code]

As well as the `JSONLogger`, tha

[2019-01-13 03:49] gingerlime commented on #868
I know it's an old thread, but I hope someone can help.

What if you want to keep the thumbor client as-is (i.e. not having to modify the signing on the client library, e.g. [libthumbor](https://github.com/thumbor/libthumbor)), and use the domain portion as a tenant-identifier. e.g. `https://tenant1.example.com/{signature1}/...`, `https://tenant2.example.com/{signature2}/...`?

The current signer

[2019-01-13 14:41] heynemann commented on #868
Without thinking too much about it, it seems to me a problem better solved by a proxy that identifies who the user is by the tenant and passes the user's token (or whatever you use as a key) as header for thumbor when creating new images. That way you can verify if the request contains the auth header and find what the security key for that user is, then use it.

Since it's an advanced case of usi

[2019-01-14 12:40] gingerlime commented on #868
Thanks @heynemann.

Yes, I'm toying with the idea of a hosted thumbor setup for multi-tenants. I actually thought about a simple proxy layer, but as @mpilar aptly noted, this isn't the only barrier, because you also need to account for different backend stores (AWS accounts, S3 buckets etc)... not sure if it's easily solvable with the way thumbor works.

Of course, you can have a separate VPS or i

[2019-01-14 15:21] heynemann commented on #868
Btw, if you decide to implement your own app, you can pass it to `thumbor-cli` with `-a full.path.to.app`.

[2019-01-15 13:36] gingerlime commented on #868
Thanks a lot @heynemann. I really appreciate it. That's very helpful.

So it seems that implementing an app means taking care of all request handling, but still using the core thumbor methods to do the actual image processing etc, right? This seems like a reasonable approach. Of course, it might make it harder to keep up with any API changes etc and make sure things are all working, but I imagine

[2019-01-18 12:31] caeugusmao commented on #1123
@timkelty You can use stretch filter which is available from version 6.6.0.

[2019-01-18 12:35] caeugusmao commented on #1136
@heynemann @Enalmada

Any consideration?

[2019-01-18 12:42] timkelty commented on #1123
lovely, I'll try it out! Thanks @caeugusmao

[2019-01-18 12:57] timkelty commented on #1123
There doesn't seem to be any documentation on stretch? https://thumbor.readthedocs.io/en/latest/filters.html

[2019-01-18 13:22] heynemann commented on #1123
Very true, @timkelty Sorry for that. We need to update docs to include it.

[2019-01-18 19:24] developdeez opened #1155 "Zoom to face"
I selected a size for the crop then selected smart.
I was expecting it to crop to the face using Smart detection but instead it shrunk the image to the crop dimensions.

Seems any time you use square dimensions it simply shrinks the image while if not square it will try to crop towards the face. Am I missing something?

[2019-01-18 20:04] kkopachev commented on #1155
Could you provide urls you are trying and result images?

[2019-01-20 02:16] ElMoselYEE commented on #1144
We've been looking at running the serverless Lambda version as well, so glad others are considering similar paths.

I have some thoughts and also some questions:

* we forked the repo as we needed to customize the error handling and metrics dispatching. Also noticed that timeouts always caused the next request to 500 because the server is busy, so had to patch that.
* regarding simplicity: buildin

[2019-01-20 03:12] gingerlime commented on #1144
Yes, scaling without worrying about instances etc is a very appealing value proposition. I'm generally a big fan of Lambda (I even created an [A/B testing framework](https://github.com/Alephbet/gimel) running on it).

But given how many dependencies and libraries thumbor typically needs, this feels like really stretching Lambda. I think it excels with simple functions, but as they grow in complexi

[2019-01-21 03:26] marcelometal opened #1156 "test failure in test_redeye_applied (numpy >= 1.16.0)"
Running thumbor's test over `numpy >= 1.16.0`, it fails (numpy version is not locked in setup.py). Travis uses numpy version `1.13.3`.

[code]

[2019-01-22 13:46] bkonetzny opened #1157 "Multiple loaders configured at once"
It would be nice to be able to configure multiple loaders at once, e.g. URL & S3 loader like we do with the detectors:
[code]
Thus the following URLs would get handled differently:

This would allow for stacking multiple loaders and would make the `thumbor.loaders.file_loader_http_fallback` obsolete, as this could be handled by configuring the file and http loader.

We currently need this feature

[2019-01-25 16:31] caeugusmao commented on #1157
Hi @bkonetzny,

How would you handle with more than one loader in terms of execution order?

Depending on the case you would add an unnecessary step to load images, decreasing Thumbor's performance.

[2019-01-25 20:32] kkopachev commented on #1136
This seems like a useful feature.

[2019-01-28 10:03] bkonetzny commented on #1157
Hi @caeugusmao,

I'd expect order of execution as defined in the config, so first loader gets executed first, and if that loader executes, all others are skipped. Only if a loader doesn't execute, the next loader in line will take over and try.
Not sure how this is internally handled, but I'd expect the loader to quit early if the URL/path of the image is invalid for this loader.
E.g. the `thumbor

[2019-01-28 19:15] kkopachev commented on #1157
One option for now could be to create new loader plugin which will be able to handle check and proxy call to appropriate loader. Sort of router.

[2019-01-29 09:44] zvirag opened #1160 "Sentry environment"
feature request

Please add Sentry environment option to thumbor error handling integration in configuration file.
The `raven` client supports environment variable setup out of the box.

Thx

[2019-01-29 17:11] heynemann commented on #1157
Hey @bkonetzny I prefer to keep it simpler. If we introduce this logic, we would have to change our loaders to actually perform the logic you described whereas if we just introduce a new loader (`FallbackLoader`?) we can be explicit on what the user wants.

Something like you described would be the config for this loader:
[code]

That way we keep thumbor working the way it is, this pattern already

[2019-01-31 22:20] rturk commented on #1160
This will be a nice addition we use sentry in our environment

[2019-01-31 22:22] rturk commented on #1132
Hi folks I vote to re-open this, external repos can't be audited, neither controlled by the community. Should be effort-less to create a official Docker file and use free CI (ie. Circle-ci) automatic main the image

[2019-02-04 18:59] timkelty opened #1164 "Document/Clarify WEBP_QUALITY"
### Thumbor request URL
https://d3v5ux74ykdcrl.cloudfront.net/1920x510/filters:quality(50)/hero/Hero_InsightPage_5000x1800-high-rez-3.png

### Expected behaviour
As the source image is a PNG, I expected the quality filter to be ignored.

### Actual behaviour
However, since I have `AUTO_WEBP = true`, it appears to be using the `filters:quality(50)` to compress the image when it serves as webp.

Is

[2019-02-05 06:18] kishan-cc opened #1165 "HTTPError: HTTP 405: Method Not Allowed"
Traceback (most recent call last):
  File "/home/kishan.garodhara/.local/lib/python2.7/site-packages/tornado/web.py", line 1590, in _execute
    result = method(*self.path_args, **self.path_kwargs)
  File "/home/kishan.garodhara/.local/lib/python2.7/site-packages/tornado/web.py", line 229, in post
    raise HTTPError(405)
HTTPError: HTTP 405: Method Not Allowed

I am using curl method in postman t

[2019-02-05 17:19] kkopachev commented on #1165
Can you share request you're making?

[2019-02-06 03:49] kishan-cc commented on #1165
sure @kkopachev     curl -i -H "Content-Type: image/jpeg" -H "Slug: photo.jpg"
        -X POST http://localhost:8001/image --data-binary "@vows/crocodile.jpg"

[2019-02-07 16:46] xpicio opened #1166 "Banding on PNG images"
Hello, we are working on PNG images with the following URL:

https://[my-domain]/DtXK2jc-I69jFJkLN7uEt_3QmxQ=/fit-in/375x/filters:fill(transparent):sharpen(1.0,1.0,true)/[my-domain]/z8dVCCXti5ss8vauXR4QIfHanEw=/trim/[my-domain]/vn5ugTXzFXr1uWII2V_zNeu1CKk=/375x/https://[my-domain]/catalog/shoeproduct/fall-winter-2018/main/2ADD208_F0_00001_side.png

on thumbor 6.1.0 and everything is working well,

[2019-02-07 17:40] kkopachev commented on #1166
Can you post original image so it's easier to repro?

[2019-02-07 19:52] xpicio commented on #1166
Here the original image:
![29100206_f0_00001_side](https://user-images.githubusercontent.com/2994719/52438561-d89f3500-2b19-11e9-90be-3fa7385ca122.png)

[2019-02-08 00:41] kkopachev commented on #1166
I didn't have a chance to reproduce the issue yet, however, I think this reported previously and fixed by https://github.com/thumbor/thumbor/pull/1046
Try setting `PILLOW_PRESERVE_INDEXED_MODE = False` and see if it helps.

[2019-02-08 09:19] xpicio commented on #1166
The fix about #1046 has been released on 6.4.2 ... and we tested with that version. Anyway we will try with `PILLOW_PRESERVE_INDEXED_MODE = False`

[2019-02-08 22:16] kkopachev commented on #1165
I tried with thumbor version 6.6.1 and it works.
What version are you running? what's your config looks like?

[2019-02-11 04:42] kishan-cc commented on #1165
@kkopachev  thank you and yes your are right problem with version

[2019-02-11 04:42] #1165 closed

[2019-02-11 08:29] niqo01 opened #1168 "Support for Google Cloud Platform Click to Deploy"
Feature request:
Add support for Google Cloud Platform Click to Deploy to Kubernetes cluster
https://console.cloud.google.com/marketplace/browse?filter=solution-type:k8s

[2019-02-12 00:40] #1012 closed

[2019-02-12 00:42] kkopachev commented on #1144
Lambda has limit of max response body hard set to 6MB. So if you're trying to serve image bigger than that, then lambda is not an option.
We just hit that on one of smaller projects when trying to serve decent size gif.

[2019-02-12 16:34] araujoyuri opened #1169 "How can I install thumbor on MacOS Mojave?"
I'm trying to run thumbor on a MacOS Mojave 10.14.3 but I can't start it. I could install it using pip and I did generated the config file using thumbor-config > thumbor.conf and starting the process with thumbor -c thumbor.conf, but it wasn't finding the key, even when I change the SECURITY_KEY on the conf file.

[2019-02-12 20:08] cristiandean commented on #1169
Hello @araujoyuri, what error are you getting?

[2019-02-13 00:44] cristiandean commented on #1156
Thank you @marcelometal! I ran the tests with version 1.15.4 and it seems all right! #1171

https://docs.scipy.org/doc/numpy/release.html#arrays-based-off-readonly-buffers-cannot-be-set-writeable

[2019-02-13 19:16] araujoyuri commented on #1169
@cristiandean RuntimeError: No security key was found for this instance of thumbor. Please provide one using the conf file or a security key file.

[2019-02-14 09:49] xpicio commented on #1166
PILLOW_PRESERVE_INDEXED_MODE doesn't change the behaviour. I see where this setting is used in code:

``if self.context.config.PILLOW_PRESERVE_INDEXED_MODE and requested_extension in [None, '.png', '.gif']
                and self.original_mode in ['P', '1'] and self.original_mode != self.image.mode:``

My png are not in P mode but are in RGBA mode so this setting is irrelevant.

Any more ideas?

[2019-02-14 18:26] kkopachev commented on #1166
The image you posted is in P mode.
[code]

I'll try to repro the issue a bit later.

[2019-02-14 19:37] kkopachev commented on #1166
The image you posted is in P mode.
[code]

I'll try to repro the issue a bit later.

[2019-02-17 13:45] cristiandean commented on #1169
@araujoyuri Can you check if you're running Thumbor with python 2.7?

[2019-02-18 19:10] LRancez commented on #895
Same problem here! Using thumbor.storages.no_storage at least makes it work.

[2019-02-18 21:35] caeugusmao commented on #1164
Hi @timkelty,

This is the part of code that handles the QUALITY:
[code]

There is no webp-qualty filter. You can set standard value for WEBP_QUALITY specifically. If you do not set, Thumbor will consider QUALITY config if you do not pass quality as a filter in the image url.

[2019-02-19 00:46] timkelty commented on #1164
Thanks for the explanation, @caeugusmao.
I'll leave the issue open as `WEBP_QUALITY` is still undocumented.

[2019-02-19 13:25] caeugusmao commented on #1164
Would you like to contribute with this documentation?

[2019-02-19 13:25] timkelty commented on #1164
Yep - I'll put it on my list.

[2019-02-19 13:25] timkelty commented on #1164
Feel free to assign to me.

[2019-02-19 20:00] caeugusmao commented on #1164
tks

[2019-02-19 23:35] ElMoselYEE commented on #1004
Python 2 will lose support at the end of 2019--10 months away. Is it a reasonable goal for Thumbor to support Python 3 before then?

[2019-02-20 00:13] cristiandean commented on #1004
Hello @ElMoselYEE, we are working on a branch with the aim of making a complete refactor in Thumbor. This already includes the support for Python 3.7. You can take a look at what we already have ready, and also we are open to pull requests =)

[thumbor/refactor](https://github.com/thumbor/thumbor/tree/refactor)

[2019-02-21 04:10] jayvdb opened #1175 "Please add tests to the sdist"
Please add tests to the sdist so they can be used for testing rpms, etc

[2019-02-27 14:56] marblerun opened #1176 "Data Migration issue"
Folks

For some time, my company has run a thumbor based image server in AWS, which has worked very well. This year, we decided to update the setup to run behind an ALB, and took the opportunity to bring all the software components up to the latest versions.

It transpired we had been running a very old version (4.10.1 or so) in a python virtual env, and made a big leap to 6.3.3, but kept the exis

[2019-02-27 21:30] kkopachev commented on #1166
I've tried on 6.6.1.
I can see banding with default config.
However, `PILLOW_PRESERVE_INDEXED_MODE = False` solves the problem.

If you're still seeing the problem, maybe you're getting image from result storage or other cache?

[2019-03-01 11:34] achandnanimt commented on #1169
Hi @cristiandean , I am getting the same error I am running Thumbor with python 3.7.
Requesting you to please guide me for the same.

[2019-03-01 16:09] araujoyuri commented on #1169
@cristiandean sorry for taking so long to answer. I've tried to run with python 3.7 too

[2019-03-01 16:11] cristiandean commented on #1169
Thumbor supports only python 2.7. Can you try again with this version? @araujoyuri @achandnanimt

[2019-03-01 16:14] araujoyuri commented on #1169
I'll try it again sometime and I'll tell if it's working properly. Also, do you have plans to support python 3, since this year python loses it's official support?

[2019-03-01 16:21] cristiandean commented on #1169
@araujoyuri We are working to make it compatible ASAP. You can check the progress on [Refactor branch](https://github.com/thumbor/thumbor/tree/refactor).

[2019-03-01 16:26] araujoyuri commented on #1169
@cristiandean Awesome man! :D

[2019-03-05 00:50] kkopachev commented on #1166
Please reopen if problem persists.

[2019-03-05 00:50] #1166 closed

[2019-03-07 13:36] sviklim opened #1178 "Thumbor returns 502 error when requesting for not-existing S3 object"
There is a Thumbor installation using S3 storage. If I send a request for an image, which doesn't exist in the bucket, then I receive 502 error, instead of 404 response, since the object (image) doesn't exist.

### Thumbor request URL
wget http://my-thumbor-domain.com/unsafe/meta/game-stag/1374389543321/not-existed-url

### Expected behaviour
Returns 404 since the key does not exist

### Actual be

[2019-03-08 16:10] cristiandean commented on #1178
As we can see [here](https://github.com/thumbor-community/aws/blob/f2a4a08c89682710bb614c2e8667b12965f34393/tc_aws/loaders/s3_loader.py#L96) the thumbor check if s3 HTTPStatusCode is 404 for return this status code, if it isn't 503 is delivered.

Can you check your s3 response and post here?

[2019-03-08 17:17] cristiandean commented on #1176
Are you trying to migrate to which version of thumbor? You said 6.3.3 but I can't find this version in the releases.

[2019-03-13 14:21] luison opened #1180 "Correct content type when using webp version from cache storage"
We are trying to fine tune the image type header when serving images from a proxy cache in nginx in front of thumbor.

When the image is served via thumbor proxy images are correctly set (if browser supports)
_content-type: image/webp_

When the image is served from the nginx proxy cache on the second call the image header is set to:
_content-type: image/jpeg_
alltough we have confirmed that the i

[2019-03-14 02:52] cristiandean commented on #1180
You can try something like this in your proxy cache:

[code]

[2019-03-14 15:19] chrisandchris commented on #1157
+1 for the proposal of @heynemann

[2019-03-15 09:26] alexmbird opened #1181 "Has GC_INTERVAL gone missing?"
### Thumbor request URL
n/a

### Expected behaviour
A config parameter `GC_INTERVAL` is listed in Thumbor's documentation [here](https://thumbor.readthedocs.io/en/latest/configuration.html#gc-interval).  It was added from [this PR](https://github.com/thumbor/thumbor/pull/905) back in 2017.  I've been attempting to use this while troubleshooting high memory usage on our Thumbor pods.

### Actual be

[2019-03-15 10:51] luison commented on #1180
Thanks but no difference. Return headers if filename ends in .jpg remains when we server de webp one.
[code]
As said, either we force thumbor to save with an additional .webp extension so Nginx would auto setup or we find a way of doing it conditionally via nginx. Please note this is the output of our nginx serving thumbor storage cache.

[2019-03-15 17:08] kkopachev commented on #1181
Is the memory leak still an issue?
There is being some work to break circular references which helps with garbage collection, so there should be less garbage hold back after each request. See https://github.com/thumbor/thumbor/pull/1003

[2019-03-15 17:27] alexmbird commented on #1181
Here's the memory usage I'm seeing on our platform.  We use Thumbor to resize images on the fly then serve them to our CDN (which mostly caches them) and we serve about 2 requests per second.  As you can see memory use stabilises after 12h or so, but given the steady trickle of requests I wouldn't expect usage to go on increasing for so long after startup.

![thumbor_memory](https://user-images.gi

[2019-03-15 17:32] kkopachev commented on #1181
What kind of loader/result storage do you use?

[2019-03-15 18:13] alexmbird commented on #1181
* Loader - `thumbor.storages.no_storage`, we pull original images from a bucket nearby via HTTP
* Result - `thumbor.result_storages.file_storage` on a local volume with caching for 60 seconds

[2019-03-18 06:58] #1150 closed

[2019-03-18 09:47] christophlingg opened #1182 "documentation not in sync"
I was interested to get more information about those configuration options: `MAX_WIDTH` and `MAX_HEIGHT`. There are two stories told:

https://github.com/thumbor/thumbor/wiki/Configuration#max_width-and-max_height

and

I believe the wiki is more up to date than the config, but I am not sure. Could you please fix the docu?

[2019-03-19 17:23] rafaeleyng commented on #1181
There's really no use of the `GC_INTERVAL` configuration anywhere in the code. Besides the memory leak that you've reported, I think we should remove that from docs and from [config.py](https://github.com/thumbor/thumbor/blob/f4bf80ae156189db41f834dd7760061d88bcf713/thumbor/config.py#L149). I can remove those if you are ok with that @kkopachev.

[2019-03-19 18:56] rafaeleyng commented on #1157
Is anyone working on this? I would like to try to implement it 😃. You could assign it to me

[2019-03-19 20:17] kkopachev commented on #1181
I am not sure we should remove it. Looks like it is useful in some cases. Probably I've being way too aggressive with removing the code around it?

Since memory is not constantly growing and has an upper threshold (it seems), then it's not a leak, but rather hard to collect cycles which ended up in 3rd generation of objects. Question is do we want to run full sweep more frequently or just ignore s

[2019-03-20 14:28] heynemann commented on #1157
Go ahead! :)

[2019-03-20 17:08] #1175 closed

[2019-03-20 19:34] alexmbird commented on #1181
I can't speak for everyone but my use case is deploying it to a Kubernetes cluster alongside the rest of our application stack, and I imagine that'll be a fairly common one.  Best practice is to give pods a fixed memory limit so while we aren't very resource-constrained we do need predictable usage.

As @kkopachev noted the usage for us has stabilised around 1GB per Thumbor instance.  That's a lot

[2019-03-21 19:07] kkopachev commented on #1181
@alexmbird Could you share your thumbor.conf?
I've tried running a test server with request handlers which call `gc.collect` when I want to, and it always seem to report 0 objects collected. So I am thinking that your memory hike could be specific to a filter/optimizer or another module responsible for keeping some references around.

[2019-03-25 12:12] alexmbird commented on #1181
We're running the `minimalcompact/thumbor` Docker Hub image so the config file is generated automatically on startup.  I've extracted it from one of our pods:

[thumbor.conf.txt](https://github.com/thumbor/thumbor/files/3003167/thumbor.conf.txt)

[2019-03-25 12:16] HectorNM commented on #1182
Hi @christophlingg , thank you for noticing this!

I opened a PR to change update docs accordingly, which seems to be already merged. So I believe project members can already close this issue.

[2019-03-25 12:54] HectorNM commented on #891
Thanks for noticing this!

It looks like distributed_collage filter mooved to [a separated project.](https://github.com/globocom/thumbor-distributed-collage-filter), so I think the project team can close this issue.

[2019-03-25 13:32] HectorNM commented on #1160
It looks like this feature was already developed, so this issue can be closed.

[2019-03-25 13:43] #1160 closed

[2019-03-25 13:43] #1182 closed

[2019-03-25 13:43] #891 closed

[2019-03-25 13:44] #1156 closed

[2019-03-25 13:53] christophlingg commented on #1182
@HectorNM to my understanding it is not fixed, because `thumbor.conf` still talks about the "original" image but it is about the scaled image.

[2019-03-25 17:56] kkopachev commented on #1181
Thanks @alexmbird !

Tried your config locally with debug handlers.
Looks like "leak" is not related to storage and metrics; png and jpeg originals are fine also. However gif creates tons of collectable garbage after each request. I'll investigate further as time permits.

As a workaround, you might want to try using gifsicle engine. I found it overall less memory consuming and producing better co

[2019-03-27 10:09] fridzema opened #1184 "Provide favicon"
Hello,

Every request to thumbor trows a 400 (Bad Request) for favicon.ico.
Anybody knows where to place the favicon to avoid this?

[2019-03-27 17:19] cristiandean commented on #1184
You can serve this in your proxy (like nginx), or just return the error on it.

Something like:
[code]

[2019-03-28 05:42] abhisheksarka opened #1185 "Incorrect Resizing of Image"
### Thumbor request URL
https://t.THUMBOR_SERVER.com/rlHzP7uLm2bYFinMuBKrBJnhQs8=/1365x768/filters:format(jpg):fill(transparent)/https://s3-us-west-2.amazonaws.com/images.verifymybiz.com/location_photos/photos/000/642/538/original/MMmpc7m2Qzap2VT

### Expected behaviour
Image width should be 1365 and height 768

### Actual behaviour
Image width is 768 and height is 1365

[2019-03-28 14:13] premalpawar commented on #1035
HI p3k,

can you please tell how you fix this?

Below python packages are installed in my system.
ubuntu@ip-172-31-10-4:~$ whereis python
python: /usr/bin/python2.7 /usr/bin/python2.7-config /usr/bin/python3.5m /usr/bin/python /usr/bin/python3.5 /usr/lib/python2.7 /usr/lib/python3.5 /etc/python2.7 /etc/python /etc/python3.5 /usr/local/lib/python2.7 /usr/local/lib/python3.5 /usr/include/python2.7 /

[2019-03-28 14:29] p3k commented on #1035
@premalpawar are you using a virtual python environment? if not, i recommend to do so, it makes things a lot easier.

<https://help.dreamhost.com/hc/en-us/articles/115000695551-Installing-and-using-virtualenv-with-Python-3>

it bascially boils down to this:

[code]

[2019-03-28 17:09] kkopachev commented on #1185
Works for me on latest version.

[2019-03-29 21:18] sviklim commented on #1178
Hi,

We have finally found out what caused this issue. It turns out, that you need to have `s3:ListBucket` permission for the user (role) which is used by Thumbor to connect to the storage. In our case the bucket was not exclusively dedicated for Thumbor therefore access rights were restricted based on object prefix. When a list permission for the whole S3 bucket was granted the server received pr

[2019-03-30 11:26] singhravi1 commented on #708
@heynemann
I did not request for favicon.ico, still it shows the lines in the logs as in the main description.
What could be the reason?

[2019-04-03 17:21] cristiandean commented on #1185
@abhisheksarka Which version of thumbor are you using?

[2019-04-03 17:23] cristiandean commented on #1169
As the problem seems to have been resolved, I will close the issue.

[2019-04-03 17:23] #1169 closed

[2019-04-03 19:19] cristiandean commented on #708
Some browsers, by default, when you access a web page it automatically make a request for http://page.domain/favicon.ico. This is usually done to add to your tab's icon.

Like this:

![image](https://user-images.githubusercontent.com/25023177/55506546-12794d00-562c-11e9-805c-5d5327f80682.png)

[2019-04-03 19:25] cristiandean commented on #1109
Works for me on latest version.

![image](https://user-images.githubusercontent.com/25023177/55506923-f924d080-562c-11e9-8c09-04c65934976f.png)

I will close the issue, feel free to reopen if the problem persists.

[2019-04-03 19:25] #1109 closed

[2019-04-03 19:32] cristiandean commented on #1121
@tschaffter Thanks for the clarification! I think this issue may already be closed.

[2019-04-03 19:32] #1121 closed

[2019-04-04 06:03] abhisheksoni27 opened #1186 "Thumbor: images directory Access denied"
Thumbor stores the images in `/var/www/thumbor/images`. However, I cannot access that folder as it gives me Persmission Denied.

We are planning to move all our images to S3 and hence need access to that folder.

Can you tell me how I can extract those images, or remove the access denied error?

[2019-04-04 07:07] singhravi1 commented on #708
Thanks @cristiandean for the confirmation !
I too suspected this to be the reason.

[2019-04-08 04:37] soren121 opened #1187 "Using security with a mobile app?"
I would like to use Thumbor with my iOS and Android apps, but the [security documentation](https://github.com/thumbor/thumbor/wiki/Security) has led to some confusion.

It seems to imply strongly that URL signing was designed for a traditional server-side website, where the server would know ahead of time which Thumbor parameters are used on the page that's served. But this isn't really the case w

[2019-04-08 13:08] cristiandean commented on #1187
Thumbor has a multitude of libraries in many different languages. What you can do is an API that you send an unsafe URL and it returns a signed URL that you can use in your application. Then the whole security part, such as authorization and authentication, in the url generation would be on the side of your API.

[2019-04-08 14:18] mariansedivy opened #1188 "Bad image quality"
Hello,

we want to switch to Thumbor but we have some problems with some images that have low quality after using Thumbor. I have this special test image to demonstrate it.
Original 125KB
![Original](https://cwcdn.sk/test/original_1.jpg)

### Thumbor request URL
http://localhost:8000/unsafe/1920x960/filters:quality(90)/https://cwcdn.sk/test/original_1.jpg

### Expected behaviour
This is converted

[2019-04-08 18:03] #1187 closed

[2019-04-12 21:33] cristiandean commented on #1188
Hello @mariansedivy, using the JPG format for this type of image can cause loss of quality. One of the factors that can cause this is the [Subsampling](https://en.wikipedia.org/wiki/Chroma_subsampling)  - "Subsampling is the practice of encoding images by implementing less resolution for chroma information than for luma information.".

You can set the Subsampling with:

[code]

Another option is t

[2019-04-12 21:40] cristiandean commented on #1186
Hello @abhisheksoni27, can you give more information? Where is your thumbor hosted? Do you have sudo rights?

[2019-04-12 22:21] cristiandean commented on #1123
#1134 PR merged and with docs.

[2019-04-12 22:21] #1123 closed

[2019-04-16 12:48] mariansedivy commented on #1188
Hi @cristiandean thank you for your reply. Unfortunately this setting overrides quality filter and thus result in nice image but bigger than original. I have found this closed pull request where it is discussed https://github.com/thumbor/thumbor/pull/730

[2019-04-16 13:45] sibelius opened #1189 "is there a GraphQL example of using it?"
is there a GraphQL example of how to use thumbor to generate proper urls?

[2019-04-16 15:19] sibelius commented on #926
any progress on this?

[2019-04-16 15:20] sibelius commented on #984
any progress on this?

[2019-04-17 11:06] marblerun commented on #1176
Forgive me if I was less than clear.

The aim was to update the image processing environment, bringing both operating system (Ubuntu) and image processing software (Thumbor) to current releases. After creating a new AWS instance with a current version of Ubuntu  16.04.6 LTS, a snapshot copy of the existing data was brought over, and the virtual Thumbor environment was also updated to current, whic

[2019-04-17 11:37] marblerun opened #1190 "Failing to process Facebook profile pictures"
When attempting to process facebook profile pics, it would appear that Thumbor behaves like the Chrome browser, which can't process the image, possibly due to a missing file type in the image header, and offers to download rather than display the file.

Instead, a hidden file is placed in the profilepic directory, and a mixture of errors results.

eg

2019-04-17 11:18:40 tornado.access:ERROR 500 G

[2019-04-17 13:59] altendorfme opened #1191 "Unsupported header value None"
### Log Error:
[code]

I am using Mozjpeg by default and not setup set as follows:
[code]

### Operating system
Ubuntu 16.04 LTS
NGINX
Supervisor
Python 2.7
Thumbor 6.7.0

### Your thumbor.conf
[code]

[2019-04-17 14:03] altendorfme opened #1192 "S3 key not found at"
### Log Error:
[code]

The webp.detectors.txt file is correctly stored in DigitalOcean Spaces:
![Capture](https://user-images.githubusercontent.com/1530032/56293925-6857f580-6100-11e9-8dae-c7cf8a7a8367.PNG)

### Operating system
Ubuntu 16.04 LTS
NGINX
Supervisor
Python 2.7
Thumbor 6.7.0

### Your thumbor.conf
[code]

[2019-04-17 14:09] #1192 closed

[2019-04-17 20:42] cristiandean commented on #1176
@marblerun you can check the storage rule here:

https://github.com/thumbor/thumbor/blob/master/thumbor/result_storages/file_storage.py
[code]

As we can see, the path is formed by a sha1 generated from older path.

But on `get` method we have a migration from legacy path to new path, as we can see:

[code]

[2019-04-18 17:21] altendorfme commented on #1191
Fixed reinstalling Mozjpeg.

[2019-04-18 17:21] #1191 closed

[2019-04-24 21:19] cristiandean commented on #1190
Is it possible for you to upgrade the thumbor? I tested it on the latest and it worked.

[2019-04-25 14:55] sibelius commented on #1004
@cristiandean python 3 support is done already?

[2019-04-26 17:55] Xepe commented on #895
Hello,

Any fix for this issue ?

Regards

[2019-05-01 11:13] timkelty opened #1194 "FR: Automatic/Intelligent quality/format"
It would be great to support a feature analogous to Cloudinary's `q_auto/q_auto:best/q_auto:eco`, which looks at the image content and format to determine a best guess for quality and format: https://cloudinary.com/documentation/image_transformations#automatic_quality_and_encoding_settings

[2019-05-01 17:41] joncarlson opened #1195 "When Thumbor hosted in subdirectory, getting WARNING URL does not have hash or unsafe, or has both"
### Thumbor request URL
GET http://localhost/images/image/HASH/image.png

The key part above being the /images subdirectory Thumbor is hosted in

### Expected behaviour
Thumbor loads the expected image

### Actual behaviour
No image is loaded, Thumbor throws the error:

thumbor:WARNING URL does not have hash or unsafe, or has both: /images

### Operating system
python:2-alpine3.6 Docker image
x86_

[2019-05-10 01:45] cristiandean commented on #1195
By default the thumbor use base path (/) to handle with your urls. Is there any chance of you using thumbor in a subdomain? I think it would be best for this situation.

[2019-05-10 13:46] timfernando commented on #853
@nicysneiros hi, do you happen to still have your percentage code? :)

We're hitting the same problem that you were, where we do not know the size of the source image but have a crop percentage stored in our DB and would rather avoid making a metadata request to get the data first.

[2019-05-11 04:04] kkopachev commented on #1195
Or you could use nginx or other reverse proxy in front with url rewrite.

[2019-05-11 15:22] joncarlson commented on #1195
Thanks @cristiandean and @kkopachev. Can't use a subdomain unfortunately so I looked into handling this with nginx and it works great!

In case anyone else needs this, in my location block for Thumbor I added this chunk which grabs everything after /images and does a proxy_pass to the Thumbor upstream:

`
if ($request_uri ~* /images/(.*)){
    set $thumborpath /$1;
    proxy_pass http://thumbor$th

[2019-05-11 15:22] #1195 closed

[2019-05-13 19:44] savar commented on #895
Is there anyone in this Issue who is not running on Windows while facing the issue itself?

[2019-05-14 11:26] marblerun commented on #1190
Hi,

Sorry for the delay - we ran up an instance with 6.7 installed on it this week, we now get the "Malformed Url" error and a http 400 error rather than a 504.  Attempts at url encoding to deal with special characters have also failed.

I am currently accessing through nginx, which may be having an influence, so we are going to go through the config in detail to see if there is an issue we can s

[2019-05-17 21:29] cristiandean commented on #1189
I think there is no lib for this purpose for thumbor. But it would be great if there were =)

[2019-05-23 02:03] cristiandean commented on #1190
I tried run:

`thumbor-url -n -e 80 -k "my-security-key-file" https://files.viewranger.com/image/649442bb8b5a84a856e9b2378ead5022.jpeg`

And I had as a return:

`/qS556ynY7s0P_O319uDhoDF2inU=/fit-in/0x80/https%3A//files.viewranger.com/image/649442bb8b5a84a856e9b2378ead5022.jpeg`

So I ran thumbor with the following command for startup the server:

`thumbor -l debug -d -c ./thumbor/thumbor.conf -k

[2019-05-23 02:05] #1184 closed

[2019-05-24 10:36] marblerun commented on #1190
Hi Cristian,

I have managed to get this working using both the -k and -l options to generate the url, and then successfully load the file in question. Our issue appears to be specifically with facebook profile images, which thumbor, in the main, appears to be unable to encode properly.

Your help is much appreciated, going to have a bit of a break due to this being a holiday weekend. If you fancy

[2019-05-30 17:11] kkopachev commented on #1190
Do you have url of an image?

[2019-06-01 09:02] gingerlime commented on #1180
I think I bumped into a similar problem before with the way caching is set-up. See #986

[2019-06-04 18:07] bourdeau commented on #1004
Hi,

We are planning in using Thumbor in my company, but we can't go for it in Python 2.7. What is the the current progress of the [thumbor/refactor](https://github.com/thumbor/thumbor/tree/refactor) branch? Does anyone have a rough idea of when it will be merged? We could help with PR if needed, we have 50+ dev, half of them Pythonists, and Photography is our business :)

[2019-06-06 04:18] cristiandean commented on #1004
Hello @bourdeau It would be awesome if your team could contribute with us =D You can track the entire roadmap in the branch refactor Readme. This new version has been practically rewritten from scratch, we are using a different architecture from the current one, bringing the concept of blueprints into the project, and thus gaining much more extensibility in Thumbor.

Let me know if you need anythi

[2019-06-10 15:42] icoum opened #1199 "HTTP loader still working when disabled."
Hello !

First, thank you for your tool, i'm amazed by how well it works.

However, I do have a little problem. It may be a misunderstanding from my side.
I want to use file-loader, and disable http-loader.
Thus, I have set LOADER variable to 'thumbor.loaders.file_loader'.

### Expected behaviour
Requests with filesystem path should work. (Ex: like http://my-server/my/file.jpg)
Requests with http

[2019-06-10 23:08] cristiandean commented on #1199
Hello @icoum, thanks =)?

I just tested Thumbor in the latest version (6.7.0) and everything seems to work fine. Using your configuration file I am not able to use http path. You could confirm me which version you are using and try to clean the `/home/thumbor/` directory again.

Just one more question, how are you running thumbor?

[2019-06-10 23:29] icoum commented on #1199
Hi again,

I guess I'm using quite an unique way of running thumbor :
- I'm using a raspberry pi, with Raspbian 9 (Stretch) installed
- I couldn't make a docker way working, for architecture reasons (I'm not sure about the details, but my pi is running an arm architecture, which is not compatible with the available images)
- I couldn't make the `apt-get install` way working, since the thumbor deb

[2019-06-11 14:07] mrconnectik opened #1200 "HTTP 599: Connection closed - On big size images (between 100mb and 200mb)"
### Thumbor request URL
The request url for the issue you are having, you can swap the host name with a fake

Load big size images (between 100mb and 200mb) from AWS S3 bucktet to Thumbor server

### Expected behaviour
Tell us what should happen

Images size between 100 and 200mbn load from AWS S3 bucket to Thumbor and compress.

### Actual behaviour
Tell us what happens instead

We got this error

[2019-06-11 22:00] cristiandean commented on #1199
You said you tried to flush your result storage. Have you done the same with FILE_LOADER_ROOT_PATH?

[2019-06-11 22:36] icoum commented on #1199
Yeah ! Got it thanks to you.

I found it awkward to flush FILE_LOADER_ROOT_PATH since this is where I get my images in the first place, but I tried still.
And then... thumbor still works completely well. I can still access my images from file loader or http loader, even though I have not a single image in my FILE_LOADER_ROOT_PATH.

Actually, I found out that all the images I had already accessed w

[2019-06-11 23:19] cristiandean commented on #1199
@icoum I'm glad to have helped =)

I think for you it makes sense to use no_storage as your STORAGE. Just be aware that STORAGE can be used for other things, this is the case of `thumbor.storages.mixed_storage` that allows you to save the crypto key and detecting detection results from the original file.

If you believe that these things will not be necessary to you, feel free not to use them.

[2019-06-12 05:56] rsandeepm2512 opened #1201 "Thumbor returns 400 Bad request for image URL starting http://"
### Thumbor request URL
http://localhost:8000/unsafe/112x170/smart/https://cdn.urlencoder.org/assets/images/url_fb.png

### Expected behaviour
I should get the cropped image with size 112x170

### Actual behaviour
Thumbor returns 400 Bad request.
LOG says: **Request denied because the specified path "https%3A/cdn.urlencoder.org/assets/images/url_fb.png" was not identified by the loader as a valid

[2019-06-12 06:31] icoum commented on #1199
Thanks a lot, I'm closing the issue, bye !

[2019-06-12 06:31] #1199 closed

[2019-06-12 07:38] rsandeepm2512 commented on #1201
Sorry, the issue was with the nginx which was changing https:// to https:/
Fixed by making changes in nginx

[2019-06-12 07:38] #1201 closed

[2019-06-12 10:17] sharmi1206 opened #1202 "Thumbor gives 404 with cloudfront url"
### Thumbor request URL
"http://127.0.0.1:8000/unsafe/300x200/https://d2g8k5etdq356c.cloudfront.net/sample.jpg”
 or with encoded URL
 "http://127.0.0.1:8000/unsafe/300x200/https%3A//d2g8k5etdq356c.cloudfront.net/sample.jpg"

### Expected behaviour
As https://d2g8k5etdq356c.cloudfront.net/sample.jpg should be accessible thumbor should return proper 200 ok

### Actual behaviour :
Getting 404 Not Fou

[2019-06-12 12:22] eenchev opened #1203 "README example does not work - expired image"
### Thumbor request URL
http://<thumbor-server>/300x200/smart/s.glbimg.com/et/bb/f/original/2011/03/24/VN0JiwzmOw0b0lg.jpg

### Expected behaviour
Smart scale the image to 300x200 pixels size

### Actual behaviour
HTTP Response 400, as there is no image on that URL anymore

### Operating system
Irrelevant

### Your thumbor.conf
Irrelevant

[2019-06-17 22:03] okor opened #1204 "EXIF parsing causing memory explosion"
# Thumbor request URL
The request url for the issue you are having, you can swap the host name with a fake
`http://thumbor-host.com/unsafe/1400x0/filters:no_upscale()/file-host.com/GettyImages_539746540.jpg`

Here is the image with corrupted/invalid EXIF data used in the example request
[GettyImages_539746540.jpg.zip](https://github.com/thumbor/thumbor/files/3299001/GettyImages_539746540.jpg.zip)

[2019-06-18 19:13] kkopachev commented on #1204
Probably one of the reasons there is a dependency on piexif is because it can be used with different engines.

I did a quick check and didn't found a place where it reads exif data. I see it's doing it in no_upscale filter and conditionally in transformer.

[2019-06-19 07:17] neekey opened #1206 "gif image flashes"
### Thumbor request URL
The request url for the issue you are having, you can swap the host name with a fake

https://d1hjm9fqhagczz.cloudfront.net/workspace_template_thumbnails/08b27aa02a9a4d7d8157380f9b4dd732.gif

### Expected behaviour
Tell us what should happen

It should looks normal

### Actual behaviour
Tell us what happens instead

The gif image flashes

### Operating system

it's a lambda

[2019-06-19 10:35] mariansedivy commented on #1188
Nobody has a solution, please?

[2019-06-21 00:07] kkopachev commented on #1206
Serverless Image Handler  recently got an update and new version does not use Thumbor anymore, but uses SharpJS instead.
If yours is still using Thumbor, you might to try to enable gifsicle engine.

[2019-06-21 00:16] kkopachev commented on #1188
@mariansedivy can you show code for php ImageMagick you used?

[2019-06-25 13:14] mariansedivy commented on #1188
Hello @kkopachev, thank you. I will look at it. I'm using php-imagick, but there is nothing special. I just load image, stripImage() to remove EXIF, setImageCompressionQuality(), setInterlaceScheme(Imagick::INTERLACE_PLANE), cropThumbnailImage() to resize it and then setImageFormat(JPEG). That's all.

[2019-06-25 14:38] mariansedivy commented on #1188
Hello, I was trying to set `PILLOW_JPEG_QTABLES`, but I get this error:

[code]

[2019-06-25 15:36] okor commented on #1204
@kkopachev I attempted to replicate backwards compatible EXIF processing using only Pillow - but failed. Ingesting the EXIF data is trivial but the trouble comes when it comes time to modify/save the EXIF data as part of reorientation. Pillow can _read_ EXIF data via several different methods ... but there is no built in way to encode any modifications to the EXIF struct back to the hex format. Ev

[2019-06-25 16:52] okor commented on #1204
I just had another idea which might be preferable. What if we used `cgroups` to isolate and limit EXIF/piexif operations? It looks like there are some python libraries available. Using this solution we could keep piexif. Thoughts?

[2019-06-25 16:56] kkopachev commented on #1188
Try setting it as ‘“keep”’

[2019-06-25 18:40] kkopachev commented on #1204
pyexiv2 is already optional dependency for additional metadata https://github.com/thumbor/thumbor/blob/bf92bb033507cb1df7facb8a651fcf6ada22e942/thumbor/engines/__init__.py#L20 and docs https://github.com/thumbor/thumbor/blob/b4096a957b8ea2420ea2d91818129dbc482c1ca6/docs/metadata.rst

[2019-06-25 18:47] kkopachev commented on #1204
@okor Pillow seems to have `exif_transpose` method now, which effectively manipulates orientation value of exif data and writes back modified exif - https://github.com/python-pillow/Pillow/blob/a986fed5b445bc9586476167b08d46e19cba1bbc/src/PIL/ImageOps.py#L523

[2019-06-26 07:54] mariansedivy commented on #1188
This worked, but again, processed image is bigger than original. It ignores quality filter same as `PILLOW_JPEG_SUBSAMPLING=0`

[2019-06-26 14:41] okor commented on #1204
@kkopachev I like your idea of upgrading Pillow to 6.0.0. I think I'm going to give it a shot. It may take a few PRs though. Thanks for pointing out `exif_transpose`!

[2019-06-26 20:08] kkopachev commented on #1204
For older pillow versions we can probably manually patch raw exif data to change orientation bit. Something like https://github.com/uploadcare/pillow-simd/commit/83cdbc0de5f77d5c29cb15370e8733e8b24bd08b so we can keep older pillows working too, but drop piexif dependency.

[2019-06-26 20:22] heynemann commented on #1204
Looks good!!!

Great work everyone!

On Wed, 26 Jun 2019 at 21:08 Konstantin Kopachev <notifications@github.com>
wrote:

--
Bernardo Heynemann

[2019-06-28 19:56] Salcave commented on #412
Is this not going to be implemented at all?

[2019-07-02 18:46] kkopachev commented on #412
@Salcave see #1163

[2019-07-30 03:11] sbhatiya opened #1211 "Failed to stop thumbor.service: Unit thumbor.service not loaded."
When I tried to start the thumbor service with command "sudo service thumbor start" getting this error and If run "sudo apt-get update" command getting this error(Err:11 http://ppa.launchpad.net/mutate/ppa/ubuntu bionic Release
  404  Not Found [IP: - ]
Err:12 http://ppa.launchpad.net/thumbor/ppa/ubuntu bionic Release
  404  Not Found [IP: -]
Reading package lists... Done
E: The repository 'http:/

[2019-07-30 22:57] kkopachev commented on #1211
You should install thumbor using pip or use [pre-built docker image ](https://github.com/MinimalCompact/thumbor)
Seem like ppa was not updated in a long time.

[2019-08-02 13:23] caeugusmao commented on #1203
@eenchev The original image does not exist and you have to add "unsafe" in the url at least.

http://unsafe/300x200/smart/s.glbimg.com/et/bb/f/original/2011/03/24/VN0JiwzmOw0b0lg.jpg

[2019-08-02 20:16] bagipriyank opened #1212 "any plans to allow pillow 6.1.0?"
There was a bug in pillow (https://github.com/python-pillow/Pillow/issues/3161). It seems like it is resolved in Pillow 6.1.0 but thumbor 6.7.0 doesn't allow pillow >= 6.0.0. Can we upgrade version of pillow used with in thumbor?

[2019-08-02 20:42] bagipriyank opened #1213 "is it possible to do transparent gradient with thumbor"
essentially what i want to be able to do is https://www.mediacollege.com/adobe/photoshop/transparent/gradient.html

i am wondering if this should be possible with watermark filter?

[2019-08-04 08:18] liorkleinman opened #1214 "mongo"
### Thumbor request URL
The request url for the issue you are having, you can swap the host name with a fake

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Operating system
OSx, Ubuntu, etc

### Your thumbor.conf
Your config file (WARNING: replace your SECURITY_KEY key with a dummy key or your key will become public)

[2019-08-04 08:18] #1214 closed

[2019-08-04 08:20] liorkleinman opened #1215 "mongodb storage issue"
I'm trying to use Thumbor 6.3.0 with MongoDB storage.
I defined the storage configuration as specified in Thumbor documentation:

STORAGE='thumbor.storages.mongo_storage'
UPLOAD_PHOTO_STORAGE='thumbor.storages.mongo_storage'
MONGO_STORAGE_SERVER_HOST='myHost'
MONGO_STORAGE_SERVER_PORT='27017'
MONGO_STORAGE_SERVER_DB='thumbor'
MONGO_STORAGE_SERVER_COLLECTION='images'

After installing thumbor_mongo

[2019-08-11 17:51] gingerlime commented on #1132
@kkopachev and me are maintaining https://github.com/MinimalCompact/thumbor and it's fully auditable and community-driven. We welcome contributions and it's actively maintained and updated in-line with thumbor. I'd be more than happy to add more members who show commitment and can contribute to the project with commit access as well.

[2019-08-13 07:27] muratcorlu commented on #786
Example of AWS is now using SharpJS instead of Thumbor. To see the latest version of Thumbor version you can check v3.1: https://github.com/awslabs/serverless-image-handler/tree/f47c7c7c8a29e605921297a4bf301a24637f10b1

[2019-08-13 07:42] kkopachev commented on #1213
Should be possible. Did you try watermarking png with transparency over an image?

[2019-08-15 19:48] bagipriyank commented on #1213
I did, but it didn't produce expected result. alpha transparency doesn't seem to work the same way as it does in the tutorial above.

original:
![original](https://user-images.githubusercontent.com/3229967/63122036-afdd7980-bf5a-11e9-817a-d056c168818c.jpg)

image used for gradient alpha:
![gradient](https://user-images.githubusercontent.com/3229967/63122062-be2b9580-bf5a-11e9-99f5-61ce9b833ae9.png

[2019-08-23 07:38] stringang commented on #984
I also have this problem, after changing the default settings to solve.
 `USE_GIFSICLE_ENGINE=True`

[2019-08-23 09:08] JohnHenryEden opened #1216 "Error with running thumbor"
I tried to start thumbor but turns up with error: pkg_resources.DistributionNotFound: thumbor==6.5.2

[2019-08-23 09:09] JohnHenryEden commented on #1216
I run on centos 6 and I have upgraded python to 2.7

[2019-08-23 09:12] JohnHenryEden commented on #1216
full stacktrace:
[code]

[2019-09-04 23:24] bagipriyank commented on #1212
trying again

[2019-09-05 17:30] dapi opened #1218 "Wrong URL escaping"
### Thumbor request URL

`http://aws.kiiiosk.store/uploads/shop/575/uploads/product_image/image/469651/365-%D1%87%D0%B8%D0%B0-%D0%BA%D0%B0%D1%80%D0%B0%D0%BC%D0%B5%D0%BB%D1%8C-1280-81-%D0%BA%D0%B2.jpg`

### Expected behaviour

Thumbor retrieves `/uploads/shop/575/uploads/product_image/image/469651/365-%D1%87%D0%B8%D0%B0-%D0%BA%D0%B0%D1%80%D0%B0%D0%BC%D0%B5%D0%BB%D1%8C-1280-81-%D0%BA%D0%B2.jpg`

###

[2019-09-15 22:47] #1212 closed

[2019-09-16 18:31] bagipriyank commented on #1212
when will it be released?

[2019-09-23 17:46] bagipriyank commented on #1202
try with ```LOADER = 'thumbor.loaders.http_loader'```

[2019-09-25 16:16] okor commented on #1211
Closing this as the issue seems have been solved. The solution being `install thumbor via pip or use a prebuilt docker image`

[2019-09-25 16:16] #1211 closed

[2019-09-25 16:17] okor commented on #1216
^ As indicated by the comment above, the issue seems have been solved. The solution being `install thumbor via pip or use a prebuilt docker image`.

[2019-09-25 16:17] #1216 closed

[2019-09-25 16:20] okor commented on #1204
The solution to this issue is in a pending pull request: https://github.com/thumbor/thumbor/pull/1210

[2019-09-25 16:20] #1204 closed

[2019-09-25 16:22] okor commented on #1145
Closing because this is very old and hasn't had any activity in a long time.

[2019-09-25 16:22] #1145 closed

[2019-09-25 16:25] okor commented on #583
Closing due to inactivity.

[2019-09-25 16:25] #583 closed

[2019-09-25 16:30] okor commented on #586
Pillow has since rewritten CMYK to RGB color conversion https://github.com/python-pillow/Pillow/pull/2699 and this issue has been inactive for quite a while, so I'm closing.

[2019-09-25 16:30] #586 closed

[2019-09-25 16:33] okor commented on #666
Closing due to inactivity and probably this issue was experience due to a lack of encoding and/or server configuration. See https://github.com/thumbor/thumbor/issues/1064#issuecomment-388978852

[2019-09-25 16:33] #666 closed

[2019-09-25 16:35] okor commented on #1202
Closing due to inactivity and the above comment should fix the issue.

[2019-09-25 16:35] #1202 closed

[2019-09-25 16:37] okor commented on #1206
Closing since this doesn't appear to be relevant to Thumbor.

[2019-09-25 16:37] #1206 closed

[2019-09-26 04:35] hrhitesh opened #1219 "Watermark does not works with alpha property"
### Thumbor request URL
https://upload.xxxxx.com/unsafe/300x300/filters:watermark(https://upload.xxxxx.com/unsafe/100x100/cat.jpeg,10p,20p,80,10,10)/cat.jpeg

### Expected behavior
It should return an image with 80% opacity of the watermark.

### Actual behaviour
It does not return image and giving error '400: Bad Request'

### Operating system
Ubuntu

### Your thumbor.conf
Your config file (WARNI

[2019-09-26 04:40] hrhitesh opened #1220 "How do i apply image filter to another uploaded image path?"
Hi All,

I want to apply Thumbor image filter to another image which is stored in another server.
For example:
My Thumbor server URL is:
[My Thumbor](https://myupload.example.com)
And the image path, to which I want to apply the filter is
[My Exiting image](https://myimage.example.com/my.jpeg)

How do apply the Thumbor filter on this existing image?

Thanks

[2019-09-27 05:24] hrhitesh commented on #1039
I have the same issues that I can not upload the SVG file using the curl command.
Here is my CURL:
curl -v -i -XPOST https://myupload.example.com/image -F "media=@test.svg" and it gives me the error
< HTTP/1.1 415 Unsupported Media Type
HTTP/1.1 415 Unsupported Media Type

[2019-09-30 20:02] terion-name opened #1221 "Installation docs are outdated and don't work"
Installation docs are outdated and don't work.

How to install thumbor on Ubuntu 18.04 not with docker? pip worked but service is not created, I can't setup startup, can't find how to set key. No answers in the docs or in internet.

Please, can you write down instructions and update docs?

[2019-10-01 12:09] cristiandean commented on #1221
What error are you having?

[2019-10-01 13:32] terion-name commented on #1221
@cristiandean
- ppa has no bionic release
- pip install does not create system service — I can start it manually with `thumbor` command but can't make it start with system (maybe can be done with supervisord) and no `/etc/thumbor.key` file, etc

just try to install it on ubuntu 18 (in vagrant for example) using instructions in documentation — no luck

[2019-10-04 23:36] bagipriyank commented on #1219
https://upload.xxxxx.com/unsafe/300x300/filters:watermark(https://upload.xxxxx.com/unsafe/100x100/cat.jpeg,10p,20p,80)/cat.jpeg should work. try that

[2019-10-06 09:43] gingerlime commented on #1221
I would plug https://github.com/MinimalCompact/thumbor as an easy way to get thumbor up and running.

[2019-10-07 08:39] terion-name commented on #1221
@ggilder I was asking about how to doo this without docker

[2019-10-07 09:04] gingerlime commented on #1221
@terion-name I would still recommend docker, to make things easier. But you can also look inside the project and see how thumbor and its dependencies are installed (within the Dockerfiles), to get an idea.

[2019-10-07 09:31] ekapratama93 opened #1223 "Error when using filter:fill(blur)"
### Thumbor request URL
http://example:8888/unsafe/fit-in/300x300/filters:fill(auto)/https://github.com/thumbor/thumbor/wiki/tom_before_brightness.jpg

### Expected behaviour
Should be able to return as the [doc](https://thumbor.readthedocs.io/en/latest/filling.html)

### Actual behaviour
Got Error
2019-10-07 09:20:28 tornado.application:ERROR Future exception was never retrieved: Traceback (most

[2019-10-07 13:19] jyrkih commented on #1144
We forked it, too. I'd say Lambda is ok in "99%" of cases. And very economical. The problem is that 1% which in our case typically means that huge png/gif file processing fails due to either 1) out of memory (3008MB), or 2) out of execution time (<30s). Also 6MB response size is an issue, we go around that by setting max_bytes filter accordingly. But due to these limitations, I think Fargate would

[2019-10-07 13:52] ekapratama93 commented on #1223
We use 6.7.0 and not realize that fill with blur is not yet released.

[2019-10-07 13:52] #1223 closed

[2019-10-09 02:26] cristiandean commented on #1221
@terion-name I recommend using the Supervisor, we use it at globo.com and it works very well.

[2019-10-09 02:30] cristiandean commented on #1220
Just append image url using **http_loader**.

https://myupload.example.com/unsafe/200x200/filters:filterName(filterParams)/https://myimage.example.com/my.jpeg

[2019-10-10 00:34] bagipriyank commented on #1212
@cristiandean any idea about when the next release will happen?

[2019-10-10 12:34] BigFoppa opened #1226 "thumborize.me is not working"
Just wanted to explore what thumbor could do.

But it is not working. I can see you have old reports that are closed with same issues. 502 on load of the static images and 500 on analyze site.

/Big

[2019-10-16 12:50] marcelometal commented on #1226
Hi @BigFoppa , done! Thank you!

[2019-10-16 12:50] #1226 closed

[2019-10-18 13:30] adrianoresende commented on #1226
Why this URL (https://br.ciandt.com/sites/br.ciandt.com/files/public/2019-05/Facebook_Linkedin%20(2).png) doesn't work? I tested with 4 images and it doesn't work.

[2019-10-22 16:42] jimas14 opened #1227 "ALLOW_ANIMATED_GIFS=False not enforced if USE_GIFSICLE_ENGINE=True"
### Thumbor request URL
N/A

### Expected behaviour
I should be able to exclude animated gifs from being resized while still using the gifsicle engine for resizing static gifs.

If I have ALLOW_ANIMATED_GIFS=False and USE_GIFSICLE_ENGINE=True, I should see animated gifs get resized to their first frame, while still having gifsicle engine work on resizing static gifs.

### Actual behaviour
Only whe

[2019-10-23 01:16] sten0 commented on #1004
Hi @cristiandean,  What is the status of the Python 3 port at https://github.com/thumbor/thumbor/tree/refactor ?  I worry the package will be removed from Debian in the next month or two.  https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=935450

[2019-10-23 02:42] andreportela commented on #1004
Can it be released as is? Maybe the first python 3 version doesn't even need to have feature parity with the 2.7 version. Basic stuff like a naive crop and resize already cover a lot of use cases.

[2019-10-23 07:17] ankushtake opened #1229 "wide angle camera image is getting rotate"
I have captured image in mobile with wide angle camera option and when i am trying to resize it using thumbor it's getting rotate

[2019-10-23 19:16] kkopachev commented on #1229
Try setting `RESPECT_ORIENTATION = True` in config.

[2019-10-24 05:52] ankushtake commented on #1229
@kkopachev Thanks
issue solved by adding RESPECT_ORIENTATION = True in config file

[2019-10-24 05:53] #1229 closed

[2019-11-04 13:55] timrobertson100 commented on #684
Time to revisit this? I see Zenodo have implemented it now for example.

Pan and zoom (similar to map tiles) and standardized thumbnailing are the two use cases we'd appreciate for dealing with specimen image data. [example here](https://www.gbif.org/occurrence/gallery?basis_of_record=PRESERVED_SPECIMEN&taxon_key=4342)

[2019-11-06 17:10] IlCallo commented on #1221
I second this issue: `Errore:6 http://ppa.launchpad.net/thumbor/ppa/ubuntu bionic Release 404  Not Found [IP: 91.189.95.83 80]` appears when trying to install Thumbor from `apt-get`

[2019-11-06 17:16] IlCallo commented on #1221
Seems broken also using `pip` installation, I get
[code]

[2019-11-06 17:50] IlCallo commented on #1221
I managed to make it work someway.
I had to install all dependencies listed under "Alternative installation" on docs, except `libjasper-dev` which is not present anymore: `sudo apt install ffmpeg libjpeg-dev libpng-dev libtiff-dev libgtk2.0-dev python-numpy python-pycurl webp python-opencv python-dev python-pip`.
I also installed all dependencies listed into the [docker Dockfile](https://github.co

[2019-11-11 09:03] IlCallo commented on #1221
[This article](https://web.dev/install-thumbor/) can be useful

[2019-11-14 12:04] DWNEWS-liuyuan opened #1233 "HMAC签名验证失败"
发现签名串中包含'+' ，'/'，时验证签名失败，例如:********+HKD6LbqDZXPs=  ,我们尝试使用encode签名串后依然是验证失败

[2019-11-14 14:46] #1233 closed

[2019-11-15 02:08] DWNEWS-liuyuan opened #1234 "HMAC sign fail"
Thumb tip HMAC sign fail When it is found that the signature string contains + or /  the signature verification fails, for example: ***** + hkd6lbqdzxps =, we still fail after trying to use encode signature string

[2019-11-15 13:01] DWNEWS-liuyuan commented on #1234
The problem has been solved

[2019-11-16 00:19] #1234 closed

[2019-11-27 01:30] Manish-Muttreja-Bose opened #1236 "Image is getting cropped accidentally."
### Thumbor request URL
(host removed) https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png image gets cropped when you select 100x100 or 1000x1000 sizes.

### Expected behaviour
Image should get resized properly

### Actual behaviour
Image gets cropped on sides
1000x1000 -> <img width="1015" alt="Screen Shot 2019-11-26 at 8 28 29 PM" src="https://user-images.githubus

[2019-11-27 01:40] cristiandean commented on #1236
You can try using fit-in:

**full-fit-in**

http://thumbor.thumborize.me/unsafe/full-fit-in/100x100/https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png

http://thumbor.thumborize.me/unsafe/full-fit-in/1000x1000/https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png

or

**adaptive-fit-in**

http://thumbor.thumborize.me/unsafe/fit-in/100x10

[2019-11-27 15:52] Manish-Muttreja-Bose commented on #1236
Thanks a lot, that works !

[2019-11-27 15:52] #1236 closed

[2019-11-28 10:40] #1220 closed

[2019-11-28 21:42] Anbool opened #1237 "Filters don't work properly in MinIO"
Thank you very much for providing excellent Thumbor, it is very powerful and easy to use. But it has some problems, and when I tried many solutions, I still didn't solve it, which made me very tired.

### Thumbor request URL

https://pp.xyz.com

### Expected behaviour

Minio is compatible with s3 protocol, I hope Filters works fine on Minio.

### Actual behaviour

I installed Thumbor using pip,I u

[2019-12-01 11:42] abhisheksoni27 opened #1238 "Can I unhash the file names?"
Thumbor is storing the filenames different from the keys I get. I am unable to use thumbor to fetch the images but I do have access to all the images thumbor saved.

Is there way to unhash the image file names stored on disk to get the original name?

[2019-12-01 11:43] abhisheksoni27 commented on #1238
If that cannot be done, can you please help me get thumbor up and running again?

[2019-12-01 11:43] abhisheksoni27 commented on #1238
Here's my thumbor.conf file:

[code]

For every URL, I get 404 back.

[2019-12-03 20:06] kkopachev commented on #1237
filter name should have `()` after it.

This won't worl: http://thumbor.thumborize.me/unsafe/full-fit-in/100x100/filters:grayscale/https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png

but this works: http://thumbor.thumborize.me/unsafe/full-fit-in/100x100/filters:grayscale()/https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png

try this:

[2019-12-04 05:19] Anbool commented on #1237
Thank you very much for your help, this method perfectly solved my problem, thank you.

[2019-12-04 08:15] #1237 closed

[2019-12-05 18:19] shurik opened #1239 "Feature question"
Is it possible to change a 300 dpi image to a 72 dpi image using thumbor?

[2019-12-10 01:27] andersk opened #1240 "Cut a release for Pillow 6.x security updates"
The current release, Thumbor 6.7.0, still requires `Pillow>=4.3.0,<6.0.0`, which means it can’t be used with current 6.x releases of Pillow that include a security update (CVE-2019-16865). This requirement was updated in master by #1217 and #1232. Please upload this update to PyPI, so that users who get Thumbor from PyPI aren’t stuck on a vulnerable version of Pillow.

[2019-12-19 18:57] MrCoding commented on #980
I fully understand why not to use the 'unsafe' part in a production environment. But to be sure DDoS attacks are not interfere my public Thumbor services I tested it very carefully and - for now - it looks like DDoS attacks are almost impossible to harm my services. (Never got any issues. Not yet!)

If you like to use this public (free and fully featured) service you are welcome at :

Link : https

[2019-12-19 19:37] MrCoding opened #1242 "Using Unsafe Url Part In Production Environment"
I fully understand why not to use the 'unsafe' part in a production environment. But to be sure DDoS attacks are not interfere my public Thumbor services I tested it very carefully and - for now - it looks like DDoS attacks are almost impossible to harm my services. (Never got any issues. Not yet!)

If you like to use this public (free and fully featured) service you are welcome at :

Link : https

[2019-12-27 20:33] timgates42 opened #1243 "Fix simple typo: transparant -> transparent"
There is a small typo in thumbor/engines/extensions/pil.py.
Should read `transparent` rather than `transparant`.

[2020-01-13 10:51] garchaaman19 commented on #1226
http://thumborize.me/ Is not working. It's showing error could not reach the site.
Can anyone help?

[2020-01-13 18:04] marcelometal commented on #1226
@garchaaman19 thank you, I will fix it soon

[2020-01-15 10:50] ediazcomellas opened #1245 "Add a fallback image for inexistent files"
### Expected behaviour
When a request is made for a non existent file, I want to show a generic image. This way I can have  a fallback for ecommerce sites that show a default image and not an error. This must be optional, as it is an specific use case.

[2020-01-15 18:54] kkopachev commented on #1245
I think you should use reverse proxy for that.
With nginx would be something like
[code]

[2020-01-15 23:31] ediazcomellas commented on #1245
But in that way the default image is not resized or filtered as thumbor does.
I think that having this in thumbor makes it simpler (only one piece of software) and more consistent.

[2020-01-15 23:32] ediazcomellas commented on #1245
BTW, I already produced a pull request for this.

pull request #1246

[2020-01-16 14:21] liorkleinman opened #1248 "Unable to delete Images from S3 storage"
I am working with thumbor 6.7.0, and configured the storage to Amazon S3:

STORAGE = tc_aws.storages.s3_storage
UPLOAD_PHOTO_STORAGE = tc_aws.storages.s3_storage
AWS_ACCESS_KEY="myAccessKey"
AWS_SECRET_ACCESS_KEY="mySecretKey"
TC_AWS_STORAGE_BUCKET="myBucket"
SECURITY_KEY="mySecurityKey"
UPLOAD_DELETE_ALLOWED=True
UPLOAD_ENABLED=True

Images successfully stored in my S3 bucket, but are not deleted

[2020-01-22 02:18] centminmod opened #1249 "WARNING Malformed URL for secure encoded urls"
First timer installing Thumbor on virtualbox guest CentOS 7.7 server and seem to be getting malformed url errors when trying to manually encode secure urls ?

Unsafe urls seem to work though.

[code]

### Thumbor request URL

https://servermanager.guide/wp-content/uploads/2019/07/cloudflare-origin-pulls-ssl-01.png

### Expected behaviour

secure encoded urls should work

### Actual behaviour

[cod

[2020-01-29 13:36] #1243 closed

[2020-01-30 11:13] lyrixx commented on #984
I'm closing it because I don't need it anymore and the issue is too old

[2020-01-30 11:13] #984 closed

[2020-01-30 14:56] jurrid commented on #1239
+1

[2020-02-03 00:32] jangrewe opened #1252 "Thumbor + remotecv does not save result"
### Thumbor request URL
https://thumbor.example.com/unsafe/256x256/smart/assets.example.com/foobar.jpg

### Expected behaviour
Thumbor should save the result after complete detection by remotecv and then serve that.

### Actual behaviour
Thumbor queues the image for detection on every request, even after remotecv succesfully processed it (according to the Redis DB content and `debug` log output)

[2020-02-05 22:25] heynemann opened #1254 "Create routers concept"
Routers should allow extensibility with URLs in thumbor.

Routers should be automatically loaded by thumbor's importer and should be added in the config file.

A router is a class like this:

[code]

Upon initialization, thumbor should run all routers and merge routes in order.

This will unblock the removal of the upload feature from thumbor without a de-feature to the community (people can just

[2020-02-05 22:37] heynemann opened #1255 "Improve Maintainability"
Code Climate has a deep analysis of maintainability issues with thumbor here https://codeclimate.com/github/thumbor/thumbor

Some of them are fairly easy to fix and would be a great way to get started with thumbor's codebase.

[2020-02-05 22:38] heynemann opened #1256 "Increase Test Coverage"
Many parts in our codebase are lacking tests.

This is a great opportunity to jump in and help thumbor without requiring in-depth knowledge about how thumbor works.

[2020-02-05 22:51] kkopachev commented on #1256
There should be code coverage map somewhere showing which code is not executed during test run.

[2020-02-07 08:59] calind opened #1258 "Cache the detector results"
Is it possible to cache only the results of the detectors?

I’m asking this because I need to serve few different sizes of the same image and I’m under the impression that the detectors run for each size.

What I’m trying to achieve is a pipeline like this:
1. User uploads a photo
2. When upload is complete, I hit the metadata endpoint to prime the cache
3. Now, requests can come in for any thumbn

[2020-02-07 20:11] heynemann commented on #1258
Detectors are not cached based on different sizes. They are run in the original, so they are already cached independently of the size.

[2020-02-10 19:47] kkopachev commented on #1240
Fixed in 6.7.1

[2020-02-10 19:47] #1240 closed

[2020-02-13 05:28] tony612 opened #1260 "Could I use Thumbor as a standalone package in my own project"
Thumbor is a web server, but we want to use it in our own web applications to process images, like resizing, smart cropping. I know we can use pillow to process images, but we like Thumbor's smart cropping. But I didn't find there's an API doc for the public API to call functions of Thumbor.

Is there a way to do so?

[2020-02-13 23:08] heynemann commented on #1260
Hmmm I guess you could do it, but thumbor was never intended to be used like that. Do you think you can try with the master branch? Maybe easier and I'd be interested in how you fare with it. We maybe able to change a few things here and there and support this use case, but no promises.

[2020-02-14 03:15] tony612 commented on #1260
I can try the master branch, but I didn't see stable public API docs for functions, so I'm afraid it's hard to use it in our production system. I'll be happy to see the support for this.

Thank you all the same.

[2020-02-14 03:15] #1260 closed

[2020-02-14 22:59] heynemann opened #1263 "Update libthumbor to python 3 and modernize codebase"
libthumbor will also support python 3.7+ just as thumbor does.

[2020-02-14 23:00] heynemann opened #1264 "Update remotecv to python 3 and modernize codebase"

[2020-02-15 22:48] heynemann opened #1265 "Simple HTTP Client is broken"
While reviewing thumbor's docs I found that using tornado simple HTTP client will give random transport errors.

### Operating system
Tested on latest ubuntu.

### Your thumbor.conf
Changing:
HTTP_LOADER_CURL_ASYNC_HTTP_CLIENT = True
fixes the issues.

We must investigate this behavior and either:
* Fix Simple HTTP Client (or use something else);
* Force usage of pycurl.

[2020-02-16 00:34] heynemann opened #1266 "Modernize Docs"
Our docs are a little out of date and could use some love in organizing them.

[2020-02-21 20:51] finalfantasyfan87 opened #1268 "filters:format(png) is not working"
Our xxx-thumbor-s3-cache.conf has filters.format enabled:

FILTERS = [
    'thumbor.filters.brightness',
    'thumbor.filters.colorize',
    'thumbor.filters.contrast',
    'thumbor.filters.rgb',
    'thumbor.filters.round_corner',
    'thumbor.filters.quality',
    'thumbor.filters.noise',
    'thumbor.filters.watermark',
    'thumbor.filters.equalize',
    'thumbor.filters.fill',
    'thumbor.fi

[2020-02-23 16:07] gael-ian opened #1269 "Trying to launch thumbor with a unix socket ends with "No such device or address""
Hi,

I'm trying to make thumbor listen to an Unix socket instead of port (and to automate this _via_ systemd but that's another story).

[code]

A simple `/usr/local/bin/thumbor --fd /run/thumbor/thumbor.sock` ends the same, so I don't think it's a permission problem.

### Expected behaviour

The `--fd` option is announced to accept either a file descriptor or a path but it seems paths are not han

[2020-02-26 22:26] #1254 closed

[2020-02-26 22:43] kkopachev commented on #1269
Seems legit. I don't see a workaround.

[2020-02-26 23:09] JackHowa commented on #140
has this been updated? struggling to find documentation

[2020-02-27 03:08] tony612 opened #1270 "pycurl should be in dependencies instead of dev-dependencies"
### Expected behaviour
When I install Thumbor from source with
[code]
I found pycurl is not install, but it seems it's required to run Thumbor

### Actual behaviour
pycurl should not in dev-dependencies

### Operating system
Ubuntu

[2020-02-27 08:27] mvhirsch opened #1271 "Please document 7.0.0a1"
Just a few hours ago, 7.0.0a1 was released - yeah :tada:
But I couldn't find anything like a release note, or upgrade-plan. Neither any changelog.

The only hint I've found so far is the "warning"-box on this page: https://thumbor.readthedocs.io/en/docs-modernize/
It's stating about python3 upgrade (awesome!) and linking to the release-notes (which do not document anything :disappointed: )

Please

[2020-02-27 18:59] kkopachev commented on #140
It should just work. At least using default pil engine. You could open new issue if there is something not working.

[2020-02-27 21:48] heynemann commented on #1270
Can you test with release 7.0.0a2?

[2020-02-27 21:51] heynemann commented on #1270
Just installed in a brand new virtualenv and was able to use without pycurl (I added a warning saying that pycurl usage is advised, though).

[2020-02-27 22:48] heynemann commented on #1271
https://github.com/thumbor/thumbor/releases/tag/7.0.0a2

Maybe having an upgrade route is worth it. Will work on adding that to the docs after the release notes are done.

[2020-02-27 22:53] heynemann commented on #1271
Also the docs are up-to-date at https://thumbor.readthedocs.io/en/7.0.0a2/

[2020-02-28 13:21] heynemann commented on #1265
Fixed in 7.0.0a2.

[2020-02-28 13:21] #1265 closed

[2020-02-28 21:14] #1266 closed

[2020-02-28 21:14] #1255 closed

[2020-02-28 21:35] heynemann commented on #1263
Done with release 2.0.0 of libthumbor.

[2020-02-28 21:35] #1263 closed

[2020-02-28 21:43] heynemann commented on #1004
It's finally here! Python 3 support hit master. For more info check https://github.com/thumbor/thumbor/releases/tag/7.0.0a2

[2020-02-28 21:43] #1004 closed

[2020-02-29 01:00] finalfantasyfan87 commented on #1268
Do I need to provide more information.

[2020-02-29 06:03] kkopachev commented on #1268
Definitely needs more info.

I've tried to repro in minimalcompact docker container:
[code]
and  then in another terminal:
[code]

[2020-02-29 06:45] finalfantasyfan87 commented on #1268
Hello, what more information do you need? I noticed you’re using an unsafe image. Our images are resized with a secret key.

[2020-02-29 07:24] kkopachev commented on #1268
Unsafe should not matter in this case.
Try running thumbor with log level debug `-l DEBUG` and see what it logs when you make the request.
Here is what I see:
[code]

[2020-02-29 16:19] heynemann commented on #1269
Released under 6.7.3.

[2020-02-29 21:11] gael-ian commented on #1269
Works like a charm!
Thank you

[2020-03-02 15:41] jimas14 opened #1274 "Response body size in THUMBOR_LOG_FORMAT?"
This appears to be the list of vars available for Thumbor's log formatting https://docs.python.org/3.1/library/logging.html#formatter-objects. I know this is through the logging package, but has anyone tried adding response body size to their logging? i.e. the size of the resize output in bytes

[2020-03-02 19:37] kkopachev commented on #1274
What's your use case? Might use metrics instead?

[2020-03-02 21:23] jimas14 commented on #1274
Use case is this: We sometimes notice high CPU and slow response times for our service and 99% of the time it's caused by 1 or 2 large images whose resize load causes new requests to 504 while it's still working. To find these images we've gone into Cloudwatch insights and ran a query on the most common requests with latency > 5 seconds. It would be great if we could find the most common requests

[2020-03-02 23:11] kkopachev opened #1275 "[Feature] Add ability to run multiple processes"
There should be ability to configure how many processes of thumbor should be running on startup.
This would replace external solutions like supervisor/circus to manage thumbor processes.
This is built-in feature of tornado.
We could argue that app is asynchronous and should be just fine handling multiple requests at the same time, however there is GIL and blocking io (see file_storage). I have dou

[2020-03-03 04:32] tony612 commented on #1270
OK. It works now.

[2020-03-03 04:32] #1270 closed

[2020-03-04 14:41] jimas14 commented on #1274
@kkopachev

[2020-03-04 17:22] kkopachev commented on #1274
I saw your comment @jimas14. It makes sense now, however I don't have bandwidth to investigate further.
One more thought:
If you have nginx in front of thumbor, you could possibly configure it to report time to response (it records response bytes count by default). Would that be sufficient?

[2020-03-04 20:09] heynemann commented on #1275
I tried it with the performance tests and didn't seem to matter :(

[2020-03-04 20:11] kkopachev commented on #1275
Let's see if @gingerlime can run his test. I am skeptical that all image operations are truly async and it was confirmed by @gingerlime 's test.
I have code for this feature ready for PR, just wanted to try running the server manually before opening one.

[2020-03-05 06:46] gingerlime commented on #1275
Hey @kkopachev @heynemann. Happy to help, but not sure exactly how? The benchmark I ran on https://github.com/MinimalCompact/thumbor/issues/14 with multiple processes vs threads were only testing [a tiny subset of image operations](https://github.com/MinimalCompact/thumbor/blob/1d9d783661d2659ff416ef92ddc2b3d80aa8675e/benchmarks/locust/scripts/benchmark.py#L9-L16), but they can be extended to cove

[2020-03-05 11:23] heynemann commented on #1275
Oh, btw don't get me wrong. I'm not saying multiple processes won't speed up. That's how we ran thumbor at globo.com (24 thumbor processes per server). I'm saying that using server.start(0) didn't make any difference from server.start(1).

[2020-03-05 19:51] kkopachev commented on #1275
@gingerlime multiprocess replaces circus directly and compliments thread pool.

I suggest you can run your benchmarks using `--processes` arg when installing thumbor from my branch.
Here is a sample script to get it up and running. Adjust as needed.
[code]

[2020-03-05 19:51] kkopachev commented on #1275
@heynemann how many CPUs per server?

[2020-03-05 21:09] heynemann commented on #1275
We used to do 2 proc per cpu at globo.com, but my test was 1 per cpu.

[2020-03-06 16:41] netonevess opened #1278 "I want add in "Who's using it"!"
I want add my website https://thumbor.readthedocs.io/en/latest/whos_using_it.html

Our logo: https://cdn.dreamcasa.com.br/assets/img/logo_dreamcasa2colors.gz.svg
website is: dreamcasa.com.br

We receive images with a long size, and for a long time resize it was hard, but when we meet thumbor, it was solved!
Amazing tool.

Thank you guys!
mail me suporte@dreamcasa.com.br

[2020-03-06 17:11] rmens opened #1279 "Thumbor 6.7.3 breaks on Debian 10 and Ubuntu 18.04"
### Behaviour
After running `pip install thumbor ` and starting Thumbor 6.7.3, there are a lot of warnings about filters that can't be used:

[code]

When doing `pip install thumbor==6.7.2` on exactly the same system the warnings go away.

[code]

### Operating system
Debian 10 and Ubuntu 18.04

[2020-03-06 17:52] heynemann commented on #1279
You have to install python-dev as welll. It's not able to compile thumbor's C extensions.

[2020-03-06 17:54] heynemann commented on #1278
Just do a PR adding yourself :)

[2020-03-06 17:57] parera10 commented on #1279
I have this errors too. Also installing python-dev before. I found a workaround installing a newer version of libc.  Here you a snippet from my docker file:

`RUN \
  export DEBIAN_FRONTEND=noninteractive && \
  apt-get update && \
  apt-get install -y --no-install-recommends \
  build-essential \
  gifsicle \
  libcurl4-openssl-dev  \
  libjpeg-progs \
  libmemcached-dev \
  libssl-dev \
  python

[2020-03-06 18:22] rmens commented on #1279
Just checked. Python-dev is installed on this system.

[2020-03-06 23:35] kkopachev commented on #1279
@heynemann I think pypi has compiled extensions against py3.8 stored with 6.7.3 build of thumbor:
[code]

[2020-03-07 08:19] gingerlime commented on #1275
@kkopachev I'm trying to run those commands in the Dockerfile, but getting an error for a missing `$HOME/.poetry/env`

Here's the Dockerfile I'm trying to build

[code]

And here's the error on build:

[code]
[code]

[2020-03-07 08:51] gingerlime commented on #1275
Ok, I managed to fix/workaround this issue by tweaking a few things ... :)

Pushed to https://github.com/MinimalCompact/thumbor/tree/thumbor-7a-multiproc

I'll try to get some benchmarks running and keep you posted.

[2020-03-07 10:12] gingerlime commented on #1275
Ok, got some very initial benchmark results. Basically it works similarly to docker processes, perhaps slightly better (slightly higher req/s compared to docker processes). Intuitively it makes sense, because I imagine the docker processes / load-balancing will have a bit more overhead than internal processes.

[2020-03-07 10:50] gingerlime commented on #1275
[benchmark_stats.zip](https://github.com/thumbor/thumbor/files/4301700/benchmark_stats.zip)
[benchmark.txt](https://github.com/thumbor/thumbor/files/4301701/benchmark.txt)

[2020-03-08 13:19] gael-ian commented on #1269
After some more tests, I noticed Tornado's `bind_unix_socket` first destroy the socket then recreate it prior starting to listen. This can be a problem for someone who wants to use a socket stored in a directory where thumbor's process owner can't write, such as `/run`.

People may also want to manage the socket independantly. This allow thumbor to be restarted and bound to the same socket, able t

[2020-03-08 15:02] gael-ian commented on #1269
Thank you for reopening this issue, @heynemann.

Another problem with Tornado's socket handling: recreate sockets have their permissions set to `0600`. This prevents running the Tornado service (here thumbor) as a dedicated user while still allowing the web server to write to the socket (i.e.: with a socket owned by 'thumbor:www-data`).

[2020-03-08 15:04] heynemann commented on #1269
Thank you very much for the in-depth exploration! We really appreciate the time you took to dive into this. Do you think it would be a good idea to open an issue with these findings in tornado?

[2020-03-08 15:26] gael-ian commented on #1269
The question is: do Tornado handle sockets this way by design?
In this case, then I'm not doing something the right way and certainly miss some documentation at some point (as I don't use nor run Python apps usually, this is more than a probability).

At least, we can ask them for precisions. Do you want me to create an issue on [tornadoweb/tornado](https://github.com/tornadoweb/tornado/issues)?

[2020-03-09 13:30] heynemann commented on #1269
I think that would be a good idea!

[2020-03-09 16:32] kkopachev commented on #1269
Does not look like there is an explanation on why remove and recreate, but this seems to be where it was all added to tornado https://github.com/tornadoweb/tornado/pull/295. I say open issue with them and see what they think.

[2020-03-09 17:29] rmens commented on #1279
@kkopachev You are probably right. I just tried with very verbose mode. Thumbor 6.7.3 is indeed trying to compile the Python 3 versions of the extensions.

[2020-03-09 19:44] VoidAndAny commented on #1279
Hi, same problem here.
How can we force extensions compilation with python2?

[2020-03-09 19:56] heynemann commented on #1279
Can you try with thumbor 6.7.4, please? Just released it.

[2020-03-09 20:04] kkopachev commented on #1279
I maybe wrong about it installing only py38 binaries. Looks like it has both.
[code]
but the issue with glibc version remains.

[2020-03-09 20:04] VoidAndAny commented on #1279
Unfortunately no, same error

[2020-03-09 20:11] heynemann commented on #1279
That's very odd... I just created a version with python setup.py sdist upload :/

[2020-03-09 20:23] heynemann commented on #1279
I think I found the culprit. Can you please try with:
pip install https://github.com/thumbor/thumbor/archive/fixes/6.7.x.zip

[2020-03-09 20:54] VoidAndAny commented on #1279
Great \o/, no more ```version `GLIBC_2.29' not found``` WARNING

(just one warning left : ```2020-03-09 20:52:24 thumbor:WARNING Error importing bounding_box filter, trimming won't work``` but it's not the purpose of this issue)

[2020-03-09 20:58] heynemann commented on #1279
When installing you didn't get an error message saying "Couldn't build one or more native extensions, skipping complitation", right?

[2020-03-09 21:01] heynemann commented on #1279
Released under 6.7.5.

[2020-03-09 21:24] rmens commented on #1279
Perfect. Thanks so much for the quick response.

[code]

[2020-03-09 21:26] #1279 closed

[2020-03-09 23:10] gael-ian commented on #1269
I opened [an issue in tornadoweb/tornado](https://github.com/tornadoweb/tornado/issues/2823) to ask for more details but also discovered that [`bind_unix_socket`](https://github.com/tornadoweb/tornado/blob/master/tornado/netutil.py#L193) already accepts a `mode` parameter. The default value is `0o600` but do you think it can be changed via a command line option?

This way, even if Tornado keeps on

[2020-03-11 09:21] amanagr opened #1280 "Request for Python 3.6+ Support."
As per the release notes, thumbor now supports Python 3.7+ only. Will thumbor support Python 3.5+ in future? What problems are you guys facing when supporting python 3.5+?

I am one of the contributors from Zulip(https://github.com/zulip) and we would love to have Python 3.5+ support in thumbor as we rely on thumbor heavily.

[2020-03-11 17:44] timabbott commented on #1280
To provide a bit of background, Zulip doesn't ship its own Python -- we use whatever comes with the base OS.  So the requirement for Python 3.7+ only means that we'd need to switch to bundling Python, since even the latest Ubuntu LTS (18.04) has only 3.6.

I think Thumbor should follow the standard for other Python packages of supporting everything that's not EOL.  In case 3.5 is technically diffi

[2020-03-11 17:58] heynemann commented on #1280
Would you be willing to help with supporting 3.6? I don't think it's hard, there was something that was not working in 3.6 that made us switch to 3.7, but it was a minor thing.

[2020-03-11 19:49] timabbott commented on #1280
I won't speak for @amanagr but I expect so!

Do you expect we'll find any issues by just running the thumbor test suite, or is there another process you'd use for verifying work on this?

[2020-03-11 20:22] heynemann commented on #1280
I’d run pylint

[2020-03-12 04:06] amanagr commented on #1280
I will try to help support python 3.6. Let me locate the issue first with py3.6.

[2020-03-12 05:33] amanagr commented on #1280
I think the issue is this:
[code]
`get_running_loop` function is new in python 3.7 as per docs: https://docs.python.org/3/library/asyncio-eventloop.html#asyncio.get_running_loop

I will try and see how we can work around it.

[2020-03-12 16:49] jimas14 commented on #1274
@kkopachev I appreciate your help. Can those nginx values be injected to the log format for the application? The goal here is to get response bytes included in the application log itself.

[2020-03-12 21:10] arpit551 commented on #1279
@heynemann  Regarding the last warning ```thumbor:WARNING Error importing bounding_box filter, trimming won't work``` whats the solution?. I was trying to run on Ubuntu 20.04 daily build and got the same warning. Does bounding_box filter require any dependency that will be missed in the Ubuntu 20.04?

[2020-03-13 11:59] gael-ian commented on #1269
Got an answer from @ploxiln in [the tornadoweb/tornado issue](https://github.com/tornadoweb/tornado/issues/2823):

So people can either:

* Start a Tornado app with a network socket and only mind about port collision
* Start a Tornado app with a path as Unix socket descriptor and let Tornado handle the whole socket life cycle in a writable directory
* Use `systemd` (or Supervisor or anything else)

[2020-03-13 17:27] gael-ian commented on #1269
To try to summarize:

* `thumbor --ip 127.0.0.1 --port 12`: will bind thumbor to an AF_INET | AF_INET6 socket opened automatically by Tornado _via_ its `HTTPServer.bind()` method.
* `thumbor --fd /path/to/sock`: will let Tornado handle recreation of a AF_UNIX socket _via_ `bind_unix_socket` (in Tornado's netutils.py).
* `thumbor --fd N`: is [handled by thumbor in server.py](https://github.com/thum

[2020-03-16 13:53] kkopachev commented on #1280
try `tornado.ioloop.IOLoop.current()`

[2020-03-17 19:16] kkopachev commented on #1274
I am not quite sure, but looks like it's impossible in stock thumbor.
access lo logging is done in tornado's [tornado.web.Application.log_request](http://www.tornadoweb.org/en/stable/web.html#tornado.web.Application.log_request). You can define your own Application instance and override the method, or in your instance pass log_function as keyword argument.

There was a way somewhere to run thumbor

[2020-03-18 12:28] MrTango commented on #1004
Would be nice if the PyPi classifiers could be updated, so that people can see that it has Python3 support now ;).
Right now it just says Python2.7:
"Programming Language :: Python :: 2.7",

[2020-03-18 13:21] hugovk commented on #1004
Good idea, please see PR https://github.com/thumbor/thumbor/pull/1283 which also adds `python_requires` to help pip.

[2020-03-18 21:51] heynemann commented on #1279
Still gotta check why that's the case.

[2020-03-18 21:54] #1275 closed

[2020-03-19 16:00] #1280 closed

[2020-03-20 03:38] liuxue0905 commented on #803
mac OS has same problem

[2020-03-20 23:34] heynemann commented on #803
Just tried with both thumbor python 2 and thumbor python 3 and both worked perfectly! :(

[2020-03-21 07:33] mrzasan opened #1285 "It makes watermark filter abnormal when i enable plugin thumbor-video-engine"
When I enable `thumbor-video-engine`  and add `thumbor_video_engine.filters.format`, `thumbor_video_engine.filters.still` to Filters Setting, thumbor's default filter `wartermark` could not  load the background image（`yll.jpg`）, but load  watermark pic (`water_logo.png`) twice .
Url:`http://minio_host/unsafe/filters:watermark(images/water_logo.png,-10,-10,50)/thumbor-docker/2020/01/17/yll.jpg`
And

[2020-03-21 15:11] heynemann commented on #1285
I think you need to create this issue with thumbor-video-engine.

[2020-03-21 15:11] #1285 closed

[2020-03-27 18:39] JackHowa commented on #140
working -- my bad, was looking in the wrong place. Thanks

[2020-03-28 04:49] TigersWay opened #1286 "Windows 10/Python neophyte: Can't even install"
### Thumbor request URL
NA
### Expected behaviour
A nice and working thumbor instance :-)

### Actual behaviour
Python just installed, nothing done with it.
[code]
[code]
[code]
### Operating system
Windows 10 (1903)

### Your thumbor.conf
NA

[2020-03-30 18:15] kkopachev commented on #1286
Few things.
Python3 supported only in thumbor 7 (alpha currently)
Windows as a host OS was never supported

Just run in docker if windows is a must.

[2020-03-31 02:26] TigersWay commented on #1286
Thanks for your answers, even if I believe that a little warning in your README about platform(s) would be nice.

And for Python 3, the exact quote is:

which - in my English - means Thumbor 7 does not support Python 2.x, not that Thumbor 6.x does not support Python 3.

[2020-04-03 03:34] SHUFIL commented on #1121
I have started thumbor below versions with env , still not loading pages ,
[code]
Log always saying :
`2020-04-03 03:32:42 tornado.access:WARNING 400 GET /MTIzaGp1WTY3NTY0NA==/50x50/https://c7.alamy.com/comp/AYYGD3/old-red-round-letter-box-in-shimla-shimla-himachal-pradesh-india-AYYGD3.jpg (192.168.1.1) 2.87ms`
`http://192.168.1.11:8000/MTIzaGp1WTY3NTY0NA==/50x50/https://c7.alamy.com/comp/AYYGD3/o

[2020-04-04 04:20] SHUFIL opened #1289 "URL is only working with unsafe, not at all working with key string"
### Thumbor request URL
The request url for the issue you are having, you can swap the host name with a fake
`http://192.168.1.11:8000/MTIzaGp1WTY3NTY0NA==/50x50/https://c7.alamy.com/comp/AYYGD3/old-red-round-letter-box-in-shimla-shimla-himachal-pradesh-india-AYYGD3.jpg`
### Expected behaviour
`http://192.168.1.11:8000/MTIzaGp1WTY3NTY0NA==/50x50/https://c7.alamy.com/comp/AYYGD3/old-red-round-lette

[2020-04-07 06:25] SHUFIL commented on #1064
How you encode this url, i have  encode using this web-sie "https://meyerweb.com/eric/tools/dencoder/" , but not at all working, but your full url only working, why

[2020-04-09 08:25] realmayus opened #1290 "Thumborize.me not found"
the site Thumborize.me can't be found. I entered a URL on thumbor's website but thumborize.me couldn't be found.

[2020-04-12 02:44] #1286 closed

[2020-04-24 04:52] finalfantasyfan87 commented on #1268
We can close this.

[2020-04-24 04:52] #1268 closed

[2020-05-03 06:01] vhpoet commented on #1035
Hey, I'm getting this error right now, not sure what I'm missing. The conf file exists and has the security key. See the screenshot.

![Screen Shot 2020-05-02 at 11 00 49 PM](https://user-images.githubusercontent.com/686185/80907123-c5512a00-8cc8-11ea-9e19-71f88a73e791.png)

[2020-05-07 17:02] ilitotor commented on #1290
The problem probably was fixed. Now it's working: http://thumborize.me/

[2020-05-07 17:53] marcelometal commented on #1290
thanks @realmayus @ilitotor

[2020-05-07 17:53] #1290 closed

[2020-05-08 04:49] cameronbraid opened #1292 "Feature request - means of removing both image and result storage for a given URL"
Please provide an api endpoint that allows us to removed records from both image and result storage for a given URL

One idea could be to prefix the path with /delete, also using the safe url signing technique so that urls cant be forged

https://thumbor.drivenow.com.au/rPeFOujNcyl1DBDRpyKRgIMznVw=/delete/trim/https://www.drivenow.com.au/webdata/images/supplier/vehicles/east-coast-car-rentals-au/s

[2020-05-08 10:46] heynemann commented on #1292
There's no easy way for thumbor to do that as it is highly dependent on what storage and result storage you're using. What we did do at globo.com was to have our own storage and result storage implementation and use the original as a prefix for all the resulting images. Then we created an API (outside thumbor) to delete said images.

Sorry but I'm closing this as it is not a responsibility of thum

[2020-05-08 10:46] #1292 closed

[2020-05-08 17:59] karptonite opened #1293 "FR: Text detection algorithm for cropping"
I hope feature requests are OK here--sorry if they are not.

Crop detection algorithms currently include faces and features. It would be great if there were the option to use a text detection algorithm. The use case I have in mind would be cropping things like book or game covers, with the intent to show the title or author. Obviously, this is not a trivial request, but I can imagine that I wouldn

[2020-05-15 21:49] vergissberlin opened #1296 "Base64 encoding ends sometimes in a string with a slash which breaks the image link"
**Hi!**

I want to use the `SECURE_KEY` but I have the problem, that sometime the encryption of the path, contains a slash which breaks the link! So, base64 encoding is not URL safe! So, how can I solve this problem?

### Thumbor request URL

Secure key: dirk

Path to encrypt: 300x200/loremflickr.com/cache/resized/65535_49672603562_03a6f287bf_k_1280_960.jpg

Secure URL: https://thumbor.andreladema

[2020-05-18 12:54] karptonite commented on #1293
Oops, corrected my initial description to say that text detection is NOT currently a feature.

[2020-05-19 12:17] vergissberlin commented on #1296
Okay, my awesome colleagues from @netresearch found the solution. I have to encode base in URL save mode like it's done by python https://github.com/python/cpython/blob/3.8/Lib/base64.py#L108

So I added a base64 replacement method for javascript which is similar to that:
[code]

Here is my latest version:
https://jsfiddle.net/vergissberlin/26fL8qru/124/

🏁 Problem solved

[2020-05-19 12:17] #1296 closed

[2020-05-28 10:57] timonweber opened #1298 "Improve fallback logic of `max_bytes` filter"
### Thumbor request URL
http://localhost:8888/unsafe/filters:max_bytes(7500)/https%3A%2F%2Fgithub.com%2Fthumbor%2Fthumbor%2Fraw%2Fmaster%2Fexample.jpg

### Expected behaviour
When I try to cap the maximal file size with an unreasonable small number in the `max_bytes` filter, I expect Thumbor to return an image with the **smallest possible** file size (current `results`).

### Actual behaviour
Thum

[2020-05-28 21:20] rickalm-wapo commented on #1200
Any feedback ?

[2020-06-03 10:25] iwanskit commented on #1039
hi @hrhitesh did you finally find out why svg doesnt work?

[2020-06-05 12:18] hrhitesh commented on #1039
@iwanskit no I don't.

[2020-06-08 22:16] bobic83 opened #1299 "Loader https not working"
Hi,

### Expected behaviour
Use only connection with HTTPS (google compliant)

### Actual behaviour
work only with the HTTP. No connection is possible in https. Only HTTP work however in the conf i use strict_https for the loader.

### Operating system
debian

### Your thumbor.conf

[code]

[2020-06-09 06:34] yjwong commented on #1279
Ran into the last warning; `thumbor:WARNING Error importing bounding_box filter, trimming won't work`. Upon closer look, it seems like there's a relocation error related to `color_distance` (this is in Alpine Linux):

[code]

I'm not terribly proficient with C at this point, but removing the `inline` specifier in `thumbor/ext/filters/_bounding_box.c` solves the problem (probably at the expense of

[2020-06-11 12:35] butsjoh opened #1300 "Install of older version using pip or from source fails"
### Thumbor request URL
N/A

### Expected behaviour

We have the following documention for installing thumbor on a centos 7 machine. We are using an older version out of legacy reasons and are unable to upgrade at the moment. These commands used to work: (we are still using python 2)

[code]

We tried to also install from source by downloading the 5.2.1 version from github and run pip install . an

[2020-06-11 17:10] Jenkinsmyli commented on #985
Any news about it?

[2020-06-12 14:06] butsjoh commented on #1300
Found the fix already: https://github.com/chefkoch-dev/thumbor/commit/2931928ee0aff6edabd8225988517c643dfde719

[2020-06-12 14:06] #1300 closed

[2020-06-20 13:36] MaxNet75 opened #1301 "Preserve IPTC metadata"
### Thumbor request URL
http://ThumborDomain:8888/unsafe/600x0/https://OtherDomain/image.jpg

### Expected behaviour
When I configure thumbor very basically and just indicate this parameter "PRESERVE_EXIF_INFO = True", I should find the **CopyrightNotice** and **Creator** in the final image.
CopyrightNotice is IPTC metadata. Is there a solution to preserve this metadata ?

### Actual behaviour
Unf

[2020-06-22 16:05] tanrax commented on #998
`thumbor -c /root/thumbor.conf -p 8888`
same results

[2020-06-22 16:34] heynemann commented on #998
Is there a `SECURITY_KEY` key in the thumbor.conf file?

[2020-06-22 16:58] tanrax commented on #998
That's right, I fixed it by upgrading to version 7.0

[2020-06-23 08:17] il-pomo commented on #921
I have the same issue too.
Is the example in the demo correct? Should we get two different results as shown in your examples?
I always get the last result, corresponding to "Without the filter that would be the result"
Could you please investigate?
Many thanks

[2020-06-24 21:48] kkopachev commented on #1301
I think we might need an image to replicate.
Is metadata really in exif or it's in XMP data?

[2020-06-26 12:41] mateusnds opened #1302 "Thumbor for Wordpress"
I am looking to use Thumbor in wordpress. Is this currently possible?

Thanks

[2020-06-27 14:45] MaxNet75 commented on #1301
Thanks for your answer @kkopachev.
Since my post i understood that Fields I need are not part of exif metadata but IPTC. So do you know if it's possible to preserve IPTC metadatas ?
Copyright is exif metadata and CopyrightNotice is IPTC metadata.

[2020-06-30 06:31] lksnmnn opened #1304 "Result image is way too large after scaling it to 540x or (2x for that matter)"
### Thumbor request URL
https://thumbor.FAKEHOST.TLD/unsafe/540x/storage.FAKEHOST.TLD/image.jpg.

I cant share the actual image publicly, please let me know if and how I can assist you in debugging this issue.

### Expected behaviour
Resulting image size should be around 50-100 KB

### Actual behaviour
Resulting image size is around 1.8 MB (source is 1.9 MB)
Even if I scale it to something very ve

[2020-07-09 17:52] rmens commented on #1302
Yes. You can rewrite the URL's to images in your theme to go trough Thumbor.

[2020-07-09 17:57] rmens opened #1305 "Poor detection of faces with face mask"
In the "post-corona world" there are a lot of pictures of people with face masks. However Thumbor seems to have a hard time detecting faces with a mask.

Is there any way the algorithm can be tweaked to accommodate for this?

My latest example [can be found here](https://img.autovisie.nl/images/20Xw0qlnALq5RqE1KCmyMhj2gF0=/860x303/smart/filters:format(jpeg):quality(80)/https%3A%2F%2Fwww.autovisie.

[2020-07-09 18:05] kkopachev commented on #1305
Quick googling and found https://github.com/mk-gurucharan/Face-Mask-Detection
You can try using their haar cascade in place of thumbor default one and see if it works.
You can specify which cascade file to use using config variable `FACE_DETECTOR_CASCADE_FILE`

[2020-07-10 12:38] haggcoder opened #1306 "How to use Thumbor 7.0.0a5 with AWS Lambda & Serverless?"

[2020-07-14 21:33] kkopachev commented on #1304
I suspect it's some sort of metadata stored within image itself takes these 2 megs.
Usual suspects are EXIF and embedded ICC profile. You can strip first one using `PRESERVE_EXIF_INFO = True` in config. For removing icc profile use `strip_icc` filter.

[2020-07-15 07:02] lksnmnn commented on #1304
Hey Konstantin,
thank you for your input.
`PRESERVE_EXIF_INFO = True` did not change the result, but using the `strip_icc()` filter reduced the image size as expected.

Closing this issue, as the error lies within the source image.

[2020-07-15 07:09] #1304 closed

[2020-07-15 09:39] jnnkB opened #1307 "Thumborize.net is not working"
I tried to use this url to trz thumbor: http://thumborize.me/static/img/beach.jpg

When doing so, I got the following error:

![](https://i.imgur.com/JEWRq4E.jpg)

[2020-07-15 12:15] cristiandean commented on #1307
In this case, you should enter the url for your website and not the image address.

[2020-07-15 20:03] kkopachev commented on #1304
Embedded profile is probably for a reason there. Just stripping it out of image might make image colors off a bit. You might want to convert the image to sRGB profile.
See https://github.com/thumbor/thumbor/pull/927 and https://github.com/znerol/thumbor-icc

[2020-07-18 18:17] #1307 closed

[2020-08-04 16:21] macrozone commented on #1298
@timonweber noticed the same thing! Did you find any workarounds?

[2020-08-04 16:56] elinaldosoft commented on #998
Fixed it installing the latest version
`pip3 install git+https://github.com/thumbor/thumbor.git`

[2020-08-04 20:52] oucystong opened #1308 "thumbor's filter proportion can not work?"
### Thumbor request URL
http://localhost:8000/unsafe/filters:proportion(0.5)/http://horan.cc/wp-content/uploads/2013/03/googleinfrastructure_r.jpg

### Expected behaviour
should proportion 50 percent

### Actual behaviour
can not work and it would be nothing changed

### Operating system
OSx, Ubuntu, etc

### Your thumbor.conf
Your config file (WARNING: replace your SECURITY_KEY key with a dummy k

[2020-08-04 20:54] oucystong commented on #1308
attention: I have used the docker images apsl/thumbor， it can be find in hub.docker.com

[2020-08-04 20:57] bagipriyank commented on #1308
can you check if the proportion filter is enabled?

[2020-08-04 21:00] oucystong commented on #1308
others's filter is ok! only this can not work

[2020-08-04 21:00] bagipriyank commented on #1308
looking at https://github.com/APSL/docker-thumbor/blob/master/thumbor/conf/thumbor.conf.tpl#L540 i don't see proportion. you will have to add proportion to this list for it to work.

[2020-08-04 21:01] oucystong commented on #1308
thanks! I try it!

[2020-08-04 21:27] oucystong commented on #1308
modify the thumbor.conf and thumbor.conf.tpl,add the proportion,and it still not work

[2020-08-04 21:39] oucystong commented on #1308
got it! my docker images apsl/thumbor used the thumbor'version is 6.3.0 release.
![image](https://user-images.githubusercontent.com/54384675/89347536-912d4100-d6dd-11ea-94f8-9899076f3f93.png)
But proportion feature is add in [6.6.0 release](https://github.com/thumbor/thumbor/pull/1113),so i can't use this feature! have to update docker image!

[2020-08-07 09:17] lapuadson opened #1309 "I want to add header referer to the image download request params, how can I change the conf file? Or, which part of the code can I modify for my own use?"
### Thumbor request URL
The request url for the issue you are having, you can swap the host name with a fake

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Operating system
OSx, Ubuntu, etc

### Your thumbor.conf
Your config file (WARNING: replace your SECURITY_KEY key with a dummy key or your key will become public)

[2020-08-07 14:33] mirzap commented on #998
I have the sam issue on `v6.7.5 (9-Mar-2020)` and I have specified `SECURITY_KEY` in my `thumbor.conf`.

I downloaded latest release, installed it with `pip install .`. I'm running thumbor with `thumbor -c /etc/thumbor/thumbor.conf -p 8888`

[2020-08-10 07:42] timonweber commented on #1298
@macrozone Unfortunately not. I had to increase my `max_bytes` filter, but that makes it almost unusable.

[2020-08-10 08:27] macrozone commented on #1298
@timonweber i saw that you can combine both quality and max_bytes filters. So at leasts you can define a "max quality" with quality.

At least a workaround in some cases

[2020-08-11 17:30] heynemann commented on #1306
That's a good question, I don't have a lot of expertise with Lambda :) Maybe someone else can help with this.

[2020-08-14 09:52] cloudfee commented on #818
make sure config: HTTP_LOADER_VALIDATE_CERTS = False
work for me

[2020-08-14 09:53] cloudfee commented on #823
make sure config: HTTP_LOADER_VALIDATE_CERTS = False
work for me

[2020-08-18 14:42] jimas14 commented on #766
@heynemann Reviving this old thread because my implementation is running into issues with invalidation. Could you please elaborate on:

We use S3 for result storage and store objects with the full resize path including the hash. The suffix of the path is the original name I want to be able to purge by, which is nearly impossible in S3 without listing all of the objects. If we could somehow store t

[2020-08-26 05:24] Manish-Muttreja-Bose opened #1310 "fit-in with ExH sizing does not resize appropriately"
### Thumbor request URL
(hostremoved)/fit-in/200x200/https://ibb.co/SBBhhgh

### Expected behaviour
I should get an image of size 200x200 but I end up with a non-square picture.
The image i get is https://ibb.co/1f2K1ZS

### Operating system
Doesn't matter

### Your thumbor.conf
Default with a different security key

[2020-08-27 21:32] Oglan opened #1311 "Is it possible to stick thumbor to one web server using http loader?"
I would like to send requests with relative path (like for filesystem loader) but all images should be taken using http loader from one specific server. Is it possible?

For instance, let's assume that we have all images stored on the https://my-image-store.com, we have some cool image https://my-image-sotre.com/path-to-image/cool-image.jpg, we have thumbor running on https://my-thumbor-server.com

[2020-08-28 13:38] karptonite opened #1312 "Max-age should be dependent on whether a queued detector is pending"
If one of the queued detectors is being used, and the result is pending, the Max-age header, set [here](https://github.com/thumbor/thumbor/blob/af7954b72c5585b0081e49fd4ae25036fae41806/thumbor/handlers/image_resource.py#L34-L40), should be reduced to some small interval so that the "wrong" version of the image never gets put into a long-lived cache.

Edit: looking further, I may be misunderstandin

[2020-08-28 13:49] karptonite commented on #1312
Yup, I think I was wrong, and this is handled with MAX_AGE_TEMP_IMAGE. Sorry for the confusion!

[2020-08-28 13:49] #1312 closed

[2020-08-29 20:37] heynemann opened #1313 "Support Legacy Extensions as well as new"
For storages, loaders, detectors and filters, thumbor now requires an async function.
I believe we can have a helper that knows how to invoke both sync and async functions. That way we would dramatically decrease the barrier for people upgrading to thumbor 7.

[2020-08-31 08:26] michaelurban commented on #1252
I'm interested in testing Thumbor 7.x in production but this (and the tc-aws module) are blockers.

[2020-09-08 09:22] amanagr commented on #1313
We at @zulip are trying to upgrade thumbor to v7 but are stuck at upgrading tc_aws extension. We tried upgrading tc_aws from python2 to 3 ourselves, but the inevitable syntax change of thumbor from `@return_future` to `async` syntax has caused `tornado_botocore` (one of the dependencies used by tc_aws) to be incompatible with tc_aws with `async` syntax. We would greatly appreciate you guys making

[2020-09-08 11:56] heynemann commented on #1313
Just a heads up that python offers a function for deciding if a method is awaitable `inspect.isawaitable` (https://stackoverflow.com/questions/36076619/test-if-function-or-method-is-normal-or-asynchronous)

[2020-09-09 23:25] kkopachev commented on #1311
There is no way to do this with existing loaders.
However, you can make your own loader pretty easy. Take a look at [https_loader.py](https://github.com/thumbor/thumbor/blob/branch-6.x/thumbor/loaders/https_loader.py) - you would need to supply your own `_normalize_url` function to prepend host.

[2020-09-10 11:35] allantatter opened #1314 "AVIF support"
Could [AVIF](https://jakearchibald.com/2020/avif-has-landed/) support expected to be added at some point similarly to `webp` in [format](https://thumbor.readthedocs.io/en/stable/format.html#format) filters?

[2020-09-21 09:12] franek commented on #1314
Hi,
We would really appreciate that Thumbor does support AVIF format.
* How could we help to achieve that ?
* What are the requirements ? Is this PR on Pillow required https://github.com/python-pillow/Pillow/pull/4782 ?
Thanks,

[2020-09-27 09:01] highoncarbs opened #1316 "Saving result storage to Digital Ocean Spaces"
So thumbor is setup and running with digital ocean droplet and spaces , it has access to view files in my bucket , but it's storing the result on my droplet instead of my bucket.

### Thumbor request URL

### Expected behaviour
I want to save the file in my bucket rather than my droplet

### Actual behaviour
A `storage` file is created in my thumbor dir

### Operating system
 Ubuntu 18.04

### You

[2020-10-02 12:26] jannejava commented on #1316
Thumbor cannot write directly to a S3 bucket. Have a look on this extension, DO Spaces is compatible with S3. So it should work.

 https://github.com/thumbor-community/aws

[2020-10-03 15:08] highoncarbs commented on #1316
Thanks , I'll give it a try . I am currently using thumbor-spaces plugin , which is able to get data from the bucket but not put into it

[2020-10-09 22:13] eliavmaman opened #1319 "Thumbor remove EXIF data , images displayed rotated"
I'm applying thumbor filters on s3 stored images.
Original : https://d37aahii0nv5jf.cloudfront.net/filters:strip_exif()/0Zoxha2t9S1HR4oYGmSa/IMG_9292.JPG
filter url file : https://d37aahii0nv5jf.cloudfront.net/fit-in/1000x0/filters:strip_exif()/0Zoxha2t9S1HR4oYGmSa/IMG_9292.JPG

image displayed rotated on our website.
Original:
![image](https://user-images.githubusercontent.com/6911449/95635599-81

[2020-10-09 22:40] kkopachev commented on #1319
Link to original is already rotated and already missing exif even if I remove filters. So can't reproduce.

But you could try setting `RESPECT_ORIENTATION = True` in config.

[2020-10-09 23:39] eliavmaman commented on #1319
@kkopachev i did it in the environment variable , it didn't helped.

![image](https://user-images.githubusercontent.com/6911449/95639602-bb1a2f80-0aa1-11eb-8908-9ba6d504c682.png)

[2020-10-09 23:48] kkopachev commented on #1319
@eliavmaman Could you share original image?

[2020-10-12 16:40] wiledal commented on #750
I'm having an issue that I think is related, however slightly more obscure.

Colors are washed out, but only when viewed in WebGL on Safari.

Chrome, (left WebGL, right img-tag)
<img width="392" alt="Screen Shot 2020-10-12 at 6 29 40 PM" src="https://user-images.githubusercontent.com/1035169/95770089-27bb4700-0cb9-11eb-866d-89cea20647f5.png">
<img width="331" alt="Screen Shot 2020-10-12 at 6 30 29

[2020-10-15 12:13] yashmujumdar15 commented on #1030
HEy @marceloboeira  Can you help me here? from where did you find the STATSD_HOST = "datadog-statsd.kube-system.svc.cluster.local" value.
Did you run the command "kubectl exec -it pod-name agent status -n namespace" ?

[2020-10-20 06:14] bhpark-mdp commented on #229
**Very Very Thank you!**
key point STORAGE_EXPIRATION_SECONDS

[2020-10-24 08:22] rouletout commented on #797
I have this issue right now as you can see in this example, left the original, right the uploaded one using Thumbor...

![Uploading Screenshot 2020-10-24 at 10.10.32.png…]()

[2020-10-30 15:55] karptonite opened #1322 "the autojpg filter seems not to do anything"
### Thumbor request URL
http://example.com/unsafe/0x0/filters:autojpg()/https://www.fnordware.com/superpng/pnggrad8rgb.png

### Expected behaviour
The autojpg filter should override the AUTO_PNG_TO_JPG config.

### Actual behaviour
Using Thumbor 6.7.5:
If I turn on AUTO_PNG_TO_JPG on, the image above converts to jpg, as expected, with or without the autojpg filter.

If I turn the config off, and i

[2020-11-02 18:51] tinder-calvinliu commented on #1188
Just ran into this problem. When loading the image from s3 (88kB) without any filters or transformations via thumbor, the fetched image size is larger than the original which doesn't seem to make sense (116kB)

[2020-11-03 09:45] 2xx4ever opened #1325 "how does is work that watermark is larger than the original image?"
### Thumbor request URL
The request url for the issue you are having, you can swap the host name with a fake
http://10.4.30.71:8888/unsafe/fit-in/100x100/filters:round_corner(100,255,255,255,1):watermark(http://hdn.xxxx.cn/watermark/s1firstu.png,center,center,0):format(png)/http://hdn.xxxx.cn/photos/hdn421/20180109/1230/h_main_wgrn_b115000abdde195a.jpg

### Expected behaviour
Tell us what should h

[2020-11-04 16:49] gi11es opened #1326 "Test suite failures on Debian Buster + python3"
I'm trying to get Thumbor running under this environment (Buster and only Python 3), and with the following Dockerfile I still have errors and failures (listed below):

[code]

[code]

Maybe I'm still missing a dependency that indirectly causes the failures, but the errors encountered aren't pointing in any helpful direction.

[2020-11-05 14:24] gi11es commented on #1326
The last 2 errors about the tests/fixtures/images/940x2.png test file sound like they could be a rounding issue. The initial height is 2px, after asking Thumbor to fit it into 134x134, it might end up asking PIL for an image with 0px height.

It seems like there was an attempt to fix this for Python 3 but or some reason it doesn't work in my case:

https://github.com/thumbor/thumbor/blob/af7954b72

[2020-11-05 15:59] gi11es commented on #1326
Debian Buster runs Python 3.7.3.

I tried with Python 3.8.2 and 3.9.0 compiled from source and the same errors were still happening.

[2020-11-05 16:03] gi11es commented on #1326
I realize now that [Tornado 6.1](https://github.com/tornadoweb/tornado/releases/tag/v6.1.0), which this is picking up through pip, just came out. I'll check if downgrading Tornado helps.

[2020-11-05 18:26] kkopachev commented on #1326
try using `pytest` to run tests. Reproduced in dockerized buster and  `nose` fails, but `pytest` is just fine. Although I installed all test reqs from setup.py too.

[2020-11-05 21:05] gi11es commented on #1326
Ah, yes, good catch. The following runs the tests successfully. I had to tweak the Makefile slightly, PR incoming.

[code]

[2020-11-05 21:05] #1326 closed

[2020-11-07 13:14] highoncarbs opened #1330 "Fit-in filter not working in Production , but working on local machine."
### Thumbor request URL
http://cdn.jaitexart.org/unsafe/fit-in/400x600/filters:quality(80):format(webp):fill(white,1)/https://saas-space.ams3.cdn.digitaloceanspaces.com/panya/fde97294-MG_8070.JPG

### Expected behaviour
Image returned should be of 400 by 600 px with white background for extra space

### Actual behaviour
Image is just resized and not according to the WxH provided , also without any

[2020-11-07 14:58] highoncarbs commented on #1330
Fixed with thubmor==6.7.4 , can't fix on the latest version

[2020-11-09 10:01] highoncarbs commented on #1316
Works great , although I have a question . Would you recommend saving the result storage on S3 or local server filesystem , there is a considerable lag when fetching images from result storage in S3 .

[2020-11-09 10:02] #1316 closed

[2020-11-09 10:23] jannejava commented on #1316
I see the result as a cache and save the result locally for sure, much faster. Just keep the originals on S3.

[2020-11-09 13:38] gi11es commented on #1264
Seems like this has been done? Yet thumbor's setup.py still points to remotecv 2.x exclusively.

[2020-11-11 09:01] #1325 closed

[2020-11-14 20:50] markoheijnen commented on #1302
Did started years ago with a plugin for it at https://github.com/CodeKitchenBV/Thumbor. Still would need a setting page for a wider usage of it.

[2020-11-19 08:50] nhha1602 opened #1332 "Thumbor support sha256 or newer than sha1"
Dear All,

Could you please help to let me know if thumbor support sha256 or newer sha1 ? If yes, how to configure it?

Thanks and regards,

[2020-11-20 08:12] jannejava opened #1334 "How stable is Thumbor 7.0a5?"
First of all, I apprecate all the effort put into this software! Have been using it for 6 months now.

However, on a brand new Ubuntu 20.04 VPS I am having a trouble of installing Thumbor, since Python2 is no more. Can I use Thumbor 7.0a5, since it works in Python 3, despite it's an alpha?

Regards,

Jam

[2020-11-29 15:45] vrobert78 commented on #921
The problem is still present.
I ended up to make it work with:

`/unsafe/300x100/filters:extract_focal()/http://localhost:8888/unsafe/300x200/smart/https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Turkish_Van_Cat.jpg/546px-Turkish_Van_Cat.jpg`

[2020-12-02 16:08] paurullan commented on #1306
I have been studying the possibility for a while but with the recent incorporation of the container image possibility I think we can make it work.
https://aws.amazon.com/blogs/aws/new-for-aws-lambda-container-image-support/

The important new step is that now should be easy to load a full Debian with opencv and other image processing bits - which was very hard with the only .zip code upload.

[2020-12-05 23:30] heynemann commented on #1334
Hey! Glad you appreciate it. Would be really cool if you could help us test the alpha :) We really want to move forward with it and all the help we can get is appreciated.

[2020-12-10 03:17] cnhuye opened #1336 "How can I get more info like exif or Orientation ?"
First, thumbor is a great project !
Thanks for all devs!

I have a question now:
How can I get more info for a image, like EXIF  or Orientation info.

in /meta,  I can only get  width & height, no more other infos.

Is there a way to do this ?

[2020-12-14 20:43] jannejava commented on #1334
Of course, I will certainly do that!

[2021-01-04 06:40] thanhtoan1196 opened #1338 "amp-img, when used with thumbor, gets an "Malformed URL" error"
### Expected behaviour

it is possible to use thumbor with amp cdn

### Actual behaviour

- [amp-img](https://amp.dev/documentation/components/amp-img/), when used with thumbor, gets an "Malformed URL" error
- original link works: https://img.vinshine.com/g3PaduaVx6xYAldjNou6Vq7YUMs=/filters:watermark(ngontinh-prod/icon/logo-text.png,-10,-10,10,30)/ngontinh-prod%2Fstory%2Fthumbnail%2Fac-nhan-thanh

[2021-01-13 23:17] fdintino commented on #1314
I opened python-pillow/Pillow#5201, which would make it possible for thumbor to support the format.

[2021-01-16 15:29] gabn88 commented on #1306
@haggcoder @paurullan If you find a good tutorial on how to do this I would be happy to test this as a hobby project for myself. It looks like a super nice solution.

[2021-01-23 17:49] heynemann commented on #1313
Working on this on the feat/compatibility branch. Already have loaders working. Going to start working on storage and result_storage next.

[2021-01-23 17:49] heynemann commented on #1313
@kkopachev if you want to check it out :)

[2021-01-24 20:30] heynemann commented on #1338
This seems an issue with amp-img, doesn't it? If they are changing characters in the URL, how would thumbor understand that it's not an attempt to exploit the system? That's what the HMAC is for anyway.

If you pass the URL to amp-img already encoded, does it work?

[2021-01-24 20:32] heynemann commented on #1336
I think this is the first request for these metadata in the meta route. The way to do it would be to change meta to include it as well. Want to try implementing it?

[2021-01-24 20:33] heynemann commented on #1334
Hey we're in the process of releasing a beta version that will have a compatibility layer for loaders, storages and result storages, making it simpler to migrate to thumbor 7.0.0. If you want to try it, check this PR: #1342

[2021-01-24 20:40] heynemann commented on #1311
Hey Oglan, did you manage to get it working? Closing this. If you still need help, please reopen this issue.

[2021-01-24 20:40] #1311 closed

[2021-01-24 20:42] heynemann commented on #1310
I can't view the original image. Would be helpful to understand what's going on with fit-in...

[2021-01-24 20:51] heynemann commented on #1310
Just to put the way the docs say it here:

[code]

Checking the results with this original image:

https://camo.githubusercontent.com/92e3a4e87a65eb10946943d8a0b19819a0f8356d37935f441bd86c616c26553b/68747470733a2f2f7261772e6769746875622e636f6d2f7468756d626f722f7468756d626f722f6d61737465722f6c6f676f2d7468756d626f722e706e67

When running thumbor with `fit-in/200x200/<image-url>` I get an image with

[2021-01-24 20:51] #1310 closed

[2021-01-24 20:54] heynemann commented on #1309
I didn't quite understand what happened. Can you help here?

[2021-01-29 00:49] kkopachev commented on #797
@rouletout that looks more like missing icc profile on result image.

[2021-01-29 01:16] kkopachev commented on #1336
Metadata is available as engine property `metadata` if you have `pyexiv2` library installed. You can write some code to expose this data on the meta endpoint.

[2021-01-29 15:26] Coriolan-Bataille commented on #172
Im also having the same problem under ubuntu, also did an uninstall / reinstall without any change.
Any other way to fix it?

[2021-02-05 10:31] molivier-fcms opened #1345 "Can't fetch local image if UPLOAD_ENABLED is disabled"
Hi,

In my company we have RW thumbor instances (with `UPLOAD_ENABLED = True`) and RO instances for public. Our dev has pushed an image in RW instance. He can get the image with RW instances, but got a 400 error with `WARNING Malformed URL` in RO instances.

I tested jpeg and png files as well, same issue.

### Thumbor request URL

`curl -I http://thumbor-RW:8899/image/22caad911ab84cf9916385bd10ed

[2021-02-12 19:29] luizender opened #1347 "Fit-in ZeroDivisionError exception"
Thumbor is crashing in my production environment (I can't show the image URL) with a division by zero error in fit-in resize.

Here is the Traceback of exception:

Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/thumbor/context.py", line 276, in _execute_in_foreground
    returned = operation()
  File "/usr/lib/python2.7/site-packages/thumbor/transformer.py", line 212,

[2021-02-12 21:24] kkopachev commented on #1347
Can you share image dimensions and what fit-in dimensions it was trying to scale to?
Thumbor version would also be nice.

[2021-02-13 01:06] luizender commented on #1347
I don't have this information to share with you, sorry! I'm using the thumbor 6.7.5

I saw in the code that has a treatment to prevent division by zero in the resize method. Is it not necessary in the fit-in resize method?

[2021-02-14 12:15] scorphus commented on #1347
@luizender You must understand that, without a reproducible case, it is going to be very difficult — if even doable — to understand what may be wrong or not working as expected.

Without a precise URL and an image that fails with such error, there's little we can do to help.

[2021-02-18 18:28] jimas14 commented on #1301
Is https://github.com/thumbor/thumbor/pull/661 a solution to this issue?

[2021-02-18 18:44] larrytsai1026 commented on #1301
interested in this as well. Is there a solution for preserving IPTC metadata?

[2021-02-23 20:18] jimas14 commented on #625
@sbaechler Does this fix only provide metadata to the engine? Is there still more work to do to have this data persist on output images?

[2021-02-23 20:29] jimas14 commented on #1301
@kkopachev Here is an example image with IPTC data filled out https://getpmd.iptc.org/getpmd/html/stds/ipmd/?imgurl=https://www.iptc.org/std-dev/photometadata/examples/google-licensable/images/IPTC-GoogleImgSrcPmd_testimg01.jpg. Here's the same image sent through Thumbor with no metadata at all. https://getpmd.iptc.org/getpmd/html/stds/ipmd/?imgurl=http://thumbor.thumborize.me/unsafe/https://www.i

[2021-02-26 23:01] kkopachev commented on #1301
@jimas14 This is not possible now with default Pillow engine, as Pillow itself does not have a way to save IPTC/XMP data.

[2021-02-26 23:26] larrytsai1026 commented on #1301
@kkopachev Thanks for the update. Not sure if you're the right person to be informed of this, but just an FYI: this will be an issue if you have any France based users that uses Thumbor to resize images that is then served to the public on the web. There is a law that was passed that requires the IPTC to be displayed and unmodified.

Link to law: https://www.legifrance.gouv.fr/codes/article_lc/LEG

[2021-03-01 21:25] sbaechler commented on #625
@jimas14 Back then there was an effort to create a rich Media object that gets passed through the pipeline instead of a global context and just passing the buffer around. #577. I don't know what the current state is on this one but it would simplify adding metadata back to the transformed image.

[2021-03-04 07:58] pengliaoye commented on #1001
anyone resolve this issue

[2021-03-15 10:19] nightsimon opened #1348 "resize(width, height) prombem"
### Thumbor request URL
The request url for the issue you are having, you can swap the host name with a fake

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Operating system
OSx, Ubuntu, etc

### Your thumbor.conf
Your config file (WARNING: replace your SECURITY_KEY key with a dummy key or your key will become public)

[2021-03-15 10:19] #1348 closed

[2021-03-15 10:20] nightsimon commented on #1348
Fill in the wrong information

[2021-03-15 10:47] Espoir999 opened #1349 "resize，The picture is blurry"
origin image is 534x924,  300KB,

resize(186, 294)

When I resize, the image is very blurry, I just want to resize, but I don't want the image to be blurry

Is there anything I can do? please, thanks.

[2021-03-15 16:21] scorphus commented on #1349
It would be very helpful if you could provide the actual picture, or — If that's not possible — an example demonstrating the issue you're having.

In the meantime, let me provide some counter examples.

Original 534x924 image:
![image](https://user-images.githubusercontent.com/2112697/111183885-ac83f700-85b0-11eb-9ae6-3903681b9bb6.png)
(https://user-images.githubusercontent.com/2112697/111183885-a

[2021-03-18 15:16] scorphus commented on #1301
You can try and use [thumbor-wand-engine](https://github.com/scorphus/thumbor-wand-engine), which is a new engine built on top of ImageMagick with support to IPTC/XMP data.

[2021-03-22 15:36] victorjkhalaf opened #1351 "Order of execution of crop and filters"
### Thumbor request URL

https://local.thumbor/unsafe/0x0:1000x1000/fit-in/512x512/filters:product(S,8,12,BB,075DW,1):format(png)/https://unsplash.com/photos/_DCkqPaOdTQ/download?force=true

### Expected behaviour

Based on what I've read on Readthedocs, I expected the following image (hacked in something so our filter would perform the crop to demonstrate the intended result we hoped Thumbor's cr

[2021-03-23 02:44] ekapratama93 opened #1352 "Update minimum Pillow requirement to >= 8.1.1"
Below is some security vulnerability from Pillow before 8.1.1, I think it's better to require a newer version of Pillow for Thumbor.

[code]

[2021-03-23 23:56] mvanbrummen opened #1353 "Allow filters to access LoaderResult metadata"
I am trying to implement a custom filter to watermark a date on the image. This date would be populated in a loader and set as LoaderResult metadata. Is it possible for my filter to access this value?

I have seen this TODO which may hint at the answer https://github.com/thumbor/thumbor/blob/master/thumbor/handlers/__init__.py#L713

Thanks!

[2021-03-26 18:40] andersk commented on #1352
#1321 already updated the Pillow version bound to allow all 7.x and 8.x versions, but there hasn’t been a new release or pre-release.

[2021-03-30 02:25] pscheit commented on #985
https://github.com/python-pillow/Pillow/issues/2806#issuecomment-612544621

[2021-04-01 20:58] scorphus commented on #985
@Jenkinsmyli you can try to use [thumbor-wand-engine](https://github.com/scorphus/thumbor-wand-engine), it supports HEIC and AVIF.

[2021-04-09 10:08] Linzeliang opened #1354 "Run on windows10"
Hello!
When I run it on windiws10 , it was throw error:
Traceback (most recent call last):
  File "E:\test\Python27\Scripts\thumbor-script.py", line 11, in <module>
    load_entry_point('thumbor==6.7.5', 'console_scripts', 'thumbor')()
  File "E:\test\Python27\lib\site-packages\pkg_resources\__init__.py", line 489, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)

[2021-04-16 19:51] jimas14 commented on #1301
@scorphus Thanks so much, I had no idea that existed! I'm working on getting that wrapped in a dockerfile now. I see the thumbor version linked in your repo is 6.7.5, but isn't 7.0 the first version supporting python 3+?

[2021-04-16 22:39] scorphus commented on #1301
I'm glad that's helpful, @jimas14. That engine does not require a specific version of Thumbor. As long as you manage to have Thumbor installed and running on Python 3, you should be good. In any case, don't hesitate to open an issue on that repo.

[2021-04-19 18:53] jimas14 commented on #1301
@scorphus Do you have an example dockerfile/container for your engine using thumbor < 7? I'm hitting runtime issues when trying 6.7.5 and [this thread](https://github.com/thumbor/thumbor/issues/998#issuecomment-647618264) sounds like the only fix is using thumbor 7 if py3 is desired

[2021-04-21 08:48] xiaoxie110 opened #1357 "How to judge whether to use fit-in cropping according to the size of the picture"
### I want to use different cropping methods based on thumbnail size
test img:http://nolabelme.org/wp-content/uploads/2018/05/summer-01.jpg   (1366x768)

When the width and height of the thumbnail is smaller than that of the original image, the normal cropping method is adopted
https://host/unsafe/800x600/filters:fill(f8f8f8)/http://nolabelme.org/wp-content/uploads/2018/05/summer-01.jpg

When the

[2021-04-26 17:15] Tokenyet commented on #1187
I believe this would be mentioned in docs! Can't believe all the open source about image proxy never mention this 😞 Just try a whole day to find the discussion 😩

Whatever, thanks for the answer and the question.

[2021-04-27 17:02] scorphus commented on #1301
@jimas14, sorry for the delay.

You could try https://github.com/MinimalCompact/thumbor. If you still have issues, you're more than welcome to join the discussion on scorphus/thumbor-wand-engine#7 :slightly_smiling_face:

[2021-04-30 12:20] BenMorel commented on #1001
I had a similar issue, but that was due to the fact that I was hashing the path starting with `/`, when you should omit the slash.

It's actually disturbing that Thumbor reports "Malformed URL" when the problem is actually an incorrect signature.

[2021-05-04 01:14] klaumsco opened #1358 "pip install thumbor fails on Apple M1 Silicon due to Pillow <=7.0 requirement?"
pip install thumbor
Collecting thumbor
  Using cached thumbor-6.7.5-cp39-cp39-macosx_11_0_arm64.whl
Requirement already satisfied: six in /opt/homebrew/lib/python3.9/site-packages (from thumbor) (1.15.0)
Requirement already satisfied: pycurl<7.44.0,>=7.19.0 in /opt/homebrew/lib/python3.9/site-packages (from thumbor) (7.43.0.6)
Requirement already satisfied: webcolors in /opt/homebrew/lib/python3.9

[2021-05-17 17:00] jimas14 commented on #1301
@scorphus It took us a while, but we finally got a working implementation. It is indeed true that py3 is **required** to run Thumbor 7.0+. Our Dockerfile pulled from the latest python:3.6 image, installed imagemagick and wand-engine, and runs Thumbor.

[2021-05-22 16:42] mzimbres commented on #1332
I would like to use the hmac implementation from libsodium on my backend. They only provide SHA-2 (https://libsodium.gitbook.io/doc/advanced/hmac-sha2). It would be nice to have this option in Thumbor.

[2021-06-22 07:41] hkjens opened #1359 "thumbor --use-environment -> internal error (variable comparison issue)"
### Thumbor version and OS
Thumbor v7.0.0a5 (25-Mar-2020) on Debian Bullseye

### Thumbor request URL
http://localhost:8888/unsafe/300x0/...

On the thumbor server:
export MAX_WIDTH=500.0
thumbor --use-environment 1
(by the way thumbor --use-environment 0 or thumbor --use-environment False also enable use-environment)

### Expected behaviour
Thumbor should use the environment variable MAX_WIDTH

#

[2021-07-06 14:47] Anbool opened #1360 "What do I need to do to make Queued Redis Detector support redis cluster?"
### Expected behaviour
Queued Redis Detector supports the use of redis clusters

### Actual behaviour
Queued Redis Detector does not support the use of redis clusters

### Your thumbor.conf

############################ Queued Redis Detector #############################

Server host for the queued redis detector
Defaults to: 'localhost'
REDIS_QUEUE_SERVER_HOST = '127.0.0.1,127.0.0.2,127.0.0.3'

#

[2021-07-08 09:47] Tsouef commented on #1314
Any news ?

[2021-07-09 11:09] marblerun opened #1361 "Security Key data storage"
Simple question

What is the expected behaviour regarding the security key w.r.t local storage of images transferred from S3.

I have an almost 1:1 correspondence of image-name:image-name.txt, where each image-name.txt file contains the same value.

Not wishing to spell it out, but I suspect its obvious what this is.

I've always thought this was a little strange, given that there is a reasonable

[2021-07-09 19:19] jake404 opened #1362 "Result files not stored in defined directory"
### Thumbor request URL
http://192.168.1.252:8579/unsafe/700x0/filters:blur(7)/https%3A%2F%2Fnew.nu%2F78308374

### Expected behaviour
Store the result image in a defined directory.

### Actual behaviour
No result image is stored.

### Operating system
Docker (minimalcompact/thumbor)

### Your thumbor.conf
RESULT_STORAGE_FILE_STORAGE_ROOT_PATH = /storage/result

I have also set FILE_STORAGE_ROOT_P

[2021-07-14 08:07] #1124 closed

[2021-07-16 15:26] bhouston opened #1363 "Support for HDR image formats? HDR, EXR, HEIF?"
### Thumbor request URL
We would like to see support for HDR image formats (float per channel) in thumbor with the ability to convert between them and also to convert to LDR (8bit per channel) image formats like PNG, JPEG.

It isn't clear if this can be done via the PIL framework because I do not know if it supports bitdepth image formats internally -- more than 8bit.  I believe it may not.

The f

[2021-07-16 20:42] scorphus commented on #1363
Would you be able to provide some samples? Of both formats, HDR and LDR. Would be great to have a look at some *.hdr and *.exr files and see what can be done about that.

[2021-07-22 03:55] gladson commented on #1314
https://github.com/libvips/libvips

It supports a good range of image formats, including JPEG, JPEG2000, JPEG-XL, TIFF, PNG, WebP, HEIC, AVIF, FITS, Matlab, OpenEXR, PDF, SVG, HDR, PPM / PGM / PFM, CSV, GIF, Analyze, NIfTI, DeepZoom, and OpenSlide.

[2021-07-22 09:30] scorphus commented on #1314
You can try the [ImagaMagick engine](https://github.com/scorphus/thumbor-wand-engine). You'll need Thumbor from master, though. Let me know if it works, please.

[2021-07-22 13:28] fdintino commented on #1314
It's been taking a while to get the pillow PR merged. To be fair to the pillow developers, it's not a trivial new feature. Until that PR lands I've created a standalone package, [pillow-avif-plugin](https://github.com/fdintino/pillow-avif-plugin), that adds AVIF support to Pillow. Also, unlike my pillow PR—which only works in python 3—my standalone package has wheels built against python 2. This i

[2021-08-17 13:21] approached commented on #1362
...same question/problem

[2021-08-25 12:58] jannejava commented on #1358
Thumbor 6.x does not work with Pyton 3.x (which is default in most systems these days). Try Thumbor 7.x-alfa.

[2021-08-25 18:28] klaumsco opened #1364 "Errors with Thumbor v7.0.0a5"
### Thumbor request URL
not getting that far... thumbs-doctor errors...

### Expected behaviour
Tell us what should happen

### Actual behaviour
Thumbor v7.0.0a5 (of 25-Mar-2020)

Thumbor doctor will analyze your install and verify if everything is working as expected.

Verifying libraries support...

❎ pycurl is not installed.
Thumbor works much better with PyCurl. For more information visit http

[2021-09-09 14:36] wotori commented on #1129
Actual behavior seems better. In my case i get the 'ValueError: image has wrong mode' while working with 16bit images

[2021-09-09 16:53] highoncarbs commented on #895
This happens when I try to access it from another device in my local network ? How do I fix this ?

[2021-09-11 21:15] Soviut opened #1365 "feat: BASE_URL option for trimming incoming URLs"
### Thumbor request URL

We are developing an app on Firebase and have put Thumbor in a container and are hosting it with Google Cloud Run (container hosting). In our `firebase.json` we have a rewrite rule as follows.

[code]

This rule forwards any requests to `/cdn/image` to our cloud function. Unfortunately, there is no way to specify that only the `**` match should be sent, so it always sends

[2021-09-14 09:51] mamchyts commented on #1362
```RESULT_STORAGE_STORES_UNSAFE=True```

this Environment param was help me

I found info about it in config file:

[code]

[2021-09-15 07:50] jake404 commented on #1362
That worked. Thank you @mamchyts.

[2021-09-15 07:50] #1362 closed

[2021-09-27 07:25] vanchung1995 commented on #1314
@fdintino I have used pillow avif plugin, it worked nice. But I dont know how to apply it into thumbor. Example I want to crop image, then convert it to avif image. I read a lots but nothing found. Can you give some guide? Thanks so much

[2021-09-28 03:36] vanchung1995 commented on #101
@heynemann I have some code that convert jpg to avif image. Now I want to integrate it with thumbor. But I don't know how to do. Can you give some advices? Thanks

[2021-09-29 13:09] amitpatelx opened #1366 "Getting 504 accessing remote image but able to access it in browsers and via wget"
### Thumbor request URL
https://rotterdamapartments.com/uploads/cache/house_photo/houses/rent/10479/22d850a60d33e60cf92fc68b0e1e7f7734645d16.jpg

### Expected behaviour
It should not give errors and generate the image.

### Actual behaviour
Image is not getting generated and the log shows 504

### Operating system
Ubuntu 18.04.5 LTS

### Your thumbor.conf
[code]

[2021-10-02 00:15] EdimarJunior commented on #1256
Hi, can you guide me to which part of Thumbor is most critical regarding the lack of testing?

[2021-10-06 09:56] LifestreamVII opened #1367 "Resized pictures appears blurry"
### Thumbor request URL
http://xx.xx.xx.xx/unsafe/1200x/image.jpg

### Expected behaviour
Should result in a resized JPEG/WEBP image with minimal quality loss

### Actual behaviour
The output picture has been resized to 1200 pixels (width) but appears slightly blurry (impact varies depending on the image).
This happens both with the JPEG format output (either with AUTO_WEBP off or with format(jpeg

[2021-10-14 02:47] melan96 commented on #1367
can i work on it?

[2021-10-15 16:31] DamienPartir commented on #1367
do you find a solution ?

[2021-11-09 21:12] mpdude opened #1371 "Which branch for features?"
Given that 7.0.0 is currently alpha-only, seems to be a major upgrade hurdle and that the last 6.7.5 has been cut _after_ it, I wonder:

What is the right branch for new feature PRs?

Will features be accepted for 6.x and then merged into 7.x (`master`)?

Apologies if this is answered somewhere, but at least I did not find this information.

[2021-11-10 23:29] wintercounter opened #1372 "High memory usage while using `thumbor.result_storages.no_storage`"
### Expected behaviour
No high memory usage when using `thumbor.result_storages.no_storage`.

### Actual behaviour
My thumbor processes take up 2-3.5GB RAM each. No caching is done anywhere, so there should be no reason for this memory usage. This is achieved by running the processes for a while (days, weeks), so seems like it's probably a memory leak. I'm using `nginx-proxy-cache` in front of it,

[2021-11-11 19:28] kkopachev commented on #1372
Thumbor uses ram to unpack image data into uncompressed pixels. Bigger images - more memory used. Normally it would reuse memory.
Do you see this happening with other result storages? That should not be the case.
Do you see memory usage continues to grow over time? I would expect it climb to few GB and sit there forever without much change in long run.

[2021-11-11 19:33] wintercounter commented on #1372
I think once it reaches ~4GB it's not growing further. Seems like this normal/expected then, I'm closing the thread. I guess my only option on a low RAM machine is to use fewer workers then. Thanks for the info.

[2021-11-11 19:33] #1372 closed

[2021-11-20 03:48] heynemann commented on #1334
Hey @fraenki can you help test the alpha?

[2021-11-20 10:37] fraenki commented on #1334
@heynemann We may deploy a pre-release in our test environment, but we would really need the compatibility layer to make this happen.

[2021-11-22 03:05] heynemann commented on #1371
I'd say at this point, it depends. If it is a feature that improves severely thumbor's usage I'd say to backport to 6.x. Otherwise let's just move forward with 7. I've created a new AWS extensions project just for thumbor 7 (https://github.com/thumbor/thumbor-aws). Hopefully that will help a lot of people.

[2021-11-22 03:10] heynemann commented on #1361
The reason for this Mike is to allow you to change your security key in the event it gets lost (someone has access to it). If we didn't store the security key in the storage, there would be no way to validate your previously generated images (meaning everything previous to rotating the key is lost forever). Does that make sense to you?

Anyway, this is the config to disable it -> STORES_CRYPTO_KEY

[2021-11-22 03:11] heynemann commented on #1358
Thanks @jannejava for helping other users!!! Appreciate it!

[2021-11-22 03:11] #1358 closed

[2021-11-22 03:15] heynemann commented on #1334
Hey @fraenki just created a new [Thumbor AWS Extensions](https://github.com/thumbor/thumbor-aws) project to help users moving to Thumbor 7.0.0+. Would you give it a try? It would be very helpful!

[2021-11-22 11:55] gabriel-kaam commented on #217
Hey guys , I know this thread is closed ; but do we have a fix for that ?

[2021-11-22 13:25] heynemann commented on #217
Not really @gabriel-kaam. Changing thumbor's url structure is super hard due to breaking every single image out there. Or we'd have to support both (we did that a number of times and it creates problems).

[2021-11-22 13:38] gabriel-kaam commented on #217
Got it ; thanks for the update @heynemann .

In some thread I've read people talking about create a custom HTTP loader ; wdyt ?

I was thinking of doing something like this: instead of having the path to original image in the url ; I would pass it a base64 string . This way, my thumbor url would be SEO-friend (Google does not seem like the semi colon in it), while minimizing the overhead of the wh

[2021-11-22 22:31] victorjkhalaf opened #1373 "Socket connection start up time"
When setting up Thumbor 7 through a socket connection (e.g.:
`thumbor --fd /tmp/thumbor.sock --conf=/tmp/thumbor.conf &`), we noticed that the start-up time can be on the order of 4-6 seconds. We are running Thumbor on a Lambda running a Python runtime with a containerized service.
We run the above shell script in the Docker entrypoint and then just make sure the sock file is always active between

[2021-11-23 02:46] heynemann commented on #1373
Can you explain exactly what you mean by not connecting when using ports instead of sock file?

As for the sock file taking too long, I'm not sure on what's going on...

[2021-11-23 15:05] marblerun commented on #1361
Actually no, it does not make any sense. Even in my small 2 server setup, that results in 0.5 M files with identical content, which seems very inefficient.

If you wanted to be ultra cautious, then perhaps 1 copy of the key in each of the 256 directories, but not 1 per image.

I am totally no expert here, but it just feels like there must be a better way of doing this.

And can I confirm that sett

[2021-11-23 18:50] heynemann commented on #1361
I can see things from your point of view, but look at it from thumbor's:

* We provide a storage abstraction with a FileSystem implementation.
* This abstraction does not know anything about how you are going to recycle your security key.
* Because of that, the only secure way of handling key storage is storing atomically every file's security key. That way in the future we can definitely generate

[2021-11-24 00:23] #1313 closed

[2021-11-24 11:09] marblerun commented on #1361
Hi Bernardo,

Don't worry, changing the config does stop the txt file from being generated.

Going back to a few points, given that we have our main storage in S3, we have actually never changed the security key. In fact, given that they sit behind an AWS ALB, the keys are in fact common, or I suspect we would have chaos.

I'm working on another issue which has reminded me of one the reasons this

[2021-12-02 15:00] victorjkhalaf commented on #1373
I apologize for the late response, we decided to try playing around a little bit more and understand the implementation better. We found a solution that improves the situation a little. So I'm closing this with some context and insight.

You might remember a while ago AWS had a version of their project serverless-image-handler that used Python 2 and Thumbor to integrate Thumbor onto Lambdas. Thumb

[2021-12-02 15:00] #1373 closed

[2021-12-06 12:17] hknguyenvu opened #1379 "[Thumbor v6] Thumbor started returning 404s for images that exist"
### Thumbor request URL
The request url for the issue you are having, you can swap the host name with a fake

### Expected behaviour
I am using FILE STORAGE
At the beginning, images load normally but after a period of time, thumbor starts return 404 error
For example, I have an SVG image. When browse that image, thumbor starts return 404 error. But if I change the content of that image (adding a s

[2021-12-07 08:23] hknguyenvu commented on #229
@cristiangraz I have this issue at https://github.com/thumbor/thumbor/issues/1379

Is this as same as your issue? Do you face this issue on new version.

Thanks so much

[2021-12-08 12:48] hknguyenvu commented on #229
I found it.

In the default config, we do not have STORAGE_EXPIRATION_SECONDS value. We must add it.

STORAGE_EXPIRATION_SECONDS = None

Thanks

[2021-12-08 12:49] hknguyenvu commented on #1379
I found it.

In the default config, we do not have STORAGE_EXPIRATION_SECONDS value. We must add it.

STORAGE_EXPIRATION_SECONDS = None

Thanks

[2021-12-08 12:49] #1379 closed

[2021-12-09 11:53] SamGoody commented on #1155
Not OP, but am completely stymied about focus in Thumbor, so would LOVE some tips.

According to the homepage:

In my test example using, I tried to load `http://localhost:8888/unsafe/200x200/smart/https%3A%2F%2Fgithub.com%2Fthumbor%2Fthumbor%2Fraw%2Fmaster%2Fexample.jpg`

Despite the `/smart/`filter, it shows exactly the same as if I had done  `http://localhost:8888/unsafe/200x200/http..`, the ou

[2021-12-16 15:07] luison opened #1380 "allowed_sources being ignored"
Having issues with allowed_domains ignoring our configuration and returning images from any unauthorised url.

### Expected behaviour
https://our.thumborserver.org/t/1925x800/smart/static.externaldomain.com/img/arc_25699_g.jpg
(not real url)
should not be returning an image

### Actual behaviour
any domain seems accepted by thumbor even if not included in allowed_sources

ALLOWED_SOURCES = ['.+.do

[2021-12-16 21:12] jclimac opened #1381 "Thumbor 7 AWS Loader"
Hello!

Is there any AWS loader, like https://github.com/thumbor-community/aws, available for version 7.0.0b1?

Thank you!

[2021-12-20 19:39] akshay-ranganath commented on #816
Since some versions of Ubuntu still don't default to Python3, I had to do the following:

I ran the installation as mentioned above:
[code]

The installer complained about a few - so I simply removed them and tried again. Once that went through, I installed the python3 developer libraries
[code]

Finally, I then installed `pycurl` and `thumbor`
[code]

[2022-01-07 03:49] heynemann commented on #1381
I created a very lightweight version here: https://github.com/thumbor/thumbor-aws
It definitely needs some love and if you could help it would be great.

BTW release 7.0.0 is out!

[2022-01-07 03:50] #1364 closed

[2022-01-08 00:55] marcelometal commented on #1352
https://github.com/thumbor/thumbor/commit/3f08fa2c6037eae0324d4c9b3555685a66cc20c1

[2022-01-08 00:55] #1352 closed

[2022-01-18 17:43] bjaworski3 opened #1384 "Thumbor 7.0.0 upsizing all JPEG images to MAX_WIDTH/MAX_HEIGHT"
### Thumbor request URL
`unsafe/filters:format(jpeg)/https://raw.githubusercontent.com/thumbor/thumbor/master/docs/images/blur_before.jpg`

### Expected behaviour
Thumbor 7.0.0 should retain the original image size and convert it to a jpeg.

### Actual behaviour
Thumbor is instead upsizing the image up to the MAX_WIDTH or MAX_HEIGHT set when there isn't a specified target size.

MAX_WIDTH and MAX_

[2022-01-20 19:06] christaggart opened #1385 "Extending the pil engine for HEIF/HEIC support?"
We're able to add heif/heic support by pip installing `pillow_heif` and then calling `register_heif_opener()` inside one of our plugins, but this feels like the wrong place to do it.

Since this is effectively an engine extension, is there a better place to register this pillow opener? Extend pil.py?

[2022-01-21 17:21] mvhirsch commented on #1380
I think you missed up a `.` (dot) in your configuration. It's a regex, so your `ALLOWED_SOURCES` should look like this:

[code]

----

Is it possible to see a non-redacted version of your allowed sources (and actual "externaldomain.com" example), to help you better?

[2022-01-21 22:36] #1271 closed

[2022-01-21 22:56] mvhirsch commented on #1330
Did you find a solution yet?

If not, and you're running thumbor 7.0.0, please run `thumbor-doctor` and paste the result here.

[2022-01-22 08:37] mvhirsch commented on #1347
@luizender can this issue be closed? Did you find a solution you want to share?

[2022-01-22 13:26] mvhirsch opened #1387 "thumbor-doctor warns on uninstalled ffmpeg"
Hi,

I really love thumbor and currently I'm trying to build a dockerized version of v7 (see https://github.com/mvhirsch/thumbor-docker/issues/5). `thumbor-doctor` is a really helpful tool for this! Thanks!

But I noticed, it warns if `ffmpeg` could not be found. At the moment I do not want to install `ffmpeg` for image size and because [gifv optimizer as far as I understood isn't activated by def

[2022-01-22 13:28] mvhirsch commented on #1387
Same's for `jpegtran` actually :sweat_smile:

[2022-01-22 13:47] mvhirsch commented on #1351
Did you find a solution yet?

[2022-01-22 14:50] heynemann commented on #1387
You can just ignore those. These are things we suggest users include as they will optimize thumbor's usage. I guess we could check the config before letting the user know they should have it installed. But I think it is a source of help for users that do not know about either ffmpeg usage or optimizers. WDYT?

[2022-01-22 14:50] heynemann commented on #1384
Working on it now.

[2022-01-22 15:04] mvhirsch opened #1388 "Clearify release process and clean up stale branches"
Hi,

I really appreciate your efforts and really like thumbor :heart:

That said, please clean up stale branches ([check here](https://github.com/thumbor/thumbor/branches)).
Also it seems you do not delete branches "on merge" by default. Maybe [this helps (it's just a setting in github)](https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/configuring-pull-req

[2022-01-22 15:10] mvhirsch commented on #1387
You definitely should. Think of it this way: no system is asking you to install printer drivers if no printer is connected. Even if you do a system diagnose.

`thumbor-doctor` should not warn about a missing dependency, the user (on purpose) isn't going to use. All I'm asking is something like this:

[code]

Also the exit code should not return 1 in case, it's expecting normal behavior (not using

[2022-01-22 15:57] heynemann commented on #1384
Hey, I tried to reproduce both by running thumbor 7 as well as added a unit test to the suite that proves this issue and in both thumbor worked as expected. Can you help me dive further? Maybe provide the images you are using to test? The commit with the unit test is here: https://github.com/thumbor/thumbor/commit/5d733892bcc33bd0123d507c59bda7b13b0fed10

[2022-01-22 16:14] mvhirsch commented on #1384
I've used @bjaworski3 example as input: https://raw.githubusercontent.com/thumbor/thumbor/master/docs/images/blur_before.jpg

Funny, using [the file from test case](https://github.com/thumbor/thumbor/commit/5d733892bcc33bd0123d507c59bda7b13b0fed10#diff-5ebad9b36de2ac2ed8a6bf073a85f0055d656c8e37a91b9dff4de6da797887cd), I'm not able to reproduce it locally, too.

I'm confused.

[2022-01-22 16:56] mvhirsch commented on #1349
After nearly a year and new releases in meantime, I think this can be closed. @heynemann what do you think?

[2022-01-22 16:57] mvhirsch commented on #1367
@LifestreamVII I can see the difference. Would you mind to share the original image, so I can test it with current thumbor version?

[2022-01-22 17:16] heynemann commented on #1349
✔️

[2022-01-22 17:16] #1349 closed

[2022-01-22 18:36] heynemann commented on #1384
Fixed in https://github.com/thumbor/thumbor/releases/tag/7.0.1

[2022-01-22 18:36] #1384 closed

[2022-01-22 18:39] heynemann commented on #1388
Stale branches (mostly) cleared. Thanks for the reminder!

[2022-01-22 18:43] heynemann commented on #1388
First I want to apologize for the confusion. It should be clearer to anyone contributing with thumbor how to do it. I'll update the contributing document to reflect that.

Second, to answer your question, 6.6.1 was released before master branch was python 3 only, thus makes sense to use master. After we upgraded thumbor master to python 3 we could not release python 2 from it anymore, thus the pur

[2022-01-22 18:56] heynemann commented on #673
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 18:56] #673 closed

[2022-01-22 18:57] heynemann commented on #695
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 18:57] #695 closed

[2022-01-22 18:57] heynemann commented on #720
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 18:57] #720 closed

[2022-01-22 18:57] heynemann commented on #740
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 18:57] #740 closed

[2022-01-22 18:58] heynemann commented on #750
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 18:58] #750 closed

[2022-01-22 18:59] heynemann commented on #753
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 18:59] #753 closed

[2022-01-22 19:00] heynemann commented on #764
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:00] #764 closed

[2022-01-22 19:01] heynemann commented on #793
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:01] #793 closed

[2022-01-22 19:01] heynemann commented on #795
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:01] #795 closed

[2022-01-22 19:03] heynemann commented on #810
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:03] #810 closed

[2022-01-22 19:04] heynemann commented on #834
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:04] #834 closed

[2022-01-22 19:04] heynemann commented on #843
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:04] #843 closed

[2022-01-22 19:04] heynemann commented on #852
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:04] #852 closed

[2022-01-22 19:05] heynemann commented on #855
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:05] #855 closed

[2022-01-22 19:06] heynemann commented on #881
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:06] #881 closed

[2022-01-22 19:06] heynemann commented on #885
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:06] #885 closed

[2022-01-22 19:06] heynemann commented on #888
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:06] #888 closed

[2022-01-22 19:07] heynemann commented on #895
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:07] #895 closed

[2022-01-22 19:07] heynemann commented on #896
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:07] #896 closed

[2022-01-22 19:08] heynemann commented on #897
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:08] #897 closed

[2022-01-22 19:08] heynemann commented on #906
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:08] #906 closed

[2022-01-22 19:10] heynemann commented on #920
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:10] #920 closed

[2022-01-22 19:11] heynemann commented on #921
Can definitely confirm the image works as expected.

Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:11] #921 closed

[2022-01-22 19:12] heynemann commented on #926
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:12] #926 closed

[2022-01-22 19:12] heynemann commented on #933
Closing this issue since we had no activity for a while in the interest of keeping our Issues list leaner. If this is something we still need to pursue, please reopen and I'll look into it. Thanks!

[2022-01-22 19:12] #933 closed

[2022-01-22 19:49] heynemann commented on #1388
Just added stale bot to thumbor to make sure we're not in this same state again :) Thanks for the help in cleaning things up!

[2022-01-22 20:41] heynemann commented on #1371
I answered this in #1388. Closing here.

[2022-01-22 20:41] #1371 closed

[2022-01-22 23:11] mvhirsch commented on #1381
I found a bug using storage/result-storage of thumbor-aws. Please take a look: https://github.com/thumbor/thumbor-aws/issues/1

[2022-01-23 09:25] mvhirsch commented on #1388
Awesome, thank you very much!

Yes, I'll add some :heart: to the contribution docs.

[2022-01-23 09:25] #1388 closed

[2022-01-23 10:03] mvhirsch commented on #1314
AVIF is spreading, see https://caniuse.com/?search=avif

Bumping this issue (stale-bot :tada: )

[2022-01-23 18:48] heynemann commented on #1387
WDYT about #1393?

[2022-01-24 08:15] mvhirsch commented on #1387
+1 for `http_loaderer` :joy:

[2022-01-24 12:10] luison commented on #1380
Thanks but does not seem to solve the issue.
I've updated from our config the loader which was not included:
LOADER = 'thumbor.loaders.file_loader_http_fallback'

We've tracked that if we use the http_loader the filter works fine but as we use the "file_loader_http_fallback" for local files first, in case the file does not exists, in the fallback to http the validation of allowed sources seems ign

[2022-01-24 21:10] bhouston commented on #1363
@scorphus I apologize I missed your comment.

Here you go!

Here is an HDR: https://github.com/mrdoob/three.js/blob/dev/examples/textures/memorial.hdr
Here is an equivalent EXR: https://github.com/mrdoob/three.js/blob/dev/examples/textures/memorial.exr
And it should generally look like: https://threejs.org/examples/?q=hdr#webgl_loader_texture_hdr

[2022-01-24 21:54] heynemann commented on #1381
Hey @mvhirsch should we close this?

[2022-01-24 21:55] heynemann commented on #1387
Released under 7.0.3.

[2022-01-24 21:55] #1387 closed

[2022-01-24 22:11] scorphus commented on #1385
Hi, thanks for reporting. There's already one issue regarding this, and I'll close this one as duplicate. You're more than welcome in discussing your case/needs in #1363 :-)

[2022-01-24 22:11] #1385 closed

[2022-01-24 22:14] scorphus commented on #1363
@bhouston you can use the [wand](https://github.com/scorphus/thumbor-wand-engine/#thumbor-wand-engine) engine which has support to such formats.

[2022-01-24 22:21] christaggart commented on #1363
Re: https://github.com/thumbor/thumbor/issues/1385
the specific example was heif related but the question in general still stands:what’s the right place to extend an engine’s built-in support for something where you have to register a new handler with PIL?

[2022-01-24 22:36] victorjkhalaf commented on #1351
No I can't even remember I had posted this truthfully. It is not an issue that we must have needed resolution back then.

[2022-01-25 01:16] heynemann commented on #1380
This seems to be a bug. Sorry for that. You can either wait for a fix, or you can create your own loader. Thanks for reporting!

[2022-01-26 14:48] mvhirsch commented on #1381
Yes, we can! :-D

I was able to use it with most recent version `thumbor-aws==0.3.1` :tada:

[2022-01-26 14:50] mvhirsch commented on #1351
Okay, so this can be closed for now. If you need any help further, just feel free to reopen or create a new issue.

FYI @heynemann

[2022-01-26 14:53] #1351 closed

[2022-01-26 21:14] heynemann commented on #1380
Released under 7.0.4. Please reopen if it is still an issue.

[2022-01-26 21:14] #1380 closed

[2022-01-26 21:20] heynemann commented on #1380
Actually released under 7.0.5 :)

[2022-01-28 00:09] #1366 closed

[2022-01-28 00:09] #1365 closed

[2022-01-28 00:09] #1361 closed

[2022-01-28 00:09] #1360 closed

[2022-01-28 00:09] #1359 closed

[2022-01-28 00:09] #1357 closed

[2022-01-28 00:09] #1354 closed

[2022-01-28 00:09] #1353 closed

[2022-01-28 00:09] #1345 closed

[2022-01-28 00:09] #1338 closed

[2022-01-28 00:09] #1336 closed

[2022-01-28 00:09] #1334 closed

[2022-01-28 00:09] #1332 closed

[2022-01-28 00:09] #1322 closed

[2022-01-28 00:09] #1319 closed

[2022-01-28 00:09] #1309 closed

[2022-01-28 00:09] #1308 closed

[2022-01-28 00:09] #1306 closed

[2022-01-28 00:09] #1305 closed

[2022-01-28 00:09] #1302 closed

[2022-01-28 00:09] #1299 closed

[2022-01-28 00:09] #1298 closed

[2022-01-28 00:09] #1293 closed

[2022-01-28 00:09] #1289 closed

[2022-01-28 00:09] #1278 closed

[2022-01-28 00:09] #1274 closed

[2022-01-28 00:09] #1269 closed

[2022-01-28 00:09] #1264 closed

[2022-01-28 00:09] #1258 closed

[2022-01-28 00:09] #1256 closed

[2022-01-28 00:09] #1252 closed

[2022-01-28 00:09] #1249 closed

[2022-01-28 00:10] #1248 closed

[2022-01-28 00:10] #1245 closed

[2022-01-28 00:10] #1242 closed

[2022-01-28 00:10] #1239 closed

[2022-01-28 00:10] #1238 closed

[2022-01-28 00:10] #1227 closed

[2022-01-28 00:10] #1221 closed

[2022-01-28 00:10] #1219 closed

[2022-01-28 00:10] #1218 closed

[2022-01-28 00:10] #1215 closed

[2022-01-28 00:10] #1213 closed

[2022-01-28 00:10] #1203 closed

[2022-01-28 00:10] #1200 closed

[2022-01-28 00:10] #1194 closed

[2022-01-28 00:10] #1190 closed

[2022-01-28 00:10] #1189 closed

[2022-01-28 00:10] #1188 closed

[2022-01-28 00:10] #1186 closed

[2022-01-28 00:10] #1185 closed

[2022-01-28 00:10] #1181 closed

[2022-01-28 00:10] #1180 closed

[2022-01-28 00:10] #1178 closed

[2022-01-28 00:10] #1176 closed

[2022-01-28 00:10] #1168 closed

[2022-01-28 00:10] #1164 closed

[2022-01-28 00:10] #1157 closed

[2022-01-28 00:10] #1155 closed

[2022-01-28 00:10] #1152 closed

[2022-01-28 00:10] #1144 closed

[2022-01-28 00:10] #1136 closed

[2022-01-28 00:10] #1133 closed

[2022-01-28 00:10] #1127 closed

[2022-01-28 00:10] #1117 closed

[2022-01-28 00:10] #1115 closed

[2022-01-28 00:10] #1114 closed

[2022-01-28 00:11] #1103 closed

[2022-01-28 00:11] #1072 closed

[2022-01-28 00:11] #1059 closed

[2022-01-28 00:11] #1053 closed

[2022-01-28 00:11] #1039 closed

[2022-01-28 00:11] #1032 closed

[2022-01-28 00:11] #1027 closed

[2022-01-28 00:24] #1025 closed

[2022-01-28 00:24] #1020 closed

[2022-01-28 00:24] #1019 closed

[2022-01-28 00:24] #1018 closed

[2022-01-28 00:24] #1017 closed

[2022-01-28 00:24] #1013 closed

[2022-01-28 00:24] #1001 closed

[2022-01-28 00:24] #998 closed

[2022-01-28 00:24] #994 closed

[2022-01-28 00:24] #965 closed

[2022-01-28 00:24] #954 closed

[2022-01-28 00:24] #943 closed

[2022-01-29 01:37] #1381 closed

[2022-01-29 01:38] heynemann commented on #1367
One further question. You are using 80 of quality on both thumbor and photoshop, right?

[2022-01-29 01:55] heynemann commented on #1363
I'd say extend PIL engine and do what you need to be done.

[2022-01-29 02:07] heynemann commented on #1314
I will [bootcamp](https://github.com/thumbor/thumbor-bootcamp) this task later. This seems like a good L3 task.

[2022-01-30 10:05] scorphus commented on #1330
Working as expected. https://cdn.jaitexart.org/unsafe/fit-in/400x600/filters:fill(white,1)/https://picsum.photos/1620/1080

![image](https://user-images.githubusercontent.com/2112697/151695169-02ee79f2-1f86-4ba0-a2c3-fd0d52cfa0b6.png)

I also confirm it works as expected with latest release.

[2022-01-30 12:02] scorphus commented on #1347
I'd say we close this issue. There's no image nor steps to reproduce. Nothing to be done here, really.

Besides, all [Pillow's issues RE ZeroDivisionError](https://github.com/python-pillow/Pillow/search?q=zerodivisionerror&type=issues) are either closed or merged. If this was indeed an issue at some point, it's likely already solved. Otherwise, a new issue can be created.

[2022-01-31 16:05] heynemann opened #1403 "pyexiv2 instead of py3exiv2"
Can we switch from py3exiv2 to pyexiv2? Much easier to install as it does not depend on boost. Seems to provide similar functionality.

[2022-01-31 16:08] heynemann commented on #1314
I would @fdintino but we will probably revamp how we handle alternate image formats to remove webp as a special case and just let web formats be extensible. I think that's a better point to add than to just add a bunch more if-else statements (we do have enough of those as it is).

[2022-02-01 12:20] heynemann commented on #1403
Tests are passing in #1404

[2022-02-01 12:20] heynemann commented on #1403
@kkopachev what do you think?

[2022-02-04 08:42] highoncarbs commented on #1330
Thanks, will update to the latest version and check if that fixes the issue.

[2022-02-04 08:42] #1330 closed

[2022-02-05 10:51] mvhirsch commented on #1403
Currently `thumbor-doctor` is checking for `pyexiv2` instead of `pyexiv3`: https://github.com/thumbor/thumbor/blob/a0a1338d328d6c0ecbd9eeaf510882313dca2764/thumbor/doctor.py#L279

Also as mentioned in PR https://github.com/thumbor/thumbor/pull/1404#issuecomment-1026057673 about docs this should finally be streamlined :grin:

[2022-02-06 08:17] vaigtech opened #1406 "Thumbor watermark Filters don't work with safe parameter"
### Thumbor request URL
(https://cdn.nexgeontools.com/m3VMWBfxpENzMtD1cpUGpIj3gs4=/fit-in/500x500/smart/filters:format(webp):watermark(https://nexgeontools.com/assets/bundles/app/images/logo_nex.png,0,0,50)/nexgeontools%2Fcreatives%2F2022%2F01%2Foutfit-fuer-den-winter-3hy1-deqd4k%2Fimages%2F5%2Fimg_61e0025c06f733.30598902.png)

### Expected behaviour
Image with wtaermark

### Actual behaviour
Blan

[2022-02-06 10:09] vaigtech opened #1407 "Thumbor Filters don't work properly in MinIO"
### Thumbor request URL
[The request url for the issue you are having, you can swap the host name with a fake
](https://cdn.nexgeontools.com/0keDOoJoaRyqxXRUed9-HVcQ8No=/fit-in/500x500/smart/filters:format(webp):watermark(nexgeon/2.png,-10,-10,50,20)/nexgeontools%2Fcreatives%2F2022%2F01%2Foutfit-fuer-den-winter-3hy1-deqd4k%2Fimages%2F5%2Fimg_61e0025c06f733.30598902.png)

### Expected behaviour
ima

[2022-02-07 16:34] peterrus opened #1408 "thumbor-url seems to be incompatible with python3 (Thumbor 7 regression?)"
### Expected behaviour
When running `/redacted/thumbor-env3.10/bin/python /redacted/thumbor-env3.10/bin/thumbor-url -l /redacted/keyfile -w 185 -e 372 redacted_path/0165dfa04f884033803923f4c5cb046d.jpg` I expect to be given a signed URL.

### Actual behaviour
[code]

### Operating system
Python 3.10, Thumbor 7.0.6

I suspect this to be a regression from porting to Python3 as I am not seeing this w

[2022-02-09 11:32] LifestreamVII commented on #1367
@mvhirsch @heynemann Here's the link to a folder that should contain everything needed to reproduce the issue.
https://drive.google.com/drive/folders/1uBP7yRdd37gvgj668tZOJLUh9rqIXQlE?usp=sharing
Thanks for your help !

[2022-02-10 14:55] vaigtech opened #1410 "Thumbor watermark Filters shows multiple image(2 watermark image)"
### Thumbor request URL

https://cdn.nexgeontools.com/P3qocviVGQo_r-XK4mr8u8NZEPw=/fit-in/500x500/smart/filters:watermark(nexgeon/2.png,10,10,50)/nexgeontools%2Fcreatives%2F2022%2F01%2Foutfit-fuer-den-winter-3hy1-deqd4k%2Fimages%2F5%2Fimg_61e0025c06f733.30598902.png

### Expected behaviour

### Actual behaviour
Thumbor watermark Filters shows 2 watermark image(nexgeon/2.png). Do not show main imag

[2022-02-14 03:17] dkbarn opened #1412 "How to pass information from Loader to Detector?"
I have a custom Loader class and a custom Detector class.

The Loader class fetches images from a private CDN server, and returns LoaderResult objects from its "async load" method.

When fetching the data from this private CDN, there is metadata about the face bounding boxes present within the HTTP headers of the response from this CDN. I want to pass this information along to my custom Detector c

[2022-02-22 03:07] marcelometal opened #1413 "Replaces derpconf with pydantic"
What do you think about replaces [derpconf](https://github.com/globocom/derpconf) with [pydantic](https://pydantic-docs.helpmanual.io/#rationale)?

[2022-03-03 08:45] softberry opened #1417 ""Smart and None Smart Options" breaks Metrics"
### Thumbor request URL
Thumbor can not build

### Expected behaviour
Thumbor should run

### Actual behaviour
Gives following error on build:
[code]

### Operating system
All operationg systems

### Your thumbor.conf
[code]

### Description :
This change possibly introduces a braking issue for metrics usages :

I could not find the discussions on this issue and documentation about smart & none sm

[2022-03-03 14:23] heynemann commented on #1314
Definitely!!!

[2022-03-05 12:15] #1363 closed

[2022-03-06 12:16] #1347 closed

[2022-03-07 13:32] ebilheude opened #1418 "Ability to launch thumbor with --fd option"
With version 7.0.6 of thumbor, I cannot start the process with an --fd option. I have the following trace :

`sock = socket_from_fd(  # pylint: disable=too-many-function-args
TypeError: fromfd() takes 1 positional argument but 2 were given
Traceback (most recent call last):
  File "/srv/www/thumbor/bin/thumbor", line 8, in <module>
    sys.exit(main())
  File "/srv/www/thumbor/lib/python3.8/site-p

[2022-03-12 12:16] #1403 closed

[2022-03-13 12:16] #1406 closed

[2022-03-16 12:04] #1407 closed

[2022-03-16 12:16] #1408 closed

[2022-03-16 12:16] #1367 closed

[2022-03-18 00:22] #1410 closed

[2022-03-18 08:21] neuraload opened #1424 "How does STORAGE_EXPIRATION_SECONDS works ?"
Hello,

I have set STORAGE_EXPIRATION_SECONDS to one week and I am expecting thumbor to delete the older files under /tmp folder which is not happening. I guess I will have to delete them manually but I don't know if this is the way to do it. I am missing something ? Thank you.

Btw, using default storage option.

Best regards,

[2022-03-21 12:04] #1412 closed

[2022-03-22 20:20] negru commented on #803
same problem on debian and centos

`2022-03-22 13:57:17 thumbor:WARNING Module thumbor.filters.brightness could not be imported: cannot import name _brightness
2022-03-22 13:57:17 thumbor:WARNING Module thumbor.filters.colorize could not be imported: cannot import name _colorize
2022-03-22 13:57:17 thumbor:WARNING Module thumbor.filters.contrast could not be imported: cannot import name _contrast

[2022-03-22 20:27] heynemann commented on #803
This means you don't have the required dependencies to build filters. You need to have a valid C and C++ compilers (gcc maybe used). In ubuntu server you can get it with build-essential. I don't have the means to test it right now, but check thumbor's test docker images. We build extensions as part of our automated tests, and we have tests for filters.

[2022-03-22 20:27] heynemann commented on #803
Thumbor won't fail install because you can't use filters, just disable them. That's why install works.

[2022-03-23 13:18] villesau opened #1425 "Provide an official helm chart"
[Helm](https://helm.sh/) is a package manager for [Kubernetes](https://kubernetes.io/). I believe that one of the usual places to deploy Thumbor is Kubernetes, so an official helm chart for that purpose would make sense. It could set sensible defaults, and allow configurability as well.

[2022-03-24 21:26] marcelometal commented on #1413
Data validation and **settings management** using python type annotations.

https://pydantic-docs.helpmanual.io/usage/settings/

[2022-03-24 21:50] heynemann commented on #1413
I guess the problem is that we would have to change every thumbor.conf out
there. :( Don't think this is feasible.

[2022-03-28 21:30] Sinitra commented on #1314
share your code, let's taste it

[2022-03-30 01:49] gcavalcante8808 opened #1429 "Is there any documentation on how to use thumbor as a library?"
Hi Folks,

I'd like to know if is there any documentation or source that points how to use thumbor as a library.

Originally I was reading https://github.com/thumbor/thumbor/issues/786 and there is a interesting (but old) comment: https://github.com/thumbor/thumbor/issues/786#issuecomment-520721859

In the example there is a tornado setup, but if its possible to instantiate an engine and then use

[2022-04-03 02:38] heynemann commented on #1429
Not really but would be awesome if you could contribute it :) We can help along the way on how to use it.

Thumbor has docs detailing each of its parts: loaders, storages, engines, filters, detectors...

With that in mind it should be easy to just reuse thumbor's parts (what AWS did in their docs on using thumbor and its filters.

[2022-04-03 02:46] #1417 closed

[2022-04-03 02:51] heynemann commented on #1425
Is that something you can help with @villesau ?

[2022-04-03 02:53] heynemann commented on #1424
Thumbor will not delete the older files. It will simply consider them as expired in disk and then download them again on the next request. It is not feasible for thumbor to perform cleanup of expired files in your filesystem, because every single thumbor user's filesystem is different. There are people storing files in Redis, S3, Mongo, NFS, ... You name it. Therefore thumbor asks the storage prov

[2022-04-03 02:53] #1424 closed

[2022-04-03 03:04] heynemann commented on #1417
Fix released under thumbor 7.0.8. Thanks for the thorough report!

[2022-04-03 09:34] villesau commented on #1425
Unfortunately I'm not an expert with Helm so cannot pull it off at this point at least. Maybe at some point in the future if we decide to deploy this but there is no timeline.

[2022-04-11 10:18] kevinsingapore opened #1431 "when time to support aarch64?"
i hope that offical to support aarch64, binary or docker image.
and thanks!

[2022-04-12 00:30] #1418 closed

[2022-04-20 20:14] markatli commented on #1314
@heynemann Would love to see it as well! Thank you!

[2022-04-23 13:40] scorphus commented on #1413
True. This ship shas long sailed.

[2022-04-28 13:50] beeyev opened #1432 "How to install py3exiv2 inside alpine linux"
Hello,
I am using Thumbor v7 inside alpine docker container.
Everything works fine except one thing. I can not install the package `py3exiv2` which is needed for EXIF metadata.

Could someone please help me find the way how to install it ?
I use this docker base image: `python:3.7-alpine`

[2022-04-30 15:41] scorphus commented on #1432
Hey 👋

What have you tried so far?

[2022-05-01 14:42] RaphaelVRossi commented on #1432
Hey @beeyev

I was able to install `py3exiv2` on docker image `python:3.9-alpine`, because the package `boost-dev-1.77.0` install only python 3.9 lib version.

If you try to install on docker image `python:3.7-alpine` you will receive the following error:

[code]

Inside `/usr/lib` you can see only python 3.9 libs

[code]

To install `py3exiv2` , you need to install these following alpine packages

[2022-05-01 17:34] scorphus commented on #1432
Cool! Glad it works. I'm closing this one.

BTW, in case you need to stick to `python:3.7-alpine`, you can create a copy of (or a link to) the shared object file:

    ln -s /usr/lib/libboost_python39.so /usr/lib/libboost_python37.so

[2022-05-01 17:34] #1432 closed

[2022-05-02 13:13] OndrejIT opened #1434 "Thumbor doesn't respect order in filters pipeline"
### Thumbor request URL
http://127.0.0.1:8080/unsafe/500x0/filters:watermark(raw.githubusercontent.com/thumbor/thumbor/master/logo-thumbor.png,-10,-10,50,30):blur(5)/raw.githubusercontent.com/thumbor/thumbor/master/example.jpg
![example](https://user-images.githubusercontent.com/11267809/166238020-f3b80b02-955d-47f7-8c96-f16dd3f38574.jpg)

http://127.0.0.1:8080/unsafe/500x0/filters:blur(5):waterma

[2022-05-02 13:21] OndrejIT commented on #1434
(Virtual env python 10 on my manjaro the same problem.)

[2022-05-02 21:33] scorphus commented on #1434
Thanks for reporting, @OndrejIT 👍

I hereby confirm this issue.

## With `watermark` followed by `blur`

### Thumbor 6.7.5

![image](https://user-images.githubusercontent.com/2112697/166330819-d40fb853-cf73-48b4-ab72-d979f89642eb.png)

### Thumbor 7.0.9

![image](https://user-images.githubusercontent.com/2112697/166330908-d4a34de4-7f6f-475d-b819-866ee39c9183.png)

## With `blur` followed by `water

[2022-05-02 22:15] scorphus commented on #1434
Introduced in 3d5fbe93aa990ab5e7e8b9724e0fad9d1db60f98. Fix on the way.

[2022-05-02 23:15] bigcat88 commented on #1385
@christaggart you can do: `import pillow_heif.HeifImagePlugin` if you do not want to call `register_heif_opener`