[2015-06-17 18:12] guilhermef commented on #495
The error is on remotecv's end: https://github.com/thumbor/remotecv/blob/master/remotecv/image_processor.py#L16

I'll correct this now and release a new version.

[2015-06-17 18:14] eduherraiz commented on #495
Amazing. I'll happy to test it!

[2015-06-17 18:30] okor opened #497 "Support for jpeg 2000"
As mentioned in https://github.com/thumbor/thumbor/issues/486 and similar to https://github.com/thumbor/thumbor/issues/496, I am lobbying for jpeg 2000 support. It's supported in most versions of Safari on OSx and iOS. This request is purely for explicit conversion to jpeg 2000 via the format() filter. I think jpeg 2000 support is significantly more important than jpeg xr given global browser tren

[2015-06-17 19:02] guilhermef commented on #495
@eduherraiz I've released remotecv's 1.0.1 version.

[2015-06-17 19:31] eduherraiz commented on #495
Thank you!
I'm think it's not all fixed yet.
Now, when I use the feature detector, works, and detect features:

But, when I use:

There is not detecting features (with the same image).

[2015-06-17 19:33] eduherraiz commented on #495
Maybe is missing from https://github.com/thumbor/remotecv/blob/master/remotecv/detectors/complete_detector/__init__.py ??

[2015-06-17 19:36] guilhermef commented on #495
That's strange, because they're doing the same thing: https://github.com/thumbor/remotecv/blob/master/remotecv/detectors/feature_detector/__init__.py#L23
https://github.com/thumbor/thumbor/blob/master/thumbor/detectors/feature_detector/__init__.py#L37

Can you debug which points it's returning ?
https://github.com/thumbor/thumbor/blob/master/thumbor/detectors/feature_detector/__init__.py#L37

[2015-06-17 20:24] eduherraiz commented on #495
I test this works https://github.com/thumbor/remotecv/pull/3

[2015-06-17 20:35] guilhermef commented on #495
@eduherraiz I've released the 1.0.2

[2015-06-17 20:35] guilhermef commented on #495
Thanks @eduherraiz

[2015-06-17 20:35] #495 closed

[2015-06-23 11:32] neonal opened #498 "Delays between frames are deleted in animated GIFs"
Hello,

When I try to resize an animated GIF using thumbor, delay information in animated GIFs are deleted.

Example:
Original image: http://img-9gag-fun.9cache.com/photo/aDmwdrx_460sa.gif
Thumborized: http://thumbor.thumborize.me/unsafe/500x330/filters:strip_icc()/http://img-9gag-fun.9cache.com/photo/aDmwdrx_460sa.gif

[2015-06-23 13:20] estahn commented on #333
@heynemann I tried to get thumbor up and running in a vagrantbox so that i would be able to add a new optimiser. However i receive the following error:

[code]

Any idea on how to solve it?

[2015-06-23 13:22] heynemann commented on #333
Apparently pillow is not installed in the virtualenv in your Vagrant box.

[2015-06-23 13:31] guilhermef commented on #498
That's a problem related to Pil, when you use gifsicle it doesn't happen.

[2015-06-23 14:06] scorphus commented on #333
@estahn: Please take a look at https://github.com/scorphus/thumbor-bootstrap for it may be helpful, although I haven't touched it for a little while.

[2015-06-23 19:57] guilhermef commented on #498
It should be working now, we've updated thumborize.me to use gifscicle.

[2015-06-23 19:57] #498 closed

[2015-06-29 20:23] okor opened #501 "Webp image with alpha/transparency filled with black"
We just turned on automagic webp for all of our sites and noticed that images that had transparency in the source (just png sources tested) the resulting webp image has filled the alpha channel with black : (

Top image is Firefox (png) lower image is Chrome (webp). Any ideas what might be causing this?

![screen shot 2015-06-29 at 16 21 21](https://cloud.githubusercontent.com/assets/142910/841750

[2015-06-29 20:48] okor commented on #501
For reference, here is the source image:

![centralline 0](https://cloud.githubusercontent.com/assets/142910/8418074/ae9c9b4a-1e7e-11e5-8abc-8dccd0d351eb.png)

[2015-06-30 02:38] guilhermef commented on #501
I've tried on Thumborize.me with PIL: http://thumbor.thumborize.me/unsafe/400x0/filters:no_upscale()/https://cloud.githubusercontent.com/assets/142910/8418074/ae9c9b4a-1e7e-11e5-8abc-8dccd0d351eb.png
It didn't happened, which engine are you using ?

[2015-06-30 20:14] okor commented on #501
We are using pillow. It's thumbor version 4.12.2 on Ubuntu 12.04.

I think that we have figured out the issue. Our version of libwebp-dev is too old ( 0.1.3-2.1ubuntu1 ) from a time when libwebp did not support alpha. I've installed libwebp-dev version ~ 0.4 and seems to have fixed the problem. Conducting further testing but I think we can close this issue.

[2015-06-30 20:14] #501 closed

[2015-07-01 04:50] everlastin opened #502 "thumbor:WARNING Malformed URL"
Why would we receive the malformed url error for the url below:

http://thumbor-server.com/5DlvHS38TZ3OTS2t7qKdKzN6lU4=/252x198/https://s3.amazonaws.com/bucket-name/rP1ysDPH_Photo_Apr_18_8_46_13_PM.jpg

We are using Phumbor to generate the URL.  Any thoughts?

[2015-07-01 11:05] eduherraiz opened #503 "Docker thumbor"
I've been working on a complete docker image for thumbor.
Take a look in [github](https://github.com/APSL/docker-thumbor) or in the [docker hub](https://registry.hub.docker.com/u/apsl/thumbor/).

Features:

* All configuration via environment variables
* Opencv detectors included
* Optimizer JPEG included
* Nginx cache to optimize the server of result images
* Separated remotecv docker image (nece

[2015-07-01 12:15] eduherraiz commented on #503
I found the related issues #205 and #206.
I could be work in include the docker images code in thumbor.
What do you think?

[2015-07-03 15:37] sgavade opened #504 "Malformed URL for any images from media.nbcdfw.com"
Hi Any image URL that I try to thumborize from media.nbcdfw.com ends up giving malformed url. I have tried urlencode as well without much success. Here is a sample url http://media.nbcdfw.com/images/1200*675/shutterstock_413603_metro_train_double.jpg

This is my thumborized url

http://thumborserver/LvYwUb3DtlbCzMfotyAHSKwDKgI=/fit-in/236x0/http%3A%2F%2Fmedia.nbcdfw.com%2Fimages%2F1200*675%2Fshutt

[2015-07-06 17:57] guilhermef commented on #504
That happens on the unsafe url too ?

[2015-07-06 17:59] guilhermef commented on #503
@eduherraiz It looks amazing, I'll add to the Docs.
Thanks ;)

[2015-07-06 18:04] guilhermef commented on #503
I've added to the Getting started section: https://github.com/thumbor/thumbor/wiki/Getting-started#running-on-docker

[2015-07-06 18:40] sgavade commented on #504
I have not tested with unsafe url but will try it and get back to you.

On Mon, Jul 6, 2015 at 12:57 PM, Guilherme Souza, A.k.a.: Galinho <
notifications@github.com> wrote:

[2015-07-06 20:45] runa opened #505 "Sample NGINX config including WEBP"
I've found [several NGINX sample configs](https://gist.github.com/heynemann/3341234) to serve the results generated by thumbor directly from NGINX (by having a `location` config block with the `RESULT_PATH` as `root`).

If I understand correctly, when `AUTO_WEBP` is enabled, the `RESULT_PATH` tree structure is prefixed by a `webp` directory.

I would love to see a sample NGINX config supporting `A

[2015-07-07 07:38] #488 closed

[2015-07-07 14:56] okor commented on #501
For anyone reading this, I confirmed that libwebp was the cause and the solution was to upgrade to ~ 0.4

This may be an issue for you if you are running thumbor on Ubuntu 12.04. You may be able to find a ppa (if you trust it) otherwise build from source.

[2015-07-07 15:41] eduherraiz commented on #503
Great! @guilhermef

[2015-07-07 19:07] #503 closed

[2015-07-07 21:35] guilhermef commented on #357
Done on https://github.com/thumbor/thumbor/wiki/Extract-Cover

[2015-07-07 21:35] #357 closed

[2015-07-13 14:41] vijjay29 opened #507 "Thumbor error"
Traceback (most recent call last):
  File "/usr/local/bin/thumbor", line 9, in <module>
    load_entry_point('thumbor==5.0.4', 'console_scripts', 'thumbor')()
  File "/usr/local/lib/python2.7/dist-packages/thumbor/server.py", line 98, in main
    server.bind(context.server.port, context.server.ip)
  File "/usr/local/lib/python2.7/dist-packages/tornado-4.2-py2.7-linux-x86_64.egg/tornado/tcpserver.p

[2015-07-14 03:30] lfalcao commented on #505
@runa,

You can also use proxy cache... https://gist.github.com/lfalcao/d1e0ae9ac267605967ff

[2015-07-14 04:18] lfalcao commented on #507
@vijjay29,

the port you're trying to start thumbor is already in use... check netstat -ltn

[2015-07-14 05:06] vijjay29 commented on #507
@lfalcao Thanks bro,
But still could you tell me how to fix it., Im new to thumbor and linux too

[2015-07-14 10:55] vijjay29 opened #508 "How to change the Adress in thumbor"
Traceback (most recent call last):
  File "/usr/local/bin/thumbor", line 9, in <module>
    load_entry_point('thumbor==5.0.4', 'console_scripts', 'thumbor')()
  File "/usr/local/lib/python2.7/dist-packages/thumbor/server.py", line 98, in main
    server.bind(context.server.port, context.server.ip)
  File "/usr/local/lib/python2.7/dist-packages/tornado-4.2-py2.7-linux-x86_64.egg/tornado/tcpserver.p

[2015-07-14 13:31] jakubhajek opened #509 "Uploading images"
Hi!
I am playing with uploading image in Thumbor. I executed successfully following command:

curl -i -H "Content-Type: image/jpeg" -H "Slug: image1.jpg" -XPOST http://localhost:8000/image --data-binary "@/tmp/161072-1-69633-1320414594.jpg"
HTTP/1.1 100 (Continue)

HTTP/1.1 201 Created
Date: Tue, 14 Jul 2015 13:19:25 GMT
Content-Length: 0
Content-Type: text/html; charset=UTF-8
Location: /image/7e4

[2015-07-14 13:51] guilhermef commented on #509
That's actually a bug, we've changed the way we get the image mime type.
On Jul 14, 2015 10:31 AM, "jakubhajek" <notifications@github.com> wrote:

[2015-07-14 14:52] jakubhajek commented on #509
Hi, Thank you fro answer - are there any plan where it would be fixed ?
Thank you,

[2015-07-14 17:03] lfalcao commented on #507
@vijjay29,

try to start thumbor using another port and dont create unnecessary and duplicates issues ;) (https://github.com/thumbor/thumbor/issues/508)

[code]

[2015-07-14 19:22] guilhermef commented on #509
I'll take a look, you can use the last tag, it should be OK.
On Jul 14, 2015 11:52 AM, "jakubhajek" <notifications@github.com> wrote:

[2015-07-14 20:08] jakubhajek commented on #509
Hi, Currently we have running Thumbor 5.0.4 - I have upgraded today and we are experiencing the same issue described at the beginning.
Appreciate your help on it.
Thanks,

[2015-07-14 20:46] guilhermef commented on #509
That's strange, I'll need more time to dig into it.
On Jul 14, 2015 5:08 PM, "jakubhajek" <notifications@github.com> wrote:

[2015-07-15 16:21] dhardy92 commented on #509
is storage module an external module ?
seams not compatible with new asynchronous API in thumbor 5.0.

[2015-07-15 16:23] dhardy92 commented on #507
999 will only work with root user (because <1024)

[2015-07-15 16:27] jakubhajek commented on #509
hello,
we are using following module:

STORAGE = 'thumbor.storages.file_storage'

just simple filesystem storage.

Thanks,

[2015-07-16 01:22] lfalcao commented on #504
@sgavade, using 5.0.4 and unsafe works.

200 GET /unsafe/fit-in/236x0/http://media.nbcdfw.com/images/1200*675/shutterstock_413603_metro_train_double.jpg (127.0.0.1) 99.24ms

[2015-07-16 08:22] #507 closed

[2015-07-16 13:45] jakubhajek commented on #509
HI!
Seems that I have the culprit, I set up

STORAGE_EXPIRATION_SECONDS=0

One of the purpose of installing Thumbor in our infrastructure besides of creating thumbnails - is uploading  lots of images from few external sources through Thumbor instance and store them to our local storage, in the case in regular filesystem.
My assumption was to store images for ever without any expiration time.

Woul

[2015-07-16 13:56] guilhermef commented on #509
I think we could change the [__is_expired](https://github.com/thumbor/thumbor/blob/master/thumbor/storages/file_storage.py#L122) to return False if you set the STORAGE_EXPIRATION_SECONDS to None.

[2015-07-16 14:17] jakubhajek commented on #509
Whatever suits you the best - and allow stores images forever without expiration time.
Thank you,

[2015-07-16 14:55] guilhermef commented on #509
@jakubhajek I've made a few changes, now if you set the STORAGE_EXPIRATION_SECONDS to None, it will ignore it. https://github.com/thumbor/thumbor/commit/3c24ff437e468a8654af889384c77f52a850c054

And the error you've reported won't happen anymore.

Do you mind testing with the master ?

[2015-07-16 15:04] jakubhajek commented on #509
@guilhermef I don't mind testing Master on our test environment. :) As you suggest I set up STORAGE_EXPIRATION_SECONDS to None and mentioned errors does not longer occur.
I was able to upload image and than "GET" it from our servers.

Works like a charm :+1:

We have to test it before promoting that to production environment and make sure that images are stored forever without expiration.

Thank y

[2015-07-17 14:37] heynemann commented on #505
@runa are you satisfied? Can I close this issue?

[2015-07-17 14:40] #509 closed

[2015-07-17 14:41] #508 closed

[2015-07-17 14:50] heynemann commented on #504
I think we need to specify it somewhere in the Docs that makes sure that people encode the URL before generating the signed URL.

If you do encode the URL it works like a charm.

/J7yz2TKQQxrq_9zc7mlVnRThBaU=/fit-in/236x0/http%3A//media.nbcdfw.com/images/1200%2A675/shutterstock_413603_metro_train_double.jpg

With security key of MY_SECURE_KEY works like a charm.

[2015-07-17 14:57] runa commented on #505
well, I liked the RESULT_PATH serving better; but it's fine

[2015-07-17 15:58] sgavade commented on #504
Thanks. In my case I encoded the URL as well but it did not help. The  url
that you tired are little different from mine. Let me send you the urls
that fail for me.

Regards.
Sameer

On Fri, Jul 17, 2015 at 9:50 AM, Bernardo Heynemann <
notifications@github.com> wrote:

[2015-07-17 17:04] heynemann commented on #504
I used:

    from urllib2 import quote
    url = quote("http://media.nbcdfw.com/images/1200*675/shutterstock_413603_metro_train_double.jpg")

If you are using a different language I advise you to look at how python does url encoding.

[2015-07-17 19:12] heynemann opened #510 "Create a new engine thumbor-jpegtran-engine"
Create a new engine using [jpegtran](http://jpegtran-cffi.readthedocs.org/en/latest/) for jpeg images and alternative (pil or anything else) engine for all other formats.

This engine has all the capabilities we require and it's almost twice as fast as PIL.

[2015-07-20 07:42] estahn opened #512 "New optimizer jpeg-archive / recompress"
It would be great if someone could help providing an optimiser integration for [jpeg-archive](https://github.com/danielgtaylor/jpeg-archive). I had great success reducing images without visible effects, e.g. similar to [jpegmini](http://www.jpegmini.com/).

If you want to give it  a shot just clone and run it on a couple of images:
[code]

Unfortunately I was unable to get thumbor running so that

[2015-07-20 14:02] heynemann commented on #512
That's odd, did you try our [Hacking on Thumbor](https://github.com/thumbor/thumbor/wiki/Hacking-on-thumbor) page?

Other than that, we have a project dedicated to plugins: [thumbor-plugins](https://github.com/thumbor/thumbor-plugins). Do you mind creating this issue there?

thanks!

[2015-07-20 23:21] estahn commented on #512
@heynemann I think i did check this page without success. I'll give it another try this afternoon.

I move the issue to plugins.

Thanks :)

[2015-07-20 23:21] #512 closed

[2015-07-21 07:27] phoet commented on #302
would be really cool to get more metrics out of thumbor. we experimented with NewRelic to gain more insight, but it looks like tornado is not supported any longer. if you have any pointers for how we could easily get more data into our librato setup or any other helpful service, please let me know. we are especially interested in the time it takes to fetch the original images from the web. i guess

[2015-07-21 17:08] heynemann commented on #302
It seems incredibly useful @phoet do you think you can help with a Pull Request to add it?

[2015-07-21 19:03] virtuman opened #513 "Dynamic script Image URLs"
I see that a lot of work in the last commits went towards filtering query params, but this introduces a very much unwanted behavior. Here's an example of reallife issue:

URL format (not when widht, height, quality are not specified, then default thumbnail size is served (100x100, quality 60):
www.site.com/Assets/Images/Default.aspx?productID=44444&Image=1
www.site.com/Assets/Images/Default.aspx?p

[2015-07-21 19:20] guilhermef commented on #513
The query params were stripped to read the image format, and we've actually abandoned this solution in favor of a mimetype reader.
If you quote the url like this: http://thumbor.thumborize.me/pqXNEcUYZtuMCY2DCPmfZjWVg3Q=/https%3A//alecs1.files.wordpress.com/2009/05/18-jos2.jpg%3Fw%3D300
It will work.

[2015-07-21 19:24] #513 closed

[2015-07-24 02:27] terrycheung opened #514 "Signed url with convolution filter doesn't work."
Hi,

I've been using thumbor-url to sign urls and thumbor throws a malformed URL error when i use a signed url that uses a convolution filter. Other filters such as brightness, upscale seem to work fine.

Any ideas?
Thanks.

[2015-07-24 09:10] nguyennhatkhang92 opened #515 "How to config for libcurl in thumbor.conf can be download an image with multi connection ?"
Hi.
I'm using thumbor recently and I have been read thumbor-config on https://github.com/thumbor/thumbor/wiki/Configuration. I don't know "how to config for libcurl in thumbor can be download an image with multi connection ?".
I using Nginx proxy_pass to thumbor service then I see two case:
1.
"- thumbor:WARNING ERROR retrieving image http://192.168.1.1:89/private/20/FshareFS/mega/201507/20/afe5fd

[2015-07-24 18:06] guilhermef commented on #514
@terrycheung can you share an example ?

[2015-07-25 20:14] igormatkovic opened #516 "Ubuntu + Thumbor using 100% CPU"
Setup:
DigitalOcean
Machine 1:
Ubuntu 14.11
Thumbor 5.05

Machine 2
Ubuntu 15.04
Thumbor 4.12.2

Both machines were with the default config.
Only thing changed was the Security key.

supervisord is starting 2 instances of thumber. And nginx is load balancing them.
There is nothing else on the machine running.

Every couple of hours. For some reason one of our cores on a 2core machine goes up to 10

[2015-07-26 14:01] heynemann commented on #516
In the logs what comes immediately before this error?

[2015-07-26 14:13] igormatkovic commented on #516
The list just keeps going:

syslog
[code]
kern.log
[code]

[2015-07-26 14:16] heynemann commented on #516
I wanted to see if we can find which filter (if any) you are using. Our filters are implemented in C. There might be a bug in one of them causing a segfault. Or it might just be a faulty install of python-dev.

[2015-07-26 14:21] guilhermef commented on #516
I've seen a few segfaults related to libc-2.21. Can you downgrade to 2.20
and see if still happens ?
On Jul 26, 2015 11:16 AM, "Bernardo Heynemann" <notifications@github.com>
wrote:

[2015-07-26 14:40] igormatkovic commented on #516
Could not downgrade on the 15.04 without loading a different package so i just checked the other machine that runs 14.11 Ubuntu.

Version is: libc-2.19.so

Tomorrow i will try to install it on Linode and AWS to compare whats going on.

[code]

[2015-07-27 11:54] igormatkovic commented on #516
Just installed thumbor 5.0.5 on Ubuntu 14.04 LTS

Now i didnt use Nginx to remove any any dependencies.

Setup is default with added security key.

Supervisord runs only one thumbor process and maps it to the port 80.

The errors in the kern.log and syslog are the same as before.
But now i have a few errors and warnings in: thumbor.stderr.log

[code]

[2015-07-27 14:15] guilhermef commented on #516
Do you have a specific url that causes this issue ?

[2015-07-27 14:17] igormatkovic commented on #516
Not sure what you mean. The IP is pointing to a domain. But all the image URLs we are using are currently working.

I tested around 2200 images with siege and they all loaded fine.

[2015-07-27 14:19] guilhermef commented on #516
Which filters and transforms are you using ?

[2015-07-27 14:26] igormatkovic commented on #516
Our mobile apps generate the URL's,
other then the sizes, these to formats/filters we use

[code]

[2015-07-27 14:33] igormatkovic commented on #516
And like i wrote before. I have not enabled anything extra. Its the default config with the security key added

[2015-07-27 18:31] guilhermef commented on #516
@igormatkovic I've been running a droplet with Ubuntu 15.04 trying to reproduce this error without success.
We suspect that the https://github.com/thumbor/thumbor/blob/master/thumbor/ext/filters/_round_corner.c is causing this error.

[2015-07-27 19:36] igormatkovic commented on #516
To install thumbor i used this gist

https://gist.github.com/okor/79c38cfb03b153bd4eb2

[2015-07-27 20:00] guilhermef commented on #516
I've update the gist to remove some unnecessary packages and install the right ones:
https://gist.github.com/guilhermef/297680f457f82fb27b3d

[2015-07-27 20:09] igormatkovic commented on #516
Installing it now. Usually the issue appears in few hours.

[2015-07-27 20:16] guilhermef commented on #516
I've rebuilt the droplet and installed from scratch,
I had to remove the upstart part since it wasn't working on 15.04.

[2015-07-27 20:39] igormatkovic commented on #516
The server is running for the past 15minutes now.

My Siege test went good. Had about 15k hits (30req/s) with about 99.9% success (last time i had around 99.79%

The cpu currently is 0.10 on the 2core machine. Not sure how many images we are serving right now since all our mobile apps have caching, but it looks like its working just fine.

Im monitoring it and ill write back my results

Thanks

[2015-07-28 07:08] igormatkovic commented on #516
Well unfortunately it happened again:

https://www.dropbox.com/s/tfbruaffh9nzium/Screenshot%202015-07-27%2022.56.41.png?dl=0

Nothing useful in the logs again.

Im running this with supervisor. Could that be causing it somehow?
I will try removing supervisor and just running the process directly

[code]

[code]

[2015-07-28 11:04] vinczente opened #518 "Name or service not known"
Thumbor stopped working for me but I am unsure why.

I noticed in the log there was an error at start :

libdc1394 error: Failed to initialize libdc1394

using debug mode I could find this:

2015-07-28 11:00:17 thumbor:WARNING ERROR retrieving image http://center/smart/http://center/smart/https://d2gg9evh47fn9z.cloudfront.net/thumb_COLOURBOX10334787.jpg: [Errno -2] Name or service not known
2015-0

[2015-07-28 11:09] #518 closed

[2015-07-28 11:10] vinczente commented on #518
Sorry got confused in url parameters and stuff

[2015-07-28 13:24] guilhermef commented on #516
@igormatkovic can you paste the supervisord log ?

[2015-07-28 13:32] igormatkovic commented on #516
Here it is, it just goes on and on like this.

[code]

[2015-07-28 13:40] guilhermef commented on #516
@igormatkovic It's a long shot, but could you run your thumbor instance with gdb enabled ?
https://wiki.python.org/moin/DebuggingWithGdb

[2015-07-28 13:54] igormatkovic commented on #516
Tool is installed and im not running siege to get the error to appear faster.

Not sure if this helps. But this is what i got from GDB

[code]

[2015-07-28 13:57] guilhermef commented on #516
Be careful, I think the log is showing you security key.
On Jul 28, 2015 10:54 AM, "Igor Matkovic" <notifications@github.com> wrote:

[2015-07-28 14:00] guilhermef commented on #516
@igormatkovic I've deleted your last comment, because I think that your security key was appearing on it.

[2015-07-28 14:00] igormatkovic commented on #516
Yea i see that
thanks.. didnt realise the key was in there.

[2015-07-28 14:03] igormatkovic commented on #516
For now since i dont know whats going on i set up Monit
To monitor the CPU and if it goes over 30% it will SIGTERM thumbor...

Im now going to set up the newrelic python monitor maybe that will shed some lite on the situation.

If you wish to access the machine to take a better look just skype me (m_igor23)

[2015-07-28 14:04] guilhermef commented on #516
@igormatkovic I'll start a droplet to see If I can reproduce the error.

[2015-07-28 14:20] guilhermef commented on #516
@igormatkovic I'm running a thumbor instance on 104.131.94.146 with the default key, can you point you siege test to this machine ?

[2015-07-28 14:27] igormatkovic commented on #516
I can, i just sent you the email with a key that you need to use.

Also, i should mention, when i run tests never break the app. It allways works like it should.

The error usually appears after a while.

[2015-07-29 15:43] LeonB opened #520 "using trim with certain transparent png's results in not-transparent images"
Original:
![pallas_m_fix_moondust original](https://cloud.githubusercontent.com/assets/3979/8961890/11529f72-3618-11e5-8187-0b8ffdce4139.png)

With trim (wrong / no transparency):
![pallas_m_fix_moondust 1](https://cloud.githubusercontent.com/assets/3979/8961891/115de01c-3618-11e5-9253-eec65800983a.png)

Without trim (transparency = good):
![pallas_m_fix_moondust](https://cloud.githubusercontent.c

[2015-07-29 16:01] LeonB commented on #520
Yeah, when returning before image_data_as_rgb() the transparency is reserverd. Returning directly after that call converts the transparency to black.

[2015-07-29 20:43] LeonB commented on #520
This works for me:

[code]

I'm installing the test environment to run `make ci_test` and see if anything broke.

[2015-07-29 21:04] guilhermef commented on #520
Palleted PNG mode is represented by a P, https://github.com/thumbor/thumbor/blob/master/thumbor/engines/pil.py#L226
Since we ignore it, we just convert the image to RGB instead of RGBA

[2015-07-29 21:18] LeonB commented on #520
@guilhermef thanks! Would something like this work?

[code]

[2015-07-29 21:19] guilhermef commented on #520
I'm still testing to see what will happen

[2015-07-29 21:23] LeonB commented on #520
Ok, thanks. Is het first diff also something that could be accepted as a change? It seems to me image_data_as_rgb() on that line is only used to determine what the bounding box is. So changing the original image is a bit of a side-effect? Or am I wrong in that?

[2015-07-29 21:39] guilhermef commented on #520
We use this to give a normalized buffer to other engines or filters,
the problem is that we assume that a pallete mode doesn't have an Alpha channel.
I'll push a change to keep Pallete mode, but I'm still trying to validate if something will break.

[2015-07-29 21:41] guilhermef commented on #520
That should solve: https://github.com/thumbor/thumbor/commit/e719195f172fe24f3ecb124fae002b5a6230755f
Do you mind testing ?

[2015-07-29 21:49] LeonB commented on #520
The image renders correctly with transparency now. Also the `make redis mongo ci_test` reported
[code]

[2015-07-29 21:56] guilhermef commented on #520
The tests are passing but I'm afraid that this could mess up some images colors,
I'll run more tests during the week.

[2015-07-29 21:57] LeonB commented on #520
Understandable. I've updated my live environment to e719195f17 to see if anything breaks.

[2015-07-29 21:58] guilhermef commented on #520
Thanks @LeonB, let me know if something happens.
I'll keep this issue open while we test.

[2015-07-29 22:01] LeonB commented on #520
Thank you! I'll keep monitoring it for a week or so on the webshop I'm using it on. Using thumbor cut down the pagesize of the homepage from 3.5mb to 1.0mb. Thumbor is an awesome project!

[2015-07-29 22:23] guilhermef commented on #520
Have you enabled auto_webp ?

[2015-07-30 08:15] LeonB commented on #520
Yeah, auto_webp is on.

[2015-07-31 14:05] guilhermef commented on #520
@LeonB How's Thumbor treating you ? everything ok ?

[2015-07-31 14:05] guilhermef commented on #516
@igormatkovic Can I close this issue ?

[2015-07-31 14:08] igormatkovic commented on #516
Yes

[2015-07-31 14:08] #516 closed

[2015-07-31 14:09] #484 closed

[2015-07-31 16:08] LeonB commented on #520
Yeah, everything is great so far. I've got 4 thumbor processes running behind nginx on a server that's already doing stuff and the load of thumbor isn't really noticeable. Only thing is when loading a page with lots of (resized) images it takes a while to load them all. So maybe I have to bump up the number of processes.

Setting thumbor up was fairly easy. Only thing I had a little trouble with w

[2015-07-31 17:30] guilhermef commented on #520
Are you using a result_storage ?

[2015-07-31 19:37] LeonB commented on #520
No, I don't believe so.

If the original image changes will thumbor pick up on the changes? Is there some kind of setting for that?

[2015-07-31 19:42] guilhermef commented on #520
You can set an expiration, that will cause Thumbor to reload the image: https://github.com/thumbor/thumbor/blob/master/thumbor/config.py#L162

But you should set a RESULT_STORAGE: https://github.com/thumbor/thumbor/blob/master/thumbor/config.py#L89
that will cache the crop result and use it on other requests instead of cropping again.

[2015-07-31 19:47] LeonB commented on #520
Can all the storages be set to `thumbor.storages.redis_storage`? That isn't entirely clear from the documentation.

[2015-07-31 19:50] guilhermef commented on #520
No, Thumbor has two kinds ot storage, the thumbor.storage, is responsible for caching the image that you got from the external server or filer, a.k.a the original image, and there's the thumbor.result_storage, that caches the image generated by Thumbor.

[2015-07-31 19:55] LeonB commented on #520
Ah, ok. And the other storages (MIXED_STORAGE_FILE_STORAGE, MIXED_STORAGE_CRYPTO_STORAGE & MIXED_STORAGE_DETECTOR_STORAGE) can use the 'thumbor.storages.redis_storage'.

I'll create some cronjob or something to clean up /tmp/thumbor/result_storage/ every few weeks or so.

[2015-07-31 19:56] guilhermef commented on #520
You don't need a cronjob, result_storage has expiration too.

[2015-07-31 20:04] guilhermef commented on #520
There's a wiki for that https://github.com/thumbor/thumbor/wiki/Image-storage

[2015-07-31 20:06] LeonB commented on #520
Ah, nice. So setting RESULT_STORAGE_EXPIRATION_SECONDS to a month will also remove stale / old files from disk?

[2015-08-03 12:55] guilhermef commented on #520
No @LeonB, It won't remove from the disk.

[2015-08-04 10:02] vinczente commented on #484
I think I have 4.7.1

[2015-08-04 12:04] guilhermef commented on #484
Do you have an image example that causes this ?

[2015-08-04 13:02] vinczente commented on #484
The image that made me raise the issue is this one:
http://i.digiguide.tv/up/1406/974526-100%25BigC-14035365930.jpg
Sorry I haven't tried the new Thumbor version

[2015-08-04 13:40] guilhermef commented on #484
@vinczente You should always quote the url's.
[code]

I've tested and the quoted url works.

[2015-08-04 13:42] vinczente commented on #484
Oh, right !

Thanks !

[2015-08-04 19:44] masom commented on #515
We've seen this happen in production with several hundred images being loaded at the same time. It usually boils down to the upstream server limiting the number of concurrent requests from a single host or the thumbor instance being overloaded.

Some work was done on thumbor 4.x to "throttle" thumbor using a threadpool.

Can you try `ENGINE_THREADPOOL_SIZE=n` where n is your number of cpu?

Docs o

[2015-08-04 19:47] masom opened #522 "FEAT: Configurable url signing strategy"
Thumbor url signing is awesome but produces "long" urls.

Signer should be configurable like the storages and loaders.

The interface is already defined and the request contains the hash. The only change would happen on line https://github.com/thumbor/thumbor/blob/master/thumbor/handlers/imaging.py#L65 and context code to load a signer.

The required  changes will not break backward compatibility

[2015-08-04 19:48] masom commented on #522
I'll open a PR tomorrow for this feature.

[2015-08-05 12:24] roelvanduijnhoven opened #525 "Make focal point settable via web url"
The users of our application can set the focal point of images themeselves in our CMS. In the frontend we use Thumbor to serve the images efficient.

We do this using the `Manual Crop` option. This forces us to do some math ourselves. It would have been easier if we could use the resize option and simply pass along a focal point ourselves.

Did I simply overlooked this or isn't this possible? In t

[2015-08-05 13:19] roelvanduijnhoven commented on #525
A solution that comes to mind is to be able to add custom focal points via a filter. An URL call could look like this the one below.

`http://172.17.0.8:8888/unsafe/800x280/filters:add_focal(100,100):extract_focal()/https://url.jpg`

[2015-08-05 14:25] masom commented on #520
@LeonB we use redis_storage and a redis_result_storage with a 16gb database and it's great. Check it out at https://popkey.co

[2015-08-05 18:40] runa commented on #505
@heynemann we've tested this but the storage needed grows *a lot*;
I think we could do something sniffing the `Accept` header in the request?

I'm suprised noone found this before? Or everyone else does this at CDN level?

Our CDN (edgecast) only respects `Vary` in some specific cases :(

[2015-08-05 21:58] heynemann commented on #505
Yep, the storage does grow. What people have suggested works better is using a fixed-size storage like Redis. You allocate some amount of memory to it (8gb or something like it) and let it expire results. This way you'll always know what your limit to result storage is. Does that make sense in your scenario?

[2015-08-05 22:54] runa commented on #505
meh...  I liked nginx serving from the result storage.
I'll hack something, sniffing the accept req header.  if I come up with
something interesting I'll let you know
El 5/8/2015 6:58 p. m., "Bernardo Heynemann" <notifications@github.com>
escribió:

[2015-08-06 23:42] nickponline opened #526 "Can you access the URL string from a Filter?"
I'm trying to access some parameters from the URL from a filter but can't find a way to get access to it. Is it possible?

[2015-08-07 08:06] dhardy92 commented on #526
it would be available in ```self.context.request``` object (inherited from BaseFilter)
There is already many things in it (heigth, width, parameters...) that could be much accurate for your needs than URL

[2015-08-07 08:06] #526 closed

[2015-08-07 16:33] gavelino opened #527 "thumbor Truck Factor"
As part of my PhD research on code authorship, we calculated the Truck Factor (TF) of some popular GitHub repositories.

As you probably know, the [Truck (or Bus) Factor](https://en.wikipedia.org/wiki/Bus_factor) designates the minimal number of developers that have to be hit by a truck (or quit) before a project is incapacitated. In our work, we consider that a system is in trouble if more than 5

[2015-08-08 17:19] nguyennhatkhang92 commented on #515
Thank you for your help, masom.
I was update thumbor and use ENGINE_THREADPOOL_SIZE. It's very well but I tried use MAX_SOURCE_SIZE in thumbor.conf for limit image size and I saw it didn't work. Can you explain yourself? masom, Thank.

[2015-08-10 07:20] LeonB commented on #520
@masom with a custom redis result_storage adapter?

[2015-08-10 14:01] masom commented on #520
Yep. We might open source it but it's pretty much of a copy of `redis_storage` that implements the methods for `result_storage`.

[2015-08-11 08:20] TwanoO67 opened #528 "Thumbor deamon segFault on false url"
Hello,

During some of our test on thumbor, we realised that when calling the thumbor server, with an uri that is not an image (and respond with code 200), the deamon crashes without error.

You can easily reproduce that by calling:
curl -I "http://localhost:8888/unsafe/300x200/smart/google.fr" 

You should get an error like:
(52) Empty reply from server

and after that the daemon is gone.

Regard

[2015-08-11 13:07] LeonB commented on #520
@masom would be nice!

[2015-08-12 01:10] bgentry opened #529 "Thumbor returns a 404 when it has a timeout retrieving the original image, should be a 504"
I'm experiencing an issue similar to #208 in the same circumstances: Thumbor, under high load, is logging error messages about 599 timeouts when trying to fetch original source images so that it can create thumbnails of them.

Here's a log from one time that happened:

[code]

When Thumbor experiences a timeout in this situation, it's returning a 404 status code. That's definitely not the right st

[2015-08-12 14:08] erinthon opened #530 "Problem wih STORAGE_EXPIRATION_SECONDS"
Hi,

I have some trouble with the parameter STORAGE_EXPIRATION_SECONDS, I define for 1 second, but the images still in storage.

The thumbor only keeps the images on storage for a determined time, right?

If the image is no more used, the image will be deleted of storage? I'm wrong about that?

I have to change anyone other parameter?

[2015-08-12 15:19] masom commented on #530
Which storage are you using?

[2015-08-12 15:31] masom commented on #528
Which version of thumbor are you running?

This is what I get on 5.0.x:

[code]

The process is still running but it never respond to the request ( this is a bug ).

[2015-08-12 17:12] erinthon commented on #530
I m using storage default of thumbor.

How I can find an example to use other type of storage, one storage to remove the files generated after the expiration time? Any suggestion?

[2015-08-12 18:02] masom commented on #530
Thumbor has a few storages: https://github.com/thumbor/thumbor/tree/master/thumbor/storages

In the config file you can specify which one you would like to use:
[code]

`thumbor-config` will generate a blank configuration file with all available configuration keys.

[2015-08-13 02:25] lfalcao commented on #528
I had this problem in the past, fixed just removing the wrong urls...

pull request #531 fixes

[2015-08-13 05:23] hayd commented on #464
I had the `from cv2.cv import *` error, when using python 3.4. Hmmm: http://stackoverflow.com/questions/25215102/installing-opencv-for-python-on-ubuntu-getting-importerror-no-module-named-cv2#comment39274137_25215102 "the old cv (or cv2.cv) module won't be there in upcoming opencv versions" ... unclear what the solution is.

[2015-08-14 14:02] phoet opened #532 "is it possible to add a cache-buster to the url?"
we would like to pass an explicit cache-buster query string, say `?v=some_timestamp` to the thumbor urls to fix some caching issues within our setup, but [as it looks](https://github.com/thumbor/thumbor/blob/9119e2b3882bc2605d256b4d2ff5de8d79887fd0/thumbor/handlers/imaging.py#L36) thumbor uses the whole URI not just the path to determine what is part of the image filename.

so when appending somet

[2015-08-15 00:02] gotjosh opened #533 "a"

[2015-08-15 00:05] gotjosh opened #534 "Converting PDF's to PNG's and/or splitting PDF's?"
After reading the Wiki/Documentation around, I didn't found any information regarding two things I'd like to accomplish:

1. Have a PDF splitted into several images.
2. Convert a PDF page to a PNG (or be able to serve PDF image files to thumbor).

I know these are things that can be done via ImageMagick but a couple of months ago, we replaced all our resizing/converting from ImageMagick to Thumbor

[2015-08-15 01:49] #533 closed

[2015-08-15 01:50] heynemann commented on #529
We definitely need to fix this. Sorry for that. Will try to work on it this week. Maybe @guilhermef will beat me to it.

[2015-08-15 01:50] heynemann commented on #529
One question, though. Are you using libcurl?

[2015-08-15 02:40] bgentry commented on #529
@heynemann nope, no libcurl. We do use https://github.com/thumbor-community/aws for result storage though

[2015-08-15 03:21] heynemann commented on #529
I think you'd see a lot less timeouts if you were using libcurl:

https://github.com/thumbor/thumbor/blob/9119e2b3882bc2605d256b4d2ff5de8d79887fd0/thumbor/config.py#L156

[2015-08-15 03:24] LC43 opened #535 "Error 500 on demo"
hi, trying the demo throws a  500

http://thumborize.me/report?url=http://www.joaocajuda.com/
Failed to load resource: the server responded with a status of 500 (Internal Server Error)

but it works ( on the same server )
http://thumborize.me/report?url=http://www.thewanderlust.pt/

on different server, also Error 500
http://thumborize.me/?url=http://www.viajecomigo.com/

[2015-08-15 03:30] heynemann commented on #529
BTW: the reason for not having the curl client as default is because it's a hard dependency and would make thumbor unusable for people installing using pip ;(

[2015-08-17 10:06] LeFredd opened #536 "Urls with SECURITY_KEY don't work with Heroku ?"
Hi,

I installed on thumbor heroku like this :
https://github.com/TwidereProject/Twidere-Thumbor-Heroku

I only change the SECURITY_KEY like this :

in my conf :

    import os

    STORAGE = "thumbor.storages.mixed_storage"

    MIXED_STORAGE_FILE_STORAGE = "thumbor.storages.no_storage"
    MIXED_STORAGE_CRYPTO_STORAGE = "thumbor.storages.no_storage"
    MIXED_STORAGE_DETECTOR_STORAGE = "thumbor.

[2015-08-17 13:15] masom commented on #536
The security key itself is used to sign the url and should not be used directly in the URL.

You can use a cli application `thumbor-url` ( try `thumbor-url -h` for all options) to generate urls.

Many languages have url builders:
Python: https://github.com/thumbor/thumbor/blob/master/thumbor/url_composer.py
Ruby: https://github.com/thumbor/ruby-thumbor
PHP: https://github.com/99designs/phumbor

[2015-08-17 14:26] LeFredd commented on #536
Ok, I had not seen this part in the doc where my incomprehension. My choice to go npm thumbor because the use will be for angularjs.
Thanks

[2015-08-17 18:51] #536 closed

[2015-08-17 18:54] heynemann commented on #535
Not sure why that is. As soon as I get some time I'll check the logs to find out. Sorry for that.

[2015-08-17 18:55] heynemann commented on #534
Right now we do not support loading PDFs. Not sure if we will, though. For now I'm closing this issue if there is not anything else we can help to accomplish here.

[2015-08-17 18:57] heynemann commented on #530
Wow, @masom is a much better support than we are! Thanks for the help man. @erinthon do you think we can close this issue?

[2015-08-17 20:11] erinthon commented on #530
Yes @heynemann.

[2015-08-18 09:12] phoet opened #537 "exceptions not logged to custom error handler"
we want to use sentry for custom error reporting, but it does not receive any errors, eventhough we see some in the logs:

[code]

this is our configuration setting:

[code]

since my tornado knowledge is limited, from looking at the code, i could not really understand how this is supposed to work. from the tornado docs it looks like `log_exception` should be called internally?

[2015-08-18 14:02] masom commented on #537
I think this is a regression introduced with the use of generators in version 5.x.x

It seems like error handling is not hooked up properly with the generators. If the callback is not executed nothing happens and the exception bubbles up to the main loop.

[2015-08-18 22:02] heynemann commented on #526
@nickponline what kind of filter are you doing? Is it something the whole community can benefit from? If it is, would you like to put it in thumbor community org? /cc @masom

[2015-08-18 22:06] heynemann commented on #537
We'll try to tackle this but I'm on a trip. As soon as I'm back I'll try to handle this.

[2015-08-18 22:10] heynemann commented on #520
Yay @masom for creating the redis project in thumbor community :)

[2015-08-19 05:44] mkopit commented on #537
Ah - I noticed today that feeding thumbor an invalid image file results in an exception in the logs and the http response is never completed (although the connection seems to remain open)

eg.
http://thumbor.thumborize.me/unsafe/http://s3.amazonaws.com/ao-dev-public/invalid.jpg

Do you think this is likely the same issue?

[2015-08-19 07:03] vinczente opened #538 "IOError: cannot identify image file"
Hi there,

While generating some thumbnails I came across this error.
[code]

[code]

curl "http://127.0.0.1:8888/unsafe/750x421/center/top/smart/http%3A%2F%2Fcps-static.rovicorp.com%2F2%2FOpen%2FNickelodeon%2FPeter%2520Rabbit%2Fshowchoriz.jpg"

curl "http://127.0.0.1:8888/unsafe/375x750/center/top/smart/http%3A//cps-static.rovicorp.com/2/Open/MTV/Randy%2520Jackson%2520Presents%2520-%2520America's

[2015-08-19 13:23] heynemann commented on #537
I don't think it's the same.

[2015-08-19 15:39] phoet commented on #537
:clap:

[2015-08-19 18:12] masom commented on #538
This also happens on
thumbor==5.0.6
tornado==4.2.1
Pillow==2.9.0

[2015-08-19 18:13] masom commented on #538
Running
`identify showchoriz.jpg`

Produces the following output:
[code]

[2015-08-19 18:17] masom commented on #538
There's a StackOverflow answer for something similar : http://stackoverflow.com/questions/22610684/reading-a-jpeg-in-python-pil-with-broken-header

If you have control over that JPEG you should fix the image or fill a bug report with Pillow.

[2015-08-19 21:03] gabek opened #539 "Composing text on an image"
I'm looking to replace a few homemade ImageMagick solutions with Thumbor.  One of the things that Thumbor doesn't natively do is text, nor should it.  But has anybody written a custom filter or solution that utilizes Thumbor and text composition?

Feel free to close if this is just too out of scope of a question.

[2015-08-19 21:09] heynemann commented on #539
Would you like to write a filter for it and put it in the thumbor-community org? /cc @masom

[2015-08-19 21:10] gabek commented on #539
Is there any documentation about writing custom filters anywhere?  I'd take a stab at it!

[2015-08-19 21:12] heynemann commented on #539
I don't think we have, but have a look at the many filters bundled with thumbor: https://github.com/thumbor/thumbor/tree/master/thumbor/filters

[2015-08-19 21:16] gabek commented on #539
Awesome.  I'll take a look and report in if I have any questions!

[2015-08-19 21:16] #539 closed

[2015-08-19 21:19] heynemann commented on #539
Btw @masom you are now a full committer for thumbor org ;) Congratulations!

[2015-08-20 00:57] ribeirofelix opened #540 "Using If-Modified-Since and e-tag to revalidate"
Does Thumbor uses If-Modified-Since or e-tag to re-validate with original image?

If the requested URI responses 304, will Thumbor re-validate the image?

[2015-08-20 08:35] LeonB commented on #520
No issues so far. Has worked flawlessly for the last three weeks!

[2015-08-20 11:12] vinczente commented on #538
Thanks @masom
I dont really care about the picture resizing failing but thumbor seems to hang after, this might be the reason:
https://github.com/thumbor/thumbor/issues/528

[2015-08-20 13:01] heynemann commented on #520
Good to hear @LeonB . sorry for the issues.

[2015-08-20 13:02] heynemann commented on #540
We don't in our default http loader. You could easily implement your own loader that does it, though.

[2015-08-20 14:22] masom commented on #538
@vinczente Yep, the hanging is definitely a bug. If an exception is raised within one of the tornado generator the exception does not bubble up properly and nothing happens.

[2015-08-20 16:39] masom commented on #538
https://github.com/thumbor/thumbor/pull/541 fixes this.

[2015-08-20 17:19] masom commented on #532
@phoet correct me if this is wrong but I think thumbor should parse the following url like this:

`http://localhost:8888/unsafe/http%3A%2F%2Fsome-image-server.com%2Fimage.jpg%3Fhello%3D1?v=123`
as:
[code]

And use the `path` to build the proper url for the source:

```http://some-image-server.com/image.jpg?hello=1```

This would allow passing query parameters to the original source server and also

[2015-08-20 17:24] masom commented on #532
`url = self.request.uri` would become

[code]

[2015-08-20 17:31] masom commented on #532
It seems like the current behaviour has been coded to pass the url parameters to the original url: https://github.com/thumbor/thumbor/blob/eaa46421597804414f4a5318f12a731d104c3103/thumbor/context.py#L209

This seems like a bug, the thumbor url query parameters should be handled by thumbor and query parameters added to the source image should be encoded and used as part of the signature, allowing:

[2015-08-20 17:36] heynemann commented on #532
We should fix this. There's no need to pass the query_string arguments to the image url. The image should be encoded properly. You are absolutely right @masom. This is a backwards-incompatible change, though. :(

[2015-08-20 17:38] heynemann commented on #538
Already merged #541.

Thanks guys for reporting.

[2015-08-20 17:38] #538 closed

[2015-08-20 17:38] heynemann commented on #537
Does #541 fix this in its entirety @masom? Can we close this?

[2015-08-20 17:39] #530 closed

[2015-08-20 17:41] masom commented on #537
@heynemann We'll have to audit the code and make sure context.log_exception is called when an exception is being handled.

#541 solves this exact issue but does not address some errors not showing up in the custom error handlers.

[2015-08-20 17:42] heynemann commented on #537
I'll take a look at it now! :)

[2015-08-20 18:46] phoet commented on #532
i'm glad we all agree :) i don't know if we could use a configuration flag to enable backwardcompatible behavior until the next mayor version?

[2015-08-20 18:47] phoet commented on #532
btw, right now, we use a psudo-filter to achive the same behavior `.../format(jpg):cachebuster(123)/...`

[2015-08-22 08:59] SebastienPi opened #543 "Documentation updates"
Hi,

About https://github.com/thumbor/thumbor/issues/509 and the new value “None”, could you add it to the documentation https://github.com/thumbor/thumbor/wiki/Configuration?

Before I found this issue, I tried “0” to ignore the parameter. But thumbor understand 0 second and we can not get with this value…
It would be helpful if this value has in the conf comments.

Thanks

[2015-08-24 14:49] mcoenca commented on #412
Hey ! Is it possible to reopen this issue ? It was closed but i don't know why, as it is not fixed ATM and seems to quite a useful feature to have.
Actually as it will really improve my thumbor use, if i have some time i think i will take a look at it.
If you can give me somes pointers to where the difficulty lies or if you have similar issues looked at, will glady accept them ! Thanks

[2015-08-24 20:35] okor commented on #497
@guilhermef @heynemann Ok, so I'm going to start working on jpeg2000 stuff for thumbor.

My plan:
1) using a local CLI based jp2 encoder, assert that compression results are significant enough (>= 15%  source png/jpg file size avg, over test image set) to justify all Thumbor work required to support the format (maybe a lot?)
2) understand Thumbor's use of various encoder libraries/bindings and wha

[2015-08-25 01:04] heynemann commented on #497
Sounds awesome... :) Go for it. Any help we can provide, we are here for it!

[2015-08-25 18:57] andrewvmail opened #544 "Image colour get's lost."
First of all I want to say thanks for a great project.

Okay onto the problem for some reason there is cases where the image color is not really accurate. Anyone have any ideas? I have already told the users not to upload CMYK images and only take in RGB. But seems like it's happening to RGB too. See sample image below.

Thanks
![380_ccf2b0ea63e70d45b8286adef422ed5e861ac338c_jpg__591x768__and_380_

[2015-08-25 18:58] guilhermef commented on #544
@andrewvmail Can you send us the original picture ?

[2015-08-25 19:25] andrewvmail commented on #544
@guilhermef here is the original https://s3.amazonaws.com/contessa-production/380%2Fccf2b0ea63e70d45b8286adef422ed5e861ac338c.jpg

[2015-08-25 21:32] heynemann commented on #537
I didn't have time to check this yet. Hopefully someone will be able to help.

[2015-08-26 16:50] guilhermef commented on #544
I've generated an image on thumborize.me: http://thumbor.thumborize.me/unsafe/500x500/https://s3.amazonaws.com/contessa-production/380%2Fccf2b0ea63e70d45b8286adef422ed5e861ac338c.jpg
I've didn't noticed any color loss.
It uses Pillow and Thumbor 5.0.6

[2015-08-26 17:41] andrewvmail commented on #544
Yeah that looks good actually. I think I setup Thumbor 1.5 year back. Is pillow default? is that imagemagick replacement?

[2015-08-26 17:45] guilhermef commented on #544
Pillow is the default engine, if you don't explicitly change.

[2015-08-26 17:46] andrewvmail commented on #544
Okay I will check and report back

[2015-08-26 19:02] andrewvmail commented on #544
@guilhermef Yes pillow works fine! Thank you.
By the way before closing do you know how to clear the cached images ?

[2015-08-26 19:08] guilhermef commented on #544
It depends on which result_storage you're using.
If it's the file_storage, you can just remove the generated files.

[2015-08-26 19:11] andrewvmail commented on #544
@guilhermef you mean rm -rf /tmp/thumbor/storage in this folder?

[2015-08-26 19:13] guilhermef commented on #544
That's the loader storage, it caches what you fetch from external servers,
to clear the generated images, it should be the /tmp/thumbor/result_storage

[2015-08-26 19:18] andrewvmail commented on #544
@guilhermef nothing there, I think it's default redis maybe? if so is it possible to clear cache?

[2015-08-26 19:19] guilhermef commented on #544
can you share your thumbor.conf ?

[2015-08-26 19:23] andrewvmail commented on #544
Conf here

################################### Logging ####################################

## Log Format to be used by thumbor when writing log messages.
## Defaults to: %(asctime)s %(name)s:%(levelname)s %(message)s
#THUMBOR_LOG_FORMAT = '%(asctime)s %(name)s:%(levelname)s %(message)s'

## Date Format to be used by thumbor when writing log messages.
## Defaults to: %Y-%m-%d %H:%M:%S
#THUMBOR_LO

[2015-08-26 19:27] guilhermef commented on #544
You're not using result_storage, the default is None.
So Thumbor won't cache generated images,
If it's cached, it's on the edge.

[2015-08-26 19:32] andrewvmail commented on #544
Oh OKay thanks so much! closing now.  you been great help

[2015-08-26 19:32] #544 closed

[2015-08-26 21:59] heynemann commented on #543
@guilhermef you did change this, right?

[2015-08-26 22:00] heynemann commented on #540
Does this respond your question? Can I close this?

[2015-08-26 22:00] #534 closed

[2015-08-26 22:03] ribeirofelix commented on #540
Oh yes! Sorry!

[2015-08-26 22:03] #540 closed

[2015-08-26 22:03] guilhermef commented on #543
yep. https://github.com/thumbor/thumbor/wiki/Configuration#storage_expiration_seconds

[2015-08-26 22:04] #543 closed

[2015-08-26 22:04] heynemann commented on #528
Closing this as it's probably fixed.

[2015-08-26 22:04] #528 closed

[2015-08-26 22:07] heynemann commented on #527
a) We were. I think to have a better understanding of participation, you must track recent activity, not overall activity.

b) No (look answer a).

c) We have an awesome community. This makes up for the fact we have some key developers.

[2015-08-26 22:07] #527 closed

[2015-08-27 14:09] #522 closed

[2015-08-28 23:11] MarcFowler opened #545 "Filters: Center aligning watermarks?"
I read over in an old message #18 that a watermark can be added to the center of an image.

Is that still possible?

I'd love to be able to place the watermark in the center (vertically and horizontally) without having to calculate it myself beforehand, because that's something of a pain.

I've tried without providing `x`, `y` and `alpha` params to the filter (i.e. just `filters:watermark(whatever

[2015-08-30 16:30] dsinghr opened #546 "Installation steps for windows 7 for beginners"
Requirements:
1. Python 2.7.x
2. Microsoft Visual C++ Compiler for Python 2.7 (For non Visual Studio users)
3. modified `pycurl` for windows

Steps:
1. Download python from https://www.python.org/downloads/ and download specifically 2.7.x latest version and NOT 3.x.x and install it.
2. Skip this step if MS VIsual Studio is already installed (required to compile c++ files) or go to the link http://

[2015-08-31 11:21] optroodt opened #547 "Applying watermark filter changes image mode and type and returns wrong Content-Type"
I'm using Thumbor 4.12.2 and have AUTO_WEBP enabled for clients that support it, so there are two distinct cases (images linked at bottom):

** In FireFox (no WEBP support) the error appears**
The image without without a watermark gets served properly as a JPEG with the correct Content-Type.
The image with a watermark becomes a PNG (download it and run identify, it shows up as PNG, but you can alr

[2015-08-31 14:13] seichner opened #548 "pil-engine loses jpeg metadata on transformations (quantization, subsampling)"
Hi!

We investigated a problem where using *quality='keep'* does not keep the information it is supposed to (use same subsampling, quantization like the original image). These settings **are kept when
not doing any transformations, but are lost as soon as we eg. resize the image**.

Debugging showed that in [pil.py](https://github.com/thumbor/thumbor/blob/master/thumbor/engines/pil.py#L81) the *se

[2015-08-31 14:13] seichner commented on #548
cc @phoet

[2015-08-31 14:49] masom commented on #548
Good catch. Thanks for the initial research @seichner

I'll try to take a look at this today.

[2015-08-31 15:28] optroodt commented on #547
I had an old version (4.4.1) running somehwere that worked correctly so I did a git bisect and found the 'bad' commit: 0bb44efd51fc93df4452eeba4aba642115ec6227

I'm using a custom loader (S3) and result storage, just going to figure out exactly why this is happening.

[2015-08-31 16:12] seichner commented on #548
actually, i guess the 'solution' would be similiar to how the icc_profile and exif-info is handled right now: first [copied when the image is loaded](https://github.com/thumbor/thumbor/blob/master/thumbor/engines/pil.py#L53) and later [re-injected when it's saved](https://github.com/thumbor/thumbor/blob/master/thumbor/engines/pil.py#L139)...

[2015-08-31 16:40] masom commented on #548
@seichner yep

[2015-08-31 16:51] masom commented on #548
@seichner Would you mind posting a relatively small jpeg with quantization + subsampling? I'll use the image in tests to ensure this does not happen again in the future.

[2015-08-31 16:55] phoet commented on #548
i think @seichner was looking at this image here ![quantization test](http://f.cl.ly/items/0n3A2a3i0z2w0G3g2b0T/ImageTransformationTestQuantization.jpg)

[2015-08-31 21:27] seichner commented on #548
@masom Yes, the picture @phoet posted is a good example. It has 4:4:4 Subsampling (exiftool can show you this), and for any conversion with a lower subsampling the text will look fuzzy and its color will change.
You can check the quantization by outputting the attribute 'quantization' for the JpegImageFile.

[2015-09-01 11:51] optroodt commented on #547
I ended up always setting the extension to .jpg in our custom engine. We want to send out jpg as a default any way.

[2015-09-01 11:51] #547 closed

[2015-09-01 18:58] igrigorik opened #549 "Add support Client Hints (DPR, Width, Resource-Width)"
Chrome 46 is shipping with [support for Client Hints](https://www.chromestatus.com/feature/5504430086553600). Specifically, we'll send them on an opt-in basis and can advertise device DPR, viewport width, and resource display width (when it's known) to the server to enable automated delivery and optimization of responsive images.

For additional context on motivation and developer use cases, see:

[2015-09-01 19:05] masom commented on #549
:+1:

Have you considered how CDN would implement content caching for client hints? Right now most of them use the url as cache key.

Regardless of CDN suppoprt, this seems like a great feature to implement.

[2015-09-01 19:18] igrigorik commented on #549
At a minimum the server (thumbor) should return a `Vary` header indicating which hints it used, which tells the upstream cache to use those as part of its cache key. For more details, see:
http://tools.ietf.org/html/draft-grigorik-http-client-hints-03#section-2.2.2

Depending on the actual server or provider you use, you may also be able to customize how the cache key is computed to reduce fragmen

[2015-09-02 07:39] AizazAZ opened #550 "Thumbor not respecting EXIF Orientation while resizing and stripping off EXIF metadata"
Please wait for images to load below

I have enabled flag in Thumbor to respect EXIF orientation.

Original Image with EXIF information: Orientation	Rotate 90 CW

This image is shown to me correctly rotated at 90 CW because I have turned on EXIF flag, so just image it's rotated and correctly displayed :)

![1](https://cloud.githubusercontent.com/assets/1931778/9625366/26aee520-5188-11e5-844e-824da

[2015-09-03 06:40] dubaksk opened #551 "Multiple watermarks"
Is it possible to apply two or more watermarks over photo? I have read [docs] (https://github.com/thumbor/thumbor/blob/9119e2b3882bc2605d256b4d2ff5de8d79887fd0/docs/watermark.rst), but nothing like that was mentioned.

For example calling: **Usage: watermarks ( [imageUrl1,x,y,alpha], [imageUrl2,x,y,alpha] )** would place two watermarks. So we could send array of watermarks into function with desir

[2015-09-03 12:07] #546 closed

[2015-09-04 19:07] onerandomgig opened #552 "No module named pngcrush, gifsicle"
Hello,
I have been using thumbor for the last few months and its amazing how awesome it is. Thank you.
I am currently facing an issue related to gifs. When i submit a gif for resizing, it becomes a static image.

I am not sure if it is related to the below error.

I have installed both the gifsicle and pngcrush packages. But after installing the optimizer plugins, when i run thumbor, i get a No mo

[2015-09-04 19:48] guilhermef commented on #552
pngcrush is on a different module,
It should be 'thumbor_plugins.optimizers.pngcrush'

[2015-09-04 23:06] onerandomgig commented on #552
Thank you so much @guilhermef. This worked :+1:

[2015-09-04 23:07] #552 closed

[2015-09-08 10:56] MarcFowler commented on #545
Sorry to bump this but I'm going to be needing this for my project soon and hoping I can work on it soon. Maybe @masom could you give us a hand? It seems to me like I'll need to adjust the existing filter to position the watermark in the centre - is there a way to get the watermark's dimensions in the filter and those of the base image that I'm applying it to? Then I can specify the `x` and `y` co

[2015-09-08 14:45] #438 closed

[2015-09-08 14:48] seichner commented on #529
This change fixes the Timeout-Status-Code, but introduces a strange behavior: now if the HTTP-Loader receives a 404, Thumbor sends a "504 Gateway Timeout", which in turn leads CDNs to **not** cache responses for non-existing images. I was wondering where all the timeouts come from after our last deploy... ;-)

The [handler_image_vows.py](https://github.com/thumbor/thumbor/blob/b2154f988de5aeb31bb6

[2015-09-08 15:00] masom commented on #529
We'd probably have to introduce a return object to handle various error scenarios with different loaders.

[code]

or something similar.

Using a value object would allow a bit more flexibility than returning `None.`

We could probably support backward compatibility by checking the type when the loader returns:

[code]

[2015-09-08 17:16] heynemann commented on #529
That does make sense. I really like the approach of a return object. The context is one such construct that allowed us a LOT of flexibility over the years.

We should keep the current behavior for previous loaders, though. Meaning returning timeout is better then authoritatively saying it was not found.

[2015-09-08 17:17] heynemann commented on #529
I'm keeping this issue open until we fix it properly.

[2015-09-08 17:23] masom commented on #529
@heynemann definitely. The error happened between thumbor and the upstream image storage and we should generate a 5xx response code if we can't determine the reason (ex: `None` being returned)

[2015-09-08 19:58] okor commented on #497
So, I did some research. Over a sample size of 10k (out of a total of several million), j2k performed similarly to webp, so big wins could be achieved. Additionally, mozjpeg performed quite well. In last place was pngquant2 but still pretty good.

Here is an example data set (very small sample, but results nearly the same as 10k set): https://limitless-sands-3072.herokuapp.com/

Test server thing

[2015-09-08 21:12] heynemann commented on #497
I think implementing it as an optimizer would be awesome. Optimizers are the way thumbor post-processes images. What that means is that we can run J2K on top of our current JPG processing (PIL, GraphicsMagick, etc.). If you'd like to see how to implement an optimizer: https://github.com/thumbor/thumbor/blob/master/thumbor/optimizers/jpegtran.py

It should be fairly simple to build one for j2k. If

[2015-09-08 21:13] heynemann commented on #551
We are not planning it, no. If you are willing to specify x and y for both images, can't you just merge them before using it as a watermark?

[2015-09-08 21:14] heynemann commented on #550
This is a bug. Thumbor should strip exif metadata to save bytes, but the stored image should be properly rotated. Sorry for that.

[2015-09-08 21:18] heynemann commented on #549
@igrigorik have any of you guys at google (that you know of) discussed the use of this type of Vary with any of the major CDNs (Akamai, Cloudfront, etc)?

I wonder when Amazon will support varying by this kind of thing. Right now this is what's in their docs:

    Content Negotiation
    The only acceptable value for the Vary header is Accept-Encoding. CloudFront ignores other values.

from http:/

[2015-09-08 21:20] heynemann commented on #549
Apparently now you can vary by different headers in Cloudfront. Nice.

[2015-09-08 21:25] heynemann commented on #525
It should be fairly simple to implement this filter. Do you think you can do it? The focal points are in the context object available to all filters (the extract focal filter adds to them as well).

[2015-09-08 21:25] heynemann commented on #520
Closing this as it appears to be fixed.

[2015-09-08 21:25] #520 closed

[2015-09-08 21:26] #515 closed

[2015-09-08 21:28] #504 closed

[2015-09-08 21:30] heynemann commented on #485
Closing this as it should be discussed in the TC Repo.

[2015-09-08 21:30] #485 closed

[2015-09-08 21:31] #481 closed

[2015-09-08 21:32] #385 closed

[2015-09-08 21:33] #355 closed

[2015-09-08 21:34] heynemann commented on #352
Closing as this is not thumbor's responsibility.

[2015-09-08 21:34] #352 closed

[2015-09-08 21:35] heynemann commented on #330
Any news here?

[2015-09-08 21:36] heynemann commented on #329
Any news here?

[2015-09-08 21:36] #324 closed

[2015-09-08 21:36] heynemann commented on #316
Our storage does that now. Hope it helps.

[2015-09-08 21:36] #316 closed

[2015-09-08 21:37] heynemann commented on #304
Any news?

[2015-09-08 21:37] heynemann commented on #302
Any news here?

[2015-09-08 21:39] renaudguerin commented on #352
Not Thumbor's responsibility to ensure there is free disk space, for sure, but checking for write errors would be good practice.

[2015-09-08 21:43] heynemann commented on #352
Sorry I didn't mean it as disrespectful. Just meaning there are more capable solutions for doing this sort of validation. But I do agree with you. Catching write errors in our storages is the way to go.

[2015-09-09 01:58] okor commented on #497
Absolutely, it's clearly documented over here too: https://github.com/thumbor/thumbor/wiki/Optimizers

The gifv optimizer is similar, in that we don't want to do any "auto" j2k. We unfortunately need to explicitly ask for a j2k image via the filters. So plenty of docs and examples.

I should have a PR soon.

[2015-09-09 02:15] heynemann commented on #497
why not an auto j2k optimizer? It seems to make sense to me.​

[2015-09-09 02:54] okor commented on #497
j2k is only supported on Safari. And Safari doesn't send an accepts header indicating the client supports j2k. So I don't think we could use it in an automagic way. The only other way I could think to detect support is UA sniffing which is not reliable / hard / would add bloat. The way I will be using it is detecting it on the client by loading a small j2k image and seeing if the browser handles i

[2015-09-09 06:21] phoet commented on #302
Please have a look at this, its not battle tested though https://github.com/thumbor-community/librato

[2015-09-09 07:13] mightydes commented on #316
@heynemann thanks for your job!

[2015-09-09 07:39] dubaksk commented on #551
I am doing merge of two watermarks into one picture and then sending it into function as one. I was just curious if there is this possibility.
Thank you for answer.

[2015-09-09 07:39] #551 closed

[2015-09-09 10:31] roelvanduijnhoven commented on #525
In the end I implemented the math to crop around a point myself and pass the crop and resize coordinates to Thumbor.

I did hack around a little. I had no clue however where to add those Python files and how to make sure they got loaded. No reference to be found around that! So some help and guidance on how to do so would be helpful.

[2015-09-10 06:04] igrigorik commented on #549
As you noted, CloudFront supports Vary: http://friism.com/webp-content-negotiation-cloudfront

AFAIK, Akamai does support Vary as well, and even allows you to customize the generated cache key via additional configuration. That said, I'll defer to @yoavweiss on this one :)

[2015-09-10 12:08] colinbendell commented on #549
You are correct. On Akamai you can use the Vary header to specify a different forward origin server, change the path or add the value to the cache key.

[2015-09-10 12:08] heynemann commented on #546
Thank you @dsinghr and good job getting it done and sharing it with us.

[2015-09-10 12:11] heynemann commented on #549
Does Google cloud also offer CDN support (I couldn't find in the docs doing a quick search)? If so, do you guys know if it supports this as well? I'm sorry I'm asking this many questions. Just trying to be thorough before we commit on implementing it... :)

[2015-09-10 12:18] heynemann commented on #496
Apparently Jpeg-XR is now advertised in Edge... ;)

[2015-09-10 12:33] heynemann commented on #547
Sorry for that, we should fix this. Maybe @guilhermef can take a look at adding a test for this regression?

[2015-09-10 12:33] heynemann commented on #522
@masom Did you include this in the docs?

[2015-09-10 13:29] masom commented on #522
Forgot, will update now.

[2015-09-10 13:44] dsinghr commented on #546
Welcome @heynemann.

[2015-09-10 13:52] dsinghr commented on #546
@heynemann It would be helpful for others if you can add this windows 7 installation guide in the installation wiki with my profile link. By the way, I tried to edit installation wiki but was unable to match the github fancy formatting, as I am new user.

[2015-09-10 20:44] igrigorik commented on #549
@heynemann there isn't a single "Google CDN", there is: App Engine (sandboxed and managed VMs), compute engine with different load-balancing (TCP, HTTP, etc) configurations, cloud storage, etc.. Some of those configurations offer configurable edge caching, others don't. Now, that said, for cases where configurable edge caching is available.. yes, Vary should be supported.

[2015-09-11 14:47] phoet commented on #529
@heynemann a value object for return types would be nice. it would allow us to consume meta information later on. for example, [this PR about modified-since headers](https://github.com/thumbor/thumbor/pull/439) could be implemented by passing this information along from the loader.

[2015-09-11 14:57] masom commented on #529
@phoet @heynemann I'll open a PR with a minimal implementation. We'll be able to discuss what the return object should contain for a "sane" API that will work with most loaders.

Things it should probably contain:
- buffer
- successful
- error code
- metadata:
    - created_at / some date data about the buffer. Would be used for `modified-since`
    - size

[2015-09-11 15:33] masom commented on #529
https://github.com/thumbor/thumbor/pull/554 implements the concept on the file_loader.

[2015-09-14 14:49] okor opened #555 "Funky test results on master branch"
I'm working on a few PR's for Thumbor right now. But I'm not sure what the test results to should look like. On master, the last couple of lines says:

[code]

See https://gist.github.com/okor/e60fcace3aea9ef4c1fc for full test log

No problems with too many files. OpenCV is installed with bindings, no problem. Thumbor anecdotally works just fine locally, both on master and my yet to be submitted

[2015-09-14 14:50] masom commented on #555
High chance you need to install the `nose` package.

[2015-09-14 15:38] okor commented on #555
@masom To give some context, I'm not that familiar with the Python ecosystem and this is my first real Python work. I normally work with Ruby/Rails/Node/browser js. So I may need a little more help than some other contribs.

I didn't see anything on the docs about this package. But it appears to already be installed.

[code]

Appears to be version 1.3.4
[code]

Any insight into what the `No such f

[2015-09-14 16:18] okor commented on #555
Ok, I got it working. I'm on OSx Yosemite. Previously installed nose with `pip install nose`.

I had to uninstall nose then reinstall as root. Issue seems that the CLI was not in the path. Fixed.

Thanks!

[2015-09-14 16:18] #555 closed

[2015-09-16 16:00] adeboisanger commented on #545
Hi,

For my project, I have added the possibility to specify 'center' as x or/and y to center the filigrane.
ex:
filters:watermark(whateverimage.jpg,center,20,1)
or filters:watermark(whateverimage.jpg,center,center,1) .
I have made the modification on thumbor/filters/watermark.py

On which branch do I have to do my pull request ?

Thank you

[2015-09-16 19:42] heynemann commented on #545
It should be synced with our master branch and passing all tests. Thanks for your contribution.

[2015-09-19 17:20] okor commented on #497
I'm closing this issues as JPEG2000 has now been implimented as a plugin optimizer.

See https://github.com/thumbor/thumbor-plugins/wiki/JPEG2000 and https://github.com/thumbor/thumbor-plugins/pull/11 for more info.

[2015-09-19 17:20] #497 closed

[2015-09-19 18:33] okor opened #561 "Thumbor design: Proposal for queued DSSIM based optimizers"
I've used Thumbor quite a bit (I still have much to learn) and I've performed a good amount of real world implementation research into many formats, optimizers and software design (still much to learn here too). Thumbor right now today is awesome. But I do think it could get significantly better.

I'd like to propose a discussion on the broader design of Thumbor. We can have that discussion here a

[2015-09-21 13:20] masom commented on #561
This is a pattern that is currently used by some detectors and smart cropping algorithms, the queue could probably be abstracted away to be used for both scenarios.

The request context already gives a lot of information about the image currently being processed and cache headers can be adapted ( some would need to be set to prevent CDNs from caching the initial image ).

The current thumbor code

[2015-09-22 17:27] seichner commented on #548
@masom  i added a failing test as demonstration of the problem in a pull request: https://github.com/thumbor/thumbor/pull/562

I also wrote up a first attempt on solving the problem as discussed above: https://github.com/thumbor/thumbor/pull/563
I simply extract the relevant fields and put them back when the image is written. This is still WIP as the setting is not in thumbor.conf yet. I'd love to

[2015-09-22 20:38] heynemann commented on #561
I've started a branch called feature/plugin-support (I'm using git-extras).

The idea here is to perform an incremental refactoring of our codebase to work as plug-ins that subscribe to specific points in the image lifecycle.

What does that mean for thumbor's codebase? That ultimately everything should be viewed as a plug-in, even our transformations. The only lifecycle that would remain in a per

[2015-09-23 13:58] masom commented on #561
@heynemann This makes a lot of sense. This is somewhat why https://github.com/thumbor-community/core was created although it does not come close to the changes being proposed.

The advent of new image formats ( ex: gifv, Apple's new live image, webp/webm ) presents challenges to the current structure. The good thing is thumbor has a solid base to build from and so far has proven to be easily exten

[2015-09-23 14:01] masom commented on #548
@seichner Thanks for adding the tests. I am currently overwhelmed with work on a new project and sadly cannot currently look into this issue.

I think the tests + PR you have opened are spot-on and the issue should be solved shortly.

[2015-09-23 14:10] seichner commented on #548
@masom ok, thanks! I will see if we can test out the PR above in our system here.

[2015-09-23 14:11] seichner commented on #548
if somebody else wants to review it, i'm happy about feedback!

[2015-09-23 16:27] okor commented on #561
@heynemann That sounds like a good design. I think we would want to have a config setting for each optimizer (or url based?) which specifies whether the optimization should be performed in a 'lazy' manor or simply wait for the image to be returned from the full process.

As for the url format, I don't have strong feels but the proposed format does read easier to me ... so it's probably a good thin

[2015-09-23 16:45] heynemann commented on #561
I think it makes sense. That's a different matter, though. It's much more of how we organize the code instead of what thumbor's architecture is.

The only thing I disagree is having thumbor be the source for these optimizers. IMHO the key strong point in thumbor's favor is extensibility. I think it has only been so battle tested because it adapted to almost any architecture users have thrown at it

[2015-09-23 17:18] okor commented on #561
@heynemann Thumbor is an awesome project, happy to help!

I'm not sure I agree that having them in the main repo would distract/slow development of core features. But, as long as we can thoroughly test & version the thumbor-plugins to thumbor, I think it will be fine. I also agree this is a minor issue to consider at this time. I guess I'm just fired up ; )

Back to larger design issues. The one t

[2015-09-23 18:03] heynemann commented on #561
I think @guilhermef will comment soon ;)

[2015-09-23 19:32] masom commented on #561
@okor One thing with thumbor is the ease of setup.

You can install thumbor and be up and running within 15 minutes. Adding threading, queues and other non-essential components takes a very simple application into something with many moving parts.

For queues there's a lot of choice:
- SQS
- Redis
- SQL
- Sockets
- Python multiprocessing queues
- Beanstalk
- and many more

Which one should be impl

[2015-09-23 22:29] okor commented on #561
@masom Those are all very valid points. I do think Thumbor should always be easy to get a minimal version up and running. Which is another reason I want to only have 1 optimizer for each use case. I think we see eye to eye on this broader point of Thumbor being accessible. If a new design compromised that ... it would not be cool.

As far complexity in using a queue, I'm not entirely sure about th

[2015-09-24 05:54] terrycheung commented on #514
Using Thumbor 4.12.2 (was the latest at the time I set things up). Have created a scenario which replicates the issue.

Using the source image,
`http://images.huffingtonpost.com/2014-07-25-yahoologo.png`

Using the below secret key,
`mysecretkey`

The generated secure URL for thumbor is,
`http://thumbor/N2RdEjk8OGfCk-a0RyQmYG49KUk=/filters:convolution(1;2;1;2;4;2;1;2;1,3,true)/http://images.huffin

[2015-09-26 01:56] heynemann commented on #561
Started work on this in branch feature/plugins if anyone wants to check it out. Already removed thumbor's Server header from being a hardcoded name to being a plug-in (small feat, but a proof of concept nonetheless).

[2015-09-29 11:45] phoet opened #564 "artefacts in scaled png image with pil engine"
we are seeing some edge-cases where scaled pngs are rendered with artefacts. i'm not sure how i could properly debug this or if i should actually open an issue on the pillow repository. anyhow, maybe someone here can give me a hint on how to proceed.

_those images are white and transparent, you should see nothing on a white background_

this is the original image:

![original](http://image.jimcdn

[2015-09-29 14:27] heynemann commented on #564
It looks like compression artifacts. Are you using any optimizers?

[2015-09-29 14:32] phoet commented on #564
@heynemann no, we are not using any optimizers.

[2015-09-29 15:47] phoet commented on #564
the image is also rendered correctly when it's delivered through thumbor in the original resolution:

![original resolution](http://image.jimcdn.com/app/cms/image/transf/dimension=1820x672:mode=fitin:format=png/path/s07f3459425dd27f2/image/i23aaf7ddb2a0e16d/version/1443516467/image.png)
http://image.jimcdn.com/app/cms/image/transf/dimension=1820x672:mode=fitin:format=png/path/s07f3459425dd27f2/ima

[2015-09-30 00:52] heynemann commented on #564
It looks like an issue with PIL. I created a script that resizes the image using PIL only and the artifacts appear, meaning it's not an issue with how thumbor handles images.

You can see the script and try it for yourself [here](https://gist.github.com/heynemann/fc59ebdcfe77ca4e81a2).

It would be awesome if you could create an issue in [pillow](https://github.com/python-pillow/Pillow/issues) and

[2015-09-30 09:22] AizazAZ commented on #550
Please let me know when it is fixed @heynemann

[2015-09-30 14:08] phoet commented on #564
@heynemann thx for looking into it, i will cross-link it

[2015-09-30 14:25] okor opened #565 "Thumbor reporting wrong version"
I've checked out version 4.12.2 locally to investigate and issue and possibly patch. We will be upgrading in the near future but due to the change in async/sync in 5.0 we need to stick with 4.12.2 for a bit.

So, the problem I am having is two fold. Our production version of Thumbor is not setting the correct `Content-Type` for webp images (just reported to me yesterday) - we think. Wanted to conf

[2015-09-30 14:42] okor commented on #565
So, I figured it out kind of but still not sure why this is the case. But I had version 5.1.0 installed with pip locally and it was using that code. I uninstalled with pip and then reran `make setup` which installed 4.12.2

I am still super confused why I would need to install thumbor as a pip package when I have the source code locally and I'm executing the server directly with `python thumbor/se

[2015-09-30 14:45] masom commented on #565
@okor Are you using virtualenv ?

Python somewhat always had an awkward relationship with local files and packages installed in `site-packages`. It is often better to start a fresh virtualenv per-project otherwise "contamination" happens.

Another way to test a local version of a package is to do a `pip install -e .`

`  -e, --editable <path/url>   Install a project in editable mode (i.e. setuptoo

[2015-09-30 14:47] guilhermef commented on #565
@okor did you put the header "Accept" in the white-list on Cloudfront ?
You don't need to force the format webp, it will detect based on the Accept header.

[2015-09-30 14:58] okor commented on #565
@guilhermef The "Accept" is forwarded, yes. But I don't think that's the issue. It's the response `Content-Type` which I didn't think had anything to do with the Accepts. And in this case, we are asking for webp explicitly via the format filter, so I didn't think that's really relevant here.

Colleague strongly recommends using virtualenv, I am not currently. He thinks that's why trying to run thu

[2015-09-30 15:04] masom commented on #565
@okor Rushing is fun :)

Once familiar with virtualenv ( it's akin to Ruby's rvm/rbenv ) you'll probably never install packages at the system level. It's really awesome at isolating dependencies, allowing you to run multiple version of the same software / packages.

[2015-09-30 15:32] masom commented on #561
@heynemann awesome. Dispatching a bunch of events will greatly help integration different approaches with thumbor. Something we found really useful at PopKey is the ability to add new handlers. Example: https://github.com/thumbor-community/core/blob/master/tc_core/app.py#L51

The changes in thumbor 5.x allowed us to implement urls that look like this `https://thumbor.global.ssl.fastly.net/d06960/q

[2015-09-30 15:41] okor commented on #565
@masom @guilhermef I read a couple of tutorials and docs, I think I grok everything. I purged all the global pip packages. Started over. And now I have successfully setup virtualenv (and wrapper). I'm good to go!

Also worth noting, unaltered 4.12.2 version of thumbor seems to be setting the `Content-Type` correctly. So, I'll mess with the source to make sure it's doing what I think it's doing. Bu

[2015-09-30 15:41] #565 closed

[2015-09-30 16:17] okor commented on #561
@masom Thanks! Seems battle tested and solid. Has also been around for a while. Good stuff.

And I think this plugin design will be more future proof as requirements/encoders/optimizers evolve. Awesome stuff. Thanks for working on this @heynemann !

[2015-09-30 16:27] okor commented on #565
Just as an update for any Googler's or curious, Thumbor is definitely setting the `Content-Type` correctly when using the format filter and that is happening here: https://github.com/thumbor/thumbor/blob/b12e623a0d1f318abd265f2d6927d01af2bfc71e/thumbor/handlers/__init__.py#L218 as suspected. I'm off to have a chat with the Ops team : )

[2015-09-30 17:38] heynemann commented on #565
Good to know @okor!

[2015-10-01 15:58] dhardy92 opened #566 "Silent ci errors"
Hello running pyvows on my local repo I result in tests passes but actually some tests failed :

(in this case I removed mongo, redis and sentry tests)
[code]

This is not displayed whene running
[code]
like in travis so noone may pay attention to this.
Am I alone in this case ?

[2015-10-01 16:53] masom commented on #566
@heynemann Seems like a bug in PyVows ?

[2015-10-01 16:56] heynemann commented on #566
It does... I have a branch right now where I'm converting tests to nose. I don't have enough time to dedicate to maintaining both thumbor and pyvows. So I intend to make sure thumbor has better coverage and a better test suite.

Very sorry for these issues.

[2015-10-01 17:19] heynemann opened #567 "thumbor slack channel"
I created thumbor's slack channel and would like to add everyone to it. It would be great if you guys could help invite people.

/cc @masom @robolson @rfloriano @cezarsa @okor @dhardy92 @guilhermebruzzi @guilhermef

I definitely forgot people, so please start cc'ing people in this issue.

Anyone that does not feel safe putting their e-mail here in this issue, please e-mail me at heynemann at gmail

[2015-10-01 17:30] masom commented on #567
martin@doorbot.co

[2015-10-01 21:07] ryanio opened #568 "[Errno 1] _ssl.c:504: error:14090086:SSL routines:SSL3_GET_SERVER_CERTIFICATE:certificate verify failed"
Hey guys, just getting thumbor up and running and loving it.

Most SSL requests are working, but with some sites I'm getting a 'certificate verify failed'.

When accessing the raw URL with my browser it seems like the certificate/SSL connection is fine: https://www.hautelookcdn.com/products/ITDRITA/large/3988208.jpg

[code]

Anyone have any suggestions?

[2015-10-01 21:53] ryanio commented on #568
Alright I found a fix by enabling `HTTP_LOADER_CURL_ASYNC_HTTP_CLIENT` in `thumbor.conf`. According to [this SO answer](http://stackoverflow.com/a/19019536) it seems like `tornado.curl_httpclient` is a more robust HTTP client than the default `tornado.simple_httpclient`. Cheers!

[2015-10-01 21:53] #568 closed

[2015-10-01 22:04] eduherraiz commented on #567
gshark@gmail.com

[2015-10-01 22:39] okor commented on #567
jason.ormand1@gmail.com

[2015-10-02 07:37] rcrowe commented on #567
hello@vivalacrowe.com

[2015-10-02 23:45] ryanio opened #570 "Image urls with `$` in them fail"
Image urls with `$` in them fail e.g. `http://images.harrods.com/img/3853333?$fullScreen$`

Request:
`http://192.168.99.100/unsafe/0x796/smart/http://images.harrods.com/img/3853333?$fullScreen$`

Debug log:
[code]

As you can see it's trying to GET with $ encoded.

I fixed by adding $ to the second parameter in [quote() in Url.encode_url()](https://github.com/thumbor/thumbor/blob/5a9ab6dfb36b8018e

[2015-10-03 01:05] #570 closed

[2015-10-03 21:22] heynemann commented on #351
Are you still having this issue? I'm fixing the memcached storage right now. Sorry it took so long.

[2015-10-03 21:26] heynemann commented on #309
I'm fixing memcached storage right now. Any idea what the URL was that you were getting the error with? Did it involve unicode characters? If you don't know it's ok. I'm aware it's been a long time and I'm sorry for it.

[2015-10-07 17:14] heynemann opened #576 "Test Migration"
Me and @guilhermef started a gradual conversion of our test code to use nose and to be a lot more comprehensive. This work can be seen in the feature/nosetests branch.

This issue is a reminder of the test samples we need to provide. We think that the lack of tests in some major areas like filters or detectors stem from the fact that we have no examples of those tests in thumbor's codebase (comple

[2015-10-07 17:21] heynemann commented on #576
As thumbor's community grows (and thanks to all of you it's becoming rarer that I need to commit changes), this becomes ever more important.

We need to be able to move FAST without breaking things. If anyone can help create a better test suite it would be great.

[2015-10-08 13:42] masom opened #577 "Proposal: Media object"
Right now thumbor passes around the image/video buffer. Some work has begun to allow storages to return a "LoaderResult" or "ResultStorageResult" objects that contains metadata and allows for better error handling.

This gives thumbor a lot more flexbility in error handling and allows it to leverage backend specifics ( ex: TTL in redis, ContentType / LastModified in AWS ).

Going through the curre

[2015-10-08 13:51] heynemann commented on #577
Sounds like a good abstraction to me.

[2015-10-08 13:58] masom commented on #577
Added example metadata fields.

[2015-10-08 14:22] Bladrak commented on #577
:+1:

[2015-10-09 12:33] masom commented on #577
@guilhermef thoughts?

[2015-10-09 12:49] guilhermef commented on #577
It's a great idea

[2015-10-13 18:52] patoarvizu commented on #309
No, I can't really remember what the URL was. Sorry about that.

[2015-10-14 08:54] schwarzeszeux commented on #546
None of the filters worked for me when installing thumbor with pip,

I had to resort to building it myself. However, that does come with its own set of problems.
But I'm finally running a thumbor instance with filters intact :)

I really hope this helps someone else in the future and I personally think it'd be a good idea to either put this in the wiki in one way or antoher.
Or at least have it li

[2015-10-14 11:20] seichner commented on #548
FYI: i will close this ticket as my PR from above was already merged and solves this problem.
For completeness: i cleaned the solution up, this is now here: https://github.com/thumbor/thumbor/pull/578

[2015-10-14 11:20] #548 closed

[2015-10-15 13:43] dhardy92 opened #579 "5.2.0 upload.py vows tests fail"
Hello there since 5.2.0 version vows tests fails mainly on vows/upload_api_vows.py
[code]

On 5.1.0, 35 tests are OK :/ did I missed a requirement ?

[2015-10-15 13:47] #579 closed

[2015-10-15 13:48] dhardy92 commented on #579
seams my local changes

[2015-10-15 13:59] masom commented on #579
@dhardy92 Good to know! 5.2.0 had a bunch of internal changes.

[2015-10-15 14:15] dhardy92 opened #580 "Statsd vows tests fails at home but not on travis"
[code]

Seams statsd require a host instead on None but Travis tests passes ... how is this possible ?

[2015-10-15 14:17] dhardy92 commented on #580
somebody include https://github.com/auchenberg/volkswagen ?

[2015-10-15 14:20] masom commented on #580
Weird, looking into it.

[2015-10-15 15:24] masom commented on #580
I'm getting a bunch of different errors with vows.

Not sure how Travis succeeds the build. @heynemann and others are currently moving the tests into nose and `PyVows` might get dropped.

There is definitely something wrong.

[2015-10-15 16:04] dhardy92 commented on #580
a simple fix would be to have "localhost" as default statsd host (but does not explain the diff in behaviours)

[2015-10-16 10:18] Bertg opened #581 "Outdated haarcascade detector files?"
We are getting close to rolling out Thumbor on our service and have started some user testing. One of the remarks we collected is that not "all" faces are detected. I tried to understand a bit better how this works.

This stuff if way out of my league, but I did notice that the [files in the opencv project](https://github.com/Itseez/opencv/tree/master/data/) are more recent. This led me to these q

[2015-10-16 14:33] heynemann commented on #581
I think @guilhermef is the best person to answer this since he's been doing some work on updating OpenCV on thumbor (non-trivial task).

[2015-10-16 14:38] guilhermef commented on #581
@Bertg I'm updating the haarcascade files on the branch https://github.com/thumbor/thumbor/tree/feature/nosetests
this commit https://github.com/thumbor/thumbor/commit/d00a212a4063472659618c10fce838c20e8eb051 updates the files, but I had to change the way we use OpenCv, so right now I'm trying to integrate with the other engines before releasing it.

[2015-10-16 14:40] guilhermef commented on #581
About keeping the haarcascade files updates, I think after releasing this new version, we could point to the OpenCV folder and use the ones bundled with it, instead of copying them to Thumbor's folder.

[2015-10-16 20:21] mstorus opened #582 "support for signing images with invisible watermark"
Can Thumbor add support for signing images with an invisible watermark?

[code]
Read More: https://www.raymond.cc/blog/signmyimage-protects-your-image-with-invisible-signature/

[2015-10-19 12:52] guilhermef opened #583 "Add support to Animated Webp"
Adding support to AWebp would dramatically reduce the size of our current animated gifs.

https://developers.google.com/speed/webp/faq#why_should_i_use_animated_webp

[2015-10-21 12:33] masom commented on #583
@guilhermef An optimizer like the one for gifv works. The main friction point is installing the webp tools on a server.

[2015-10-21 12:36] guilhermef commented on #583
I was thinking that It should work like auto_webp, since it already depends on having webp installed on the server and the Accept header.

[2015-10-21 12:38] masom commented on #583
One thing to consider is not all OSes will display/animate webp.

Chrome works fine but if a user downloads the animation they won't really be able to do anything with it until it is adopted by more players.

[2015-10-21 12:40] guilhermef commented on #583
At least here, Chrome represents more than 60% of our users, and all the others that don't support would still get a normal Gif

[2015-10-21 12:42] masom commented on #583
Doing it like WebP is definitely a win :) I'm just mentioning this since saving the webp will usually not allow you to upload it to gif-sharing sites.

[2015-10-21 12:44] guilhermef commented on #583
I think that's the main reason why Facebook haven't adopted WebP, people were complaining that they couldn't save and open their photos.

[2015-10-21 13:08] heynemann commented on #583
@guilhermef We should have an AUTO_ANIMATED_WEBP configuration, the same way we do with auto_webp. Then the decision to support it or not is entirely on the user.

The mindset I have right now is that I couldn't care less about the user saving gifs and sharing them, as long as our portal is blazing FAST.

It's very easy to prove with previous research that shaving seconds off the loading time is m

[2015-10-21 15:00] masom commented on #583
@heynemann "The mindset I have right now is that I couldn't care less about the user saving gifs and sharing them, as long as our portal is blazing FAST." We saw a huge increase in speed when trying animated WebP, file size was a lot smaller!

[2015-10-21 15:27] heynemann commented on #583
@masom Thanks for the tip :) Sounds like something thumbor should make easy for users :)

[2015-10-21 17:17] Bertg commented on #581
Cool, I've looked at the branch and seems quite interesting. Is there an ETA for the changes?

Just so I could move further along, the sales added in your commit, will these also work with the current thumbor version?

[2015-10-21 17:19] guilhermef commented on #581
We're still trying to cover some test scenarios, but It's close, something like 2 weeks.
We will generate a new version, since the new haarcascade files don't work on the old OpenCV api.

[2015-10-23 17:25] masom opened #585 "Allow chaining engines"
Quick terrible brainstorm:

It would be awesome if engines could be chained given certain conditions are met.

Something like creating document (pdf, docx, etc.) thumbnails would then be possible.

Input: `my_document.pdf` executes on an engine, producing an image buffer. Pillow is the executed to alter the preview.

https://github.com/btimby/thumbnailer implements most of the required functionali

[2015-10-23 17:33] heynemann commented on #585
I'm not sure this should be chainable engines. The engine in thumbor is responsible for generating the most optimized image possible.

I've given this idea some thought for a while now and I think this should come down to loaders. The loader should be the one to actually grab whatever resource you need and make sure thumbor gets an image. The following are ideas:

* Loader gets video/mp4 as conten

[2015-10-23 18:24] masom commented on #585
The loader approach does make things a lot more simpler for most use cases.

This probably means loaders would get a new "step" since downloading from HTTP/FTP/AWS/file is not directly related to manipulating a pdf / zip / gif / etc. to produce an acceptable media.

A good example of this is the gif thumbnail filter.

Satisfying where these operations happen or how is going to be interestingly com

[2015-10-23 21:31] okor commented on #583
This sounds amazing. It's actually on my research backlog.

We could still probably put the thing into a plugin. And optional AUTO_ANIMATED_WEBP. A big +1 from me on this.

Let me know if anyone needs any help.

[2015-10-24 17:54] Perni1984 opened #586 "convert CMYK to sRGB filter"
I have several original .jpgs from our photographer saved with ICC profile Coated Fogra27 (ISO 12647-2:2004), which should be CMYK if I understood well.

Is there a filter or another way in thumbor that I can use to deliver "web-safe" sRGB pictures out of those CMYK pictures. Unfortunately I didn't find anything on the filters wiki page or here in the issues.

[2015-10-26 12:34] masom commented on #586
Hi @Perni1984

This is an interesting problem we faced on crated.com

Artists would upload their originals in CMYK + embedded ICC profile. Browser support for CMYK is kinda clunky and as you discovered, the file displays fine on a computer but not on the web.

We discovered in some case a simple convert from CMYK to RGB worked. One issue we faced with the conversion is the loss of colours / parity

[2015-10-26 12:42] masom commented on #583
@guilhermef @heynemann @okor It's basically this: copy `gifv.py` and change the ffmpeg call for gif2webp. :)

[2015-10-26 12:48] guilhermef commented on #583
@masom are you settings this explicitly in the url as a filter ?

[2015-10-26 12:49] masom commented on #583
@guilhermef we did that at PopKey, using a filter to mark the request to produce an animated webp from a gif.

It could easily be automated like suggested with `AUTO_ANIMATED_WEBP` in the config.

[2015-10-26 13:05] Perni1984 commented on #586
Hi @masom, thanks for pointing out the options.

As I am not really python savvy (unfortnately) I will probably use Imagemagick or Graphicsmagick to modify the file after the upload and before serving it o thumbor.

I was just wondering if I have overseen a filter or something to directly throw a CMYK jpeg onto thumbor and have it being automatically converted to a web safe .jpg without ICC profil

[2015-10-26 13:14] masom commented on #586
@Perni1984 if you really need it "on-the-fly" within thumbor I could probably contribute the filter although there's several small issues.

ICC profiles usually cannot be re-distributed and to do a proper conversion the original profile needs to be available.

[2015-10-26 13:19] Perni1984 commented on #586
@masom really thanks for your help.

If I understood it correctly the .jpg files I have already contain the icc profiles in them. What do you mean that they cannot be re-distributed?

[2015-10-26 13:19] guilhermef commented on #586
@masom @Perni1984 We convert every jpg to rgb: https://github.com/thumbor/thumbor/blob/master/thumbor/engines/pil.py#L136

but we keep the icc_profile: https://github.com/thumbor/thumbor/blob/master/thumbor/engines/pil.py#L154

[2015-10-26 13:25] masom commented on #586
Damn, thanks @guilhermef I completely forgot about that step.

@Perni1984 some profiles we had to work with had a "do not distribute" clause ( which is kinda silly when they get embedded in the file ).

[2015-10-26 13:38] Perni1984 commented on #586
hmm, strange, then the conversion is not working as expected, eventually it is related to thumbor/opencv-engine#16.

I am attaching the file that I would like to send to thumbor to crop and resize.

Adobe Photoshop shows me that it has the following profile embedded:
ICC profile Coated Fogra27 (ISO 12647-2:2004)

When I am sending the following picture to thumbor
![dominator 800-272](https://cloud

[2015-10-26 13:40] guilhermef commented on #586
@Perni1984 Are you using the opencv-engine ?

[2015-10-26 13:42] masom commented on #585
Related: https://github.com/thumbor/thumbor/issues/586

The OpenCV engine image manipulation is different from Pillow. It would be great to issue the shape detection to OpenCV and then operate on the image using Pillow.

[2015-10-27 05:10] Perni1984 commented on #586
For the above pictures I was using the standard pillow engine with opencv for face/feature detection.

I now dowloaded the opencv-engine and changed the pillow engine in the configuration to opencv, but the result was the same.

Interestingly photoshop is showing me that the color profile after the conversion is RGB, so it seems like the ICC-profile is stripped during conversion. But I guess for t

[2015-10-27 05:35] Perni1984 commented on #586
one thing to add. I was using the the mozjpeg optimizer to generate the above images. I also tried disabling it, but nothing changed.

[2015-10-28 08:36] Perni1984 commented on #525
Hi @roelvanduijnhoven, I have the same use case here - but no clue on python either ;-), and not to much time to dig into this. Could you shed some light on the math and the hack that you did?

Thanks.

[2015-10-28 09:04] roelvanduijnhoven commented on #525
The PHP library I wrote to do this can be found at https://github.com/roelvanduijnhoven/reverse-image-cover.

[2015-10-30 14:12] RobertBiehl opened #587 "Feature request: @return_future in ResultStorage put"
Since thumbor 5 the result_storage get function is asynchroneous, I was wondering what kept the put function from receiving the same love.

https://github.com/thumbor/thumbor/blob/master/thumbor/result_storages/__init__.py#L42

I'd love if the put method would be changed from
[code]
to:
[code]

[2015-10-30 14:13] SebastianBoldt commented on #587
+1

[2015-10-30 14:19] norman-kapschefsky commented on #587
+1

[2015-10-30 14:46] vvh-empora commented on #587
+1

[2015-10-30 14:57] masom commented on #587
We updated Thumbor to fire the `put` in a IOLoop callback, preventing it from blocking requests.

If the backend supports async operations then this will be fully async.

See https://github.com/thumbor/thumbor/commit/b9f34378028382f1381745c93bd12b5d7c874e8d

[2015-10-30 14:58] RobertBiehl commented on #587
Great I will look into it. Thank you!

[2015-10-30 14:58] masom commented on #587
The metrics will currently be a little bit off so the method might need to yield with `maybe_future` and `return_future` as you suggested.

[2015-10-30 22:07] twelvelabs commented on #529
I would like to cache 404s on the CDN side, but don't want to do so until this gets fixed. Can you please point me to what specifically needs to be changed and I'll see if we can make progress on it?

[2015-10-31 16:03] masom commented on #529
@twelvelabs the core now supports errors from the loader.

The loader must return a `thumbor.loaders.LoaderResult` instance with the error set to `LoaderResult.ERROR_NOT_FOUND` or `LoaderResult.ERROR_UPSTREAM`.

Thumbor will react to the loader error and handle it with a 404 or 502 response code. See https://github.com/thumbor/thumbor/blob/be007874fbf3d41fa44f182612972223782141f9/thumbor/handlers/

[2015-11-03 14:27] masom commented on #291
Thumbor will use a lot of memory if needed by the image opeartion. PM2 seems to enforce memory usage and has other settings to trigger an application server restart.

I'm not quite sure what can be done on our end, thumbor works fine with supervisord, init.d, rc.d, and many other application process managers.

[2015-11-03 14:27] #291 closed

[2015-11-03 16:26] heynemann commented on #587
Should we close this?

[2015-11-04 03:20] ryanio commented on #537
+1, is error logging via sentry still broken? It doesn't seem to be working for me

[2015-11-04 12:34] lextoumbourou opened #589 "Utilising different storage backends for uploads and loaded images"
Hi all,

Firstly, thanks a lot for Thumbor, it's awesome! :smile:

Regarding Thumbor's upload functionality, it seems like you can set the `UPLOAD_PHOTO_STORAGE` and `STORAGE` params to use different storage backends, but then when actually requesting the image, it appears to always use the `STORAGE` backend.

Is there a way to support complete separate backends for uploaded images and stuff loade

[2015-11-04 12:34] heynemann commented on #537
Really? It should be working...

[2015-11-04 12:35] heynemann commented on #589
You can implement your own loader. That's the easiest way to achieve it.

[2015-11-04 12:40] phoet commented on #537
I think it is working, but we had to disable it because the Raven client
was incompatible with our sentry server. So I can't say for sure...

Bernardo Heynemann <notifications@github.com> schrieb am Mi., 4. Nov. 2015,
13:34:

[2015-11-04 13:59] RobertBiehl commented on #587
Ok, so as I understand there is no part in thumbor that waits for the confirmation of success/error of a put?

[2015-11-04 13:59] masom commented on #587
Nope although right now if the `put` operation is async the recorded metrics will be wrong. I'll open a PR to call `yield maybe_future` on it.

[2015-11-04 14:12] masom commented on #587
https://github.com/thumbor/thumbor/pull/590

[2015-11-04 14:59] masom commented on #587
Closed by #590

[2015-11-04 14:59] #587 closed

[2015-11-04 16:58] #351 closed

[2015-11-04 20:01] ryanio commented on #537
How can I help debug? I have my getsentry.com DSN url in there but have never received any errors

[2015-11-05 14:02] dhardy92 commented on #537
their is other way to get logs to external system using THUMBOR_LOG_CONFIG setting:
my case using custom logguer implementation for Flume (my own implementation of logging.handler)
[code]
so you can do the same using : https://raven.readthedocs.org/en/latest/integrations/logging.html
cf #415

[2015-11-05 14:05] masom commented on #537
@ryanio Thumbor actually does not fail often. It's pretty rare unexpected exceptions are raised.

Most of the errors are due to invalid images or failing upstream servers ( ex: redis or http loader ). Those errors are handled inside thumbor and do not result in an exception being logged into the exception handler.

The metrics system gives a lot more insight for "normal" runtime errors and as @dha

[2015-11-05 17:29] gi11es opened #593 "Source URL escaped too eagerly, preventing use of custom port"
I have a hard time finding what change caused this, but this used to work:

http://127.0.0.1:8888/unsafe/100x100/http://www.foo.com/bar.jpg

And now it doesn't, because it seems like the entire source URL is getting escaped:

2015-11-05 17:25:28 thumbor:WARNING ERROR retrieving image http%3A//www.foo.com/bar.jpg: Unsupported url scheme: http%3A//www.foo.com/bar.jpg

Now, if I drop the scheme part

[2015-11-05 17:32] masom commented on #593
I remember a discussion about escaping / unescaping urls.

Would you mind trying to `encodeURIComponent` the url?

ex:
`http://127.0.0.1:8888/unsafe/100x100/http%3A%2F%2Fwww.foo.com%2Fbar.jpg`
`http://127.0.0.1:8888/unsafe/100x100/www.foo.com%3A8888%2Fbar.jpg`

[2015-11-05 17:36] gi11es commented on #593
Same deal:

http://127.0.0.1:8888/unsafe/100x100/http%3A%2F%2F127.0.0.1%3A8080/images/d/da/F%C3%A9lix_et_Gilles_m%C3%AAme_%C3%A2ge.jpg

2015-11-05 17:35:53 thumbor:WARNING ERROR retrieving image http%3A//127.0.0.1%3A8080/images/d/da/F%C3%A9lix_et_Gilles_m%C3%AAme_%C3%A2ge.jpg: Unsupported url scheme: http%3A//127.0.0.1%3A8080/images/d/da/F%C3%A9lix_et_Gilles_m%C3%AAme_%C3%A2ge.jpg

http://127.0.0.

[2015-11-05 17:36] masom commented on #593
Are you on `master` or a tagged release?

I'll look into this ASAP.

[2015-11-05 17:38] gi11es commented on #593
master

[2015-11-05 20:01] #593 closed

[2015-11-05 20:02] masom commented on #593
@gi11es should be working in `master`. The image url must be url encoded.

[2015-11-06 08:12] kshipp commented on #466
RESPECT_ORIENTATION = True --> isn't working.

[2015-11-06 13:41] guilhermef commented on #581
@Bertg Right now Thumbor's master has the updated haarcascade files

[2015-11-08 01:30] ryanio commented on #537
@masom Ah that makes sense. Yeah it's really important for me to be alerted when reids fails, so I can jump in and fix. I'll look into implementing @dhardy92's solution. Thanks everyone!

[2015-11-09 16:18] ahmadimt opened #596 "If using USE_GIFSICLE_ENGINE configuration to True, the `gifsicle` binary must be in the PATH"
I am using the latest version of Thumbor with Gifsicle.. While Starting the server, I am getting the below error, Although gifsicle is present in /usr/local/bin

RuntimeError: If using USE_GIFSICLE_ENGINE configuration to True, the `gifsicle` binary must be in the PATH and must be an executable.
Traceback (most recent call last):
  File "/usr/local/bin/thumbor", line 9, in <module>
    load_entry_

[2015-11-09 16:21] masom commented on #596
Getting this error means Thumbor was unable to locate `gifsicle`.

Is `gifsicle` executable?

[2015-11-09 16:29] ahmadimt commented on #596
yes it is...here is the screenshot for that

![image](https://cloud.githubusercontent.com/assets/10077189/11039281/e53446d2-872c-11e5-894e-5559f365c1a4.png)

[2015-11-09 16:31] masom commented on #596
What's the `PATH` environment value for the user `thumbor` executes under?

Does that user have access to the `gifsicle` executable?

[2015-11-09 17:06] ahmadimt commented on #596
here is the value of PATH
root@TH01:/etc# echo $PATH
/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games

Also, the user has the access to the gifsicle...

[2015-11-09 17:18] ahmadimt commented on #596
Hi Martin,

I found a workaround for this....instead of building gifsicle from source...I just installed it directly from Ubuntu repo...Now it's working...

Thank you for your time..Martin....appreciate your help.. :+1:

[2015-11-09 17:19] #596 closed

[2015-11-10 07:20] hawkett opened #597 "Malformed URL for some secure URLs"
I'm getting the following error for some URLs, while others work fine. I _am_ encoding the url before hash generation. The SECURITY_KEY I used for everything in this issue was ```BOTEZu^p_EH+(G5hf5in```.

```WARNING Malformed URL: /THpDlimZIwCIdMql0gXf2MYn6Lg=/0x200/smart/https%3A%2F%2Fcdn-images-1.medium.com%2Fmax%2F800%2F1*tR_m1tLvYS8VXX1w5mHz5A.png```

Original URL (from medium.com): https://cd

[2015-11-10 09:31] dhardy92 commented on #596
actually this is current root shell $PATH ...
to really know what PATH thumbor is using prefer /proc filesystem information
[code]

[2015-11-11 17:50] banks opened #598 "URL escaping parens in filter string not supported"
Hi we are using thumbor 5.2.1 (current stable version I think).

We have an issue which has been partially reported before e.g. #344 but the "fix" in that case was to go fix the other system that was adding additoinal escaping to the URL.

We've been running fine with thumbor in production for a while.

Problem is we now have requirement to send HTML emails and many mail clients (including Outlook

[2015-11-11 18:06] heynemann commented on #598
The issue here is these "smart" encoders. Outlook automatically encodes stuff. Tornado automatically decodes stuff. This leaves us in the middle. What do we do? Automatically decode? Then we have issues with people who didn't encode it in the first place. Do not automatically decode? Issues with clients like Outlook that automatically encode.

If you manage to find a way to work this out, it would

[2015-11-11 18:06] heynemann commented on #598
Btw, sorry for this issue affecting you guys. Really sorry for the poor service it's providing...

[2015-11-11 21:34] gi11es commented on #593
It's having problems with accents now. Do you want me to file a new issue?

curl -i http://127.0.0.1:8889/unsafe/100x100/127.0.0.1:8080/images/5/53/F%C3%A9lix.jpg

2015-11-11 22:33:35 thumbor:ERROR ERROR: Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/thumbor/handlers/__init__.py", line 102, in get_image
    self.context.request.image_url
  File "/usr/local/lib/p

[2015-11-12 12:15] banks commented on #598
So a trivial fix that solves this issue as stated is:

[code]

See the problem appears to be that Tornado has NOT unescaped the parens by the time regex matching on URL happens, so the filter string is treated as part of the source file explaining the log output I posted originally. Oddly it just works with this one change, which implies tornado (or thumbor) IS magically unescaping the filter stri

[2015-11-12 13:22] heynemann commented on #598
My initial reaction to this was to try to validate both the encoded and unencoded version against the hmac to make sure either work. I think the issue here is the storage bit. If we allow for both formats you would end up with two different items in storage (possibly). Any ideas @masom @okor @guilhermef?

[2015-11-12 13:37] banks commented on #598
I have a working patch that makes the above less unpleasant.

I'll submit a PR for you to look at although I doubt it's acceptable as-is because I've run out of time and still not managed to get your test suite to run on OS X...

It uses the last idea to combine permitting encoded closing paren in the URL regex with re-encoding the URL before we validate HMAC so that it passes.

It's not a fully g

[2015-11-12 13:44] banks commented on #598
FWIW I couldn't get `make test` to run due to many dependency issues. Even using virtualenv I was unable after 30 mins or so of googling to get past `ImportError: cannot import name wraps` despite having manually installed latest versions of `mocks` and `six`...

If there is some trivial thing I can do to make that work please let me know :) I guess I'll see now if travis fails the PR at least...

[2015-11-12 13:53] guilhermef commented on #598
@banks are you using python 2.7 ?

[2015-11-12 14:11] banks commented on #598
Yep

[2015-11-12 15:04] banks commented on #598
Turns out we probably won't even use this patch for now. In production we have a caching proxy cluster in front of our thumbor cluster since our CDN does not have it's own origin shielding function. Thumbor result storage is not really possible for us because our thumbor cluster is auto-scaling and it result storage makes each instance stateful so cache coherency becomes very hard to manage.

This

[2015-11-12 15:22] okor commented on #598
Just brainstorming here. But it seems like a url shortener would be a simple solution that would not cause massive cache invalidations or code smell (in thumbor) for funky client issues.

[2015-11-12 15:39] banks commented on #598
Yep that could work, but it's a bunch of overhead - when sending out millions of dynamically generated emails, having to create new shortened URL is not practical, not to mention that if you used these in other places bad clients might lurk you'd need to make calls/db updates to url shortening service every time you serve an image...

A more realist alternative is to define a new URL syntax that e

[2015-11-12 15:44] masom commented on #598
@banks PopKey is doing that: `https://m.popkey.co/197808/k00vK_f-thumbnail-100-0_s-600x0.jpg`

- The url signer has been modified to produce shorter signatures
- A custom url parser has been built to parse `{:slug}_{:options}.{:format}`.
- options:
 - filter: `f-{:name}-{:params}`

Url generation / parsing is a little bit tricky as you need your own url generators. PopKey supports vanilla + custom

[2015-11-12 15:53] banks commented on #598
@masom interesting thanks. That would probably be our next solution if it weren't for the fact that we can just have our caching proxy decode urls safely anyway without an extra layer of processing. It works for us as we know we never have encoded chars in our source image URL. You might have noticed we have a few custom filters already for "knowing" where the origin is - it's not explicitly encod

[2015-11-12 16:03] masom commented on #598
Yep. One way to approach this would be to support both formats in a `mixed_url_parser` and to also let people chose the format generated by the different libraries.

[2015-11-12 16:12] okor commented on #598
Between having two ways of doing things and a single way to doing things, I'd say choose the single way. If we invalidate a bunch of cache to fix a real issue - then we can put sirens around the release notes. Folks who are running small setups probably won't notice (or read the changelog). Folks running huge clusters know the deal - massive cache invalidation is possible with a major version upgr

[2015-11-12 16:16] masom commented on #598
Yep, this is why I'm proposing to use a format with no special chars and also support old urls.

[2015-11-12 16:18] okor commented on #598
I hate the idea of supporting two different formats but I have to admit it's a practical alternative to a global change. Any breaking changes could be brutal. If we could do it with minimal code stink then maybe we should give it a shot.

[2015-11-12 20:30] ekoka opened #602 "Subtle issue with accented characters during encryption/decryption of url keys"
## Summary

 I have a file named with an accent (e.g. alizée.jpg). I url-encode the name with `urllib.quote()`. The url-encoded name now includes a code to represent the accented character (e.g. aliz%C3%A9e.jpg). Note that the code is in uppercase. I then generate a secure url from that quoted name with `CryptoURL.generate()`. When requesting the file from the browser however, Thumbor receives the

[2015-11-13 21:37] banks commented on #598
FYI the "broken" link in the original post now works just fine. This was not a thumbor fix but we fixed out caching proxy in front of thumbor to normalise (decode) URLs before cache lookup as discussed.

[2015-11-14 11:01] ishirav commented on #602
I have similar problems with image paths containing Hebrew Unicode characters, and even blank characters.

[2015-11-14 15:05] heynemann opened #603 "URL Samples to work with"
Hey thumbor users,

I want to get a test suite for thumbor's URLs. I would like it to be as comprehensive as possible. It would be awesome if you guys could put URL formats here (unicode, encoded, unencoded, etc).

That way we can make sure thumbor works as expected for everyone.

/cc @masom @okor #602 #598 #601 #599 #593

[2015-11-15 10:54] ekoka commented on #603
Hey @heynemann,
I'm not certain to understand what you need us to do, but I believe that URLs should be provided to `Crypto.generate()` as unicode objects like this:

[code]
It is my understanding that the sequence to encode an URL should generally go as follows:

Unicode object (if you start with one) -> UTF-8 encoding -> URL-encoding

Of the 3 strings, only the Unicode object will be natively id

[2015-11-16 10:33] ishirav commented on #411
I was faced with the same requirement, and managed to solve it by creating a custom loader. It's almost identical to the regular file loader, but when asked to load a file it first checks whether it's a video. If so, it uses ffmpeg to extract a single frame from the video and then loads the extracted frame (instead of the original file). Works like a charm, and pretty quickly too.

The complete co

[2015-11-16 13:12] heynemann commented on #411
Would you guys be willing to have a project under thumbor-community with this extension? I'm sure @masom can help you get it off the ground and add some tests for good measure.

[2015-11-16 16:03] ishirav commented on #411
Sure, I'm willing to help. Although it seems to me that the "correct" way to achieve video thumbnailing should be similar to the way thumbor extracts a cover photo from animated gifs (it's conceptually the same operation, extended to additional file types beyond gif).

[2015-11-16 16:06] masom commented on #411
Yep, it is failry similar.

We've had discussions about dynamically calling engines and/or chaining them.

Right now the way you proposed the change is the cleanest way to do it within the current thumbor architecture.

Ideally we'd have a video engine that executes ffmpeg and transfers the image to Pillow for further processing.

If you want I can create a `video` repo under https://github.com/th

[2015-11-16 16:18] ishirav commented on #411
Great, I'll put the custom loader there. Since I've never contributed to thumbor before, what else should be in that repo other than a README? What do you use for writing and running tests?

[2015-11-16 16:21] masom commented on #411
community projects follow this:

- MIT License
- Python unittest ( see thumbor tests, we are moving away from PyVows.)
- The package itself is named `tc_<name>`. Versions follow this: `<thumbor_major>.<package_major>.<package_minor>`. This allows releasing versions that match thumbor.
- Code of conduct: https://github.com/thumbor-community/code-of-conduct

[2015-11-16 16:22] masom commented on #411
Repo created at https://github.com/thumbor-community/video

[2015-11-16 19:46] heynemann commented on #411
Can we close this issue?

[2015-11-17 18:40] Perni1984 commented on #549
@heynemann: Hi, do you have eventually any update on this. It would be highly interesting for a project I am currently working on.

[2015-11-17 19:14] heynemann commented on #549
We need a specific use case to use Client Hints on. What do you have in mind @Perni1984 ?

[2015-11-19 09:52] gi11es opened #604 "PNG bomb vulnerability"
![PNG bomb file](https://cloud.githubusercontent.com/assets/487183/11267360/394eb86c-8eab-11e5-922b-f8e779607f15.png)

PIL actually detects the bomb, but Thumbor crashes anyway:

[code]
Having a configurable source megapixel limit would work around that problem.

[2015-11-19 09:54] gi11es opened #605 "Contrary to what the documentation states, MAX_WIDTH and MAX_HEIGHT don't apply to reads"
As far as I can see in the code, MAX_WIDTH and MAX_HEIGHT are only used to cap the output size. It doesn't prevent Thumbor from processing source images that are over those limits (eg. setting those max values don't stop #604 from happening).

[2015-11-19 09:55] gi11es opened #606 "Erroring on accents in source URLs"
[code]

[code]

[2015-11-19 09:56] gi11es commented on #606
Might be related to #602

[2015-11-19 10:23] gi11es opened #607 ""make test" dependencies"
When running "make test", the following dependencies are required and only manifest themselves through errors mid-test:

- pyvows
- a running redis instance
- tornado-pyvows
- gifsicle
- coverage

It's not very graceful to discover those dependencies that way, having to decipher errors.

As an aside, I find the need for a running redis instance a bit questionable. What are the tests doing with it?

[2015-11-19 10:42] gi11es opened #608 "Possibly unnecessary and/or unsafe use of shell=True"
Spotted in jpegtran.py, gifv.py and pil.py This is unsafe with user-generated paramaters: https://docs.python.org/2/library/subprocess.html

Some repos under the community account might also have similar code.

While the current usage seems "reasonably safe" because the dynamic parts of the commands are either coming from config files or seemingly randomly generated tmp file names, this could be a

[2015-11-19 10:58] gi11es opened #609 "Coverage "no such option: -v" when nosetests is missing"
I installed coverage with "easy_install coverage" and "make test" is now giving me this:

[code]

[2015-11-19 12:22] gi11es opened #610 "Several copyrighted images in source code"
I've spotted a logo, celebrities portraits, a gif from a movie, etc. used for the tests. All of which are certainly copyrighted and shouldn't be part of thumbor's source code.

I suggest switching all of those copyrighted images to openly licensed ones, with proper attribution.

[2015-11-19 12:47] banks commented on #607
Presumably for testing [Queued detectors](https://github.com/thumbor/thumbor/blob/08ac6fb07c2b7a20e12e3f4814777c9c372dfb0e/thumbor/detectors/queued_detector/__init__.py)

[2015-11-19 12:48] guilhermef commented on #607
@gi11es `make setup` should install all the python test dependencies.
The only ones that will be missing are: redis and gifsicle

[2015-11-19 12:50] guilhermef commented on #610
I agree, but most of them are used to test image detection, so we should be careful

[2015-11-19 12:50] guilhermef commented on #609
Run `make setup`

[2015-11-19 13:02] gi11es opened #611 ""make setup" probably shouldn't point to https://github.com/scikit-image/scikit-image/archive/master.zip"
On OS X:

[code]

I see that I have scikit-image installed, not sure why "make setup" needs to install the latest master from github.

[2015-11-19 13:02] gi11es commented on #609
Thanks, tried that, which led me to #611

[2015-11-19 13:05] gi11es commented on #611
This workaround did the trick: http://stackoverflow.com/questions/19961239/pelican-3-3-pelican-quickstart-error-valueerror-unknown-locale-utf-8

But I'm not sure that stability-wise (and security-wise) pointing to the github master for that project is a good idea.

[2015-11-19 13:15] gi11es commented on #609
It looks much saner now, with an overall score of 53.8

However this error still appears:

[code]

Probably harmless, but doesn't look nice as one of the last things seen in a "make test" run.

[2015-11-19 13:19] gi11es opened #612 ""Get meta > With metadata" test fails"
Running "make test" on a fresh checkout on OS X I get this error:

[code]

When I look at what the buffer passed to PIL contains, it's this:

[code]
Surely PIL can't treat this as an image to be read. It looks like the wrong thing ends up being stored in that buffer parameter.

[2015-11-19 13:23] gi11es commented on #611
Additionally, it seems to cause scikit-image to be built every time "make setup" is called, regardless of the same checkout already being built and installed.

[2015-11-19 13:24] gi11es commented on #607
Thanks, I did miss the "make setup" step, the message it displays at the end:

[code]

Should probably also mention the need to have a redis instance running (and not just having redis installed).

[2015-11-19 13:25] gi11es commented on #604
FYI I'm working on an attempt to fix this, I'm just fighting my way through tests setup, as my other issue reports would have hinted by now :)

[2015-11-19 13:25] guilhermef commented on #607
`make test` starts a Redis instance: https://github.com/thumbor/thumbor/blob/master/Makefile#L19

[2015-11-19 13:26] gi11es commented on #607
Ah, I stand corrected, sorry for the noise!

[2015-11-19 13:26] #607 closed

[2015-11-19 13:27] guilhermef commented on #607
No problem man ;)

[2015-11-19 13:41] masom commented on #607
The redis instances is used for the redis_storage tests. That storage is being moved out of the main thumbor repo. Same thing used to happen for MongoDB.

[2015-11-19 13:45] masom commented on #604
`sudo /srv/thumbor/bin/python` might also be a good idea to not run thumbor as root.

[2015-11-19 13:48] masom commented on #609
@gi11es I think `coverage` was updated and we didn't version lock. On Pypi 4.0.x was released in october 2015. I get the same error.

We need to put a requirements.txt or setup.py with the dev requirements locked to certain versions.

[2015-11-19 13:49] gi11es opened #613 ""make test" doesn't seem to run test_base_handler.py"
I need to write a test which would logically fall into that file, as it's similar to ImageOperationsWithMaxWidthAndMaxHeight

Why are the tests in that file not run with "make test"? Are they deprecated or meant to be run manually with a different command?

[2015-11-19 15:44] gi11es commented on #612
I see that a similar issue on that test seems to happen in CI: https://travis-ci.org/thumbor/thumbor/jobs/92046290#L848

[2015-11-19 15:45] gi11es commented on #613
Those tests do run in CI: https://travis-ci.org/thumbor/thumbor/jobs/92046290

But when I run the same command locally, "make compile_ext ci_test", they still don't run.

[2015-11-19 15:57] #613 closed

[2015-11-19 15:57] gi11es commented on #613
This is actually a duplicate of #609 I believe

[2015-11-19 16:02] gi11es commented on #609
The error is misleading, the -v option is actually for nosetests, which wasn't installed by "make setup". Running "pip install nose --upgrade" fixes it.

This is because this: https://github.com/thumbor/thumbor/blob/master/Makefile#L42

Turns into:

[code]

When "nosetests" can't be found in the path.

[2015-11-19 17:53] #604 closed

[2015-11-20 08:36] ishirav commented on #411
I suppose you can close this issue. I've put everything in https://github.com/thumbor-community/video - please take a look and tell me if something's missing or not working. Thanks!

[2015-11-20 09:35] gi11es opened #615 "Missing dependency: pytz"
Introduced in 6b7d1d0aa8408155adea631bc39db86786f59570, it's missing from thumbor's setup

[2015-11-20 13:45] #615 closed

[2015-11-20 14:05] masom commented on #411
Thanks @ishirav . I'll close this issue and will review on tc_video.

[2015-11-20 14:05] #411 closed

[2015-11-20 20:58] hawkett commented on #597
It looks like this problem is caused by javascript's ```encodeURIComponent()``` method not encoding some characters (in this case ```*```) as thumbor expects. I modified my code to the use the ```fixedEncodeURIComponent()``` method documented [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent), and the broken URL is now working.

The document

[2015-11-25 05:27] imoyaes commented on #411
Is this video work around compatible with thumbor_aws? I see that thumbor_aws uses s3_loader.py and in the end returns the result of file_key.read(). I'm not even sure if file_key.read() is a kind of LoaderResult

[2015-11-25 14:14] masom commented on #411
@imoyaes Thumbor supports old-style results ( just plain media buffers ) and the new `LoaderResult` class.

[2015-11-25 15:08] LeonB commented on #545
Would be nice to have this merged!

[2015-11-26 06:36] ahmadimt opened #617 "404 Error When retrieving images with %20 in URL"
I am getting below error while access urls with %20

2015-11-26 06:11:34 tornado.access:WARNING 404 GET /unsafe/http://res.cloudinary.com/culture-machine/image/upload/v1445935626/alif%20laila/alif8.jpg (127.0.0.1) 446.84ms

[2015-11-26 13:28] sbaechler commented on #464
OpenCV 3.0.0 does not have the cv2.cv module anymore.

[2015-11-26 15:50] sbaechler commented on #464
I added experimental support for OpenCV 3.0.0 in the `feature_detector` module in this commit: https://github.com/sbaechler/thumbor/commit/0e2b8879ec028a113880c879a7515b1bed6f8d37. I don't now, however if I broke backwards compatibility. OpenCV stopped using the IplImage data type. It's all Mats now, which are represented in Python by numpy arrays.

One issue is with passing the image into OpenCV.

[2015-11-26 16:30] guilhermef commented on #464
We've done that on https://github.com/thumbor/thumbor/commit/c19e2b0e3ad11334f7d94aa9054a6a84246a758d

[2015-11-26 16:53] guilhermef commented on #464
@sbaechler now the `feature_detector` on master is using cv2 too: https://github.com/thumbor/thumbor/commit/5497922565dd95ee095a9b341b24d85333070244

[2015-11-26 16:55] guilhermef commented on #617
@ahmadimt It should be working on master now: https://github.com/thumbor/thumbor/commit/1feff2a733e0a863584b483e9261c4aaa1929b25

[2015-11-26 17:07] ahmadimt commented on #617
@guilhermef Thanks for the update.However, for getting these changes I need to build it from source and my current installation is from Ubuntu ppa. Is there anyway to incorporate it in my current installation.

[2015-11-26 17:19] guilhermef commented on #617
@ahmadimt Which version are you using ?

[2015-11-26 17:19] guilhermef commented on #612
We have to convert this test to unit.

[2015-11-26 17:21] ahmadimt commented on #617
@guilhermef It is working from master... Also, Thanks a lot for fixing it in such short period of time. :+1:
I am using Thumbor v5.2.1.

[2015-11-27 14:53] Bladrak commented on #549
@heynemann a first step could be to pass those values through to the loaders / storages, and retrieve an eventual DPR argument from them, plus return Vary headers if those are set?
Should this feature be optional as well?
Maybe in a second time we could think about handling those arguments to resize the images on the fly?

[2015-11-27 15:33] heynemann commented on #549
That's the main issue here. We can do all those things, but I wonder what we are trying to achieve. I can think of a couple scenarios:

* Vary quality based on network;
* Vary image size based on DPI (retina images).

Both have issues around them. What I wanted to gauge from thumbor's committers is whether these are scenarios you'd like to use and if we have anyone willing to contribute this featu

[2015-11-27 15:39] Bladrak commented on #549
Regarding the quality varying based on the network, that's something we could start right away through the optimizers implementations I guess. I don't see much custom use cases there.
However, regarding the variation of image size based on the DPR, there's a lot of use cases possible. That's why I was thinking about first implementing the pass-through to loaders/storages, which would allow users t

[2015-11-27 15:45] TwanoO67 opened #619 "Smart mode and watermark not handling URL without extension"
Hello guys,

Our website is using Images which are hidden behind ID and so our URLs doesn't provide the extensions of the file (but the mime-type is well formed) because we don't know it at that moment (and don't want to serve an "image/png" with a .jpg extension...).

For exemple "mysite.dn/images/getImage/IDSTRING"
would respond a correct image, with the correct mime-type.

But if i try to pass

[2015-11-27 15:46] masom commented on #549
Given that imgix implemented Client Hints it is probably worth implementing.

The feature with the most impact would be knowing what sizes a device requests and returning images matching that. This would boost thumbor's adoption for mobile-first platforms.

One way to approach this is to develop a filter that will take in the raw url and apply the request size being requested.

To prevent DDOS, th

[2015-11-27 15:49] masom commented on #619
Hi @TwanoO67

The url shortener capabilities override the thumbor url in a similar fashion. The request url is overwritten with the database value and thumbor keeps operating as normal.

Take a look at: https://github.com/thumbor-community/shortener/blob/master/tc_shortener/handlers/shortener.py

[2015-11-27 15:51] heynemann commented on #549
As long as we do not increase complexity significantly in thumbor's codebase, I'm all for it. I'm not being negative here, @Bladrak. I'm just very worried about thumbor's codebase as it is. We've had a LOT of work trying to keep it small and it's HUGE, lol.

I do think your approach is good, though. I'd start with just putting it into context. No need to pass it around explicitly. When the request

[2015-11-27 15:55] masom commented on #549
Yeah.

So how about this:
- Implement a `DeviceHint` pre-filter that is automatically executed if enabled + headers are present.
- The filter itself will change the request to match the request within acceptable boundaries.
- If the filter cannot change anything the request stays the same.
- Device Hints would be opt-in through configuration.
- The original request would be used as fallback if the

[2015-11-27 15:58] heynemann commented on #549
Why does it have to be a filter? We can add to [request processing](https://github.com/thumbor/thumbor/blob/master/thumbor/handlers/imaging.py#L45) the task of adding client hints to the request if they are available.

I don't see anything wrong with this. No need to be opt-in (won't add any significant burden to requests that do not have the headers).

If this PR won't include any USAGE of the cl

[2015-11-27 16:06] Bladrak commented on #549
There's also Response headers to be set (``Content-DPR`` and ``Vary`` for instance). Where should we handle those?

[2015-11-27 16:38] TwanoO67 commented on #619
Hi @masom

Thank you for your answer.

It seems that the issue was coming from my test image, and not related to the url:

So for the smart mode, this image is not working
http://images.charentelibre.fr/26/11/2015/565723c97971bb8469064a0f/a.jpg

And this image is:
http://images.charentelibre.fr/26/11/2015/565723c97971bb8469064a0f/default/b.jpg

Both are the same size, and image data, but the secon

[2015-11-27 16:43] TwanoO67 commented on #619
Furthermore,

The Watermark part is a real "extension" issue.
If I use "filter:watermark(url-without-extension,0,0,100)" I'm always getting an 500 error

[2015-11-27 16:47] heynemann commented on #549
The same place we do vary for auto webp.

On Fri, Nov 27, 2015 at 2:06 PM, Hugo Briand <notifications@github.com>
wrote:

[2015-11-30 19:03] igrigorik commented on #549
Excited to see progress on this. A couple of quick notes, as I'm reading this...

- Chrome & Opera will be shipping support for `Save-Data: on` in early 2016 (see [blink-dev thread](https://groups.google.com/a/chromium.org/d/msg/blink-dev/-_pEwnE_e_Y/zx5KFs3VBAAJ)). I think this would be a *great* candidate for Thumbor.. It's an explicit signal that user has opted into a "data savings mode", and t

[2015-12-01 16:07] joanscript opened #620 "watermark doesn't work"
We are running thumbor version 5.2.1 and it's working well except for the watermark filter.

This is the error log:

2015-12-01 16:55:48 thumbor:DEBUG [RESULT_STORAGE] getting from /path/thumbor/v2/1D/IV/1DIV-C8mYXLsjvMy8iq5YqRqBdQ=/fit-in/300x300/filters:watermark(www.example.com/aNQiMVEBwd9vHFq3hfVk8zfaHWU=/fit-in/300x450/common/logo.png,0,0,0)/photopath/file1993998.jpg
2015-12-01 16:55:48 thumb

[2015-12-01 16:09] masom commented on #620
Before feeding the watermark url to the filter can you try urlencoding it?

[2015-12-01 16:10] Bertg commented on #300
Bit old ticket, but would indeed be nice if thumbor would just create the descriptor if it's not present.

[2015-12-01 16:19] joanscript commented on #620
Hi @masom, same error urlencoding the watermark url as u mentioned:

http://www.example.com/N5MAUjbm9plIdBmvxfi3oJwsGnQ=/fit-in/300x300/filters:watermark(http%3A%2F%www.example.com%2FaNQiMVEBwd9vHFq3hfVk8zfaHWU%3D%2Ffit-in%2F300x450%2Fcommon%2Flogo.png,0,0,0)/photopath/file1993998.jpg

[2015-12-01 16:21] masom commented on #620
Does the watermark load fine by itself?

Using thumbor to resize the logo is quite ingenious. Recursiveness!

[2015-12-01 16:27] joanscript commented on #620
Well, I made several tests to check different options.
I tested the logo without modifications as well:

http://www.example.com/it1CQAA23vkCudBQfl1_fmZZRaQ=/filters:watermark(http%3A%2F%2Fwww.example.com%2FMsufWbBDiBQdcUdP6041qp2WGls%3D%2Fcommon%2Flogo.png,0,0,0)/photopath/file1993998.jpg

[2015-12-01 16:29] masom commented on #620
What I meant by that is to ensure the generated logo URL is working.

Is the watermark url (`http://www.example.com/aNQiMVEBwd9vHFq3hfVk8zfaHWU=/fit-in/300x450/common/logo.png`) working?

[2015-12-01 16:34] joanscript commented on #620
yes! I tested these watermark urls first, then use them as a filter.

[2015-12-02 09:51] doronfeldman opened #622 "Smart mode with OpenCV fails on certain images"
For example, this image:
http://s3.amazonaws.com/game-images/angry_birds_seasons.png
With resizing to 200x200 and smart mode

Throws an Exception:

2015-12-02 09:38:35 tornado.application:ERROR Future exception was never retrieved: Traceback (most recent call last):
  File "/usr/local/lib64/python2.7/site-packages/tornado/gen.py", line 1017, in run
    yielded = self.gen.send(value)
  File "/usr/l

[2015-12-02 12:58] guilhermef commented on #622
This shouldn't happen on the current master,
we're just doing a few more tests before releasing a new version.

[2015-12-02 13:41] doronfeldman commented on #622
Thank you for the quick response,
I upgraded to master using:

pip install git+https://github.com/thumbor/thumbor.git --upgrade

now for the same image i get a completely different error:

/usr/local/lib64/python2.7/site-packages/PIL/Image.py:882: UserWarning: Palette images with Transparency   expressed in bytes should be converted to RGBA images
  'to RGBA images')
2015-12-02 13:33:26 tornado.ap

[2015-12-02 13:47] guilhermef commented on #622
@doronfeldman I'll take a look at this problem.

[2015-12-02 13:51] doronfeldman commented on #622
I also noticed that before the upgrade,
i could get http loader to load images with '™' in them by encoding the url,

right now it doesn't work any more

[2015-12-02 13:55] guilhermef commented on #622
We're actually changing the way thumbor's deal with url's, so we're still adapting a few things, can you post a url example with ™ ?

[2015-12-02 13:57] guilhermef commented on #622
I couldn't reproduce the detection error on my environment,  could you print what's on the variable data,
`File "/usr/local/lib64/python2.7/site-packages/thumbor/storages/file_storage.py", line 75,
in put_detector_data
file.write(dumps(data))`
?

[2015-12-02 13:58] doronfeldman commented on #622
https://s3.amazonaws.com/game-screenshots/star_wars™_kotor_cover.png

[2015-12-02 14:03] doronfeldman commented on #622
Sorry, I'm completely new to python,

how exactly do i print what you need?

[2015-12-02 16:46] guilhermef commented on #622
@doronfeldman this should solve the unicode char issue: https://github.com/thumbor/thumbor/commit/d9ed09cf7477604e2ddc663830f18054fc4a4958

You can just edit the source and add a `print(data)` before the line 75

[2015-12-02 19:15] doronfeldman commented on #622
@guilhermef
This is the data variable printed:

[code]

[2015-12-02 20:29] guilhermef commented on #622
@doronfeldman That's really strange, I was able to serialize this.
Could you run
`python -c 'import json; print json.dumps([271.0])'`
on your environment ?

[2015-12-02 20:34] doronfeldman commented on #622
@guilhermef
it runs just fine, prints out [271.0]

[2015-12-02 20:37] guilhermef commented on #622
so the TypeError doesn't make any sense now, It should raise an error too.
Can you run the dumps on the data variable you've printed ?

[2015-12-02 21:16] doronfeldman commented on #622
just tried it, it works.
i just noticed there are actually two different behaviors:

this image http://steezo.com/wp-content/uploads/2012/12/man-in-suit.jpg causes
TypeError: 176 is not JSON serializable

and the first image, http://s3.amazonaws.com/game-images/angry_birds_seasons.png
this one just hangs with no error

[2015-12-02 21:29] doronfeldman commented on #622
@guilhermef
by the way both these errors happen when installing from main

[2015-12-02 21:40] guilhermef commented on #622
I think I've solved the problem: https://github.com/thumbor/thumbor/commit/bc52ab6bb8934c08d24c89ef5e52f20744468e58

We were trying to serialize a numpy.int32 type.

[2015-12-02 21:47] doronfeldman commented on #622
@guilhermef

It solved both!
now it works in both cases

Thank you for the quick response

[2015-12-02 21:49] guilhermef commented on #622
Yay! \o/
Em 02/12/2015 19:47, "doronfeldman" <notifications@github.com> escreveu:

[2015-12-02 21:55] doronfeldman commented on #622
issue closed!

[2015-12-02 21:55] #622 closed

[2015-12-03 11:43] dhardy92 opened #623 "make thumbor server listen on next available port if already binded"
if port specified or default (8888) is already bind, try 8889 (then 8890, ...)
This can make thumbor runing several instance with the same configuration.
Limit it with a range size ?

Use case : Using http://supervisord.org/ I now defined 4 configurations one for each port of my 4 running instances. I may set only one config file and set ```numprocs: 4```

my load balancer is configured to manage

[2015-12-03 12:00] gi11es commented on #606
Fixed by d9ed09cf7477604e2ddc663830f18054fc4a4958 or 1feff2a733e0a863584b483e9261c4aaa1929b25

[2015-12-03 12:00] #606 closed

[2015-12-03 12:01] guilhermef commented on #606
\o/

[2015-12-03 12:04] gi11es commented on #623
You can already do that by starting thumbor on different ports, pointing to the same configuration. Use the -p option, like so:

`thumbor -p 8889`

Imho this sounds like something that can be created around thumbor, given that the -p option already exists.

[2015-12-03 12:11] dhardy92 commented on #623
yes this is my point I need to change a switch to do this.
I would like to run the same command with the same config as many time as I want and this make a range of port available for thumbnailing with a loadbalancer

[2015-12-04 09:43] phoet opened #624 "file changed on fresh checkout"
when forking the repo on OSX 10.10.5 with git 2.6.3

i'm getting a changed file:

[code]

i assume it's because of the accent in the filename, but i could not find a matching git issue. anyone else experiencing this?

[2015-12-04 10:59] sbaechler commented on #586
This looks like the color profiles are ignored. Have you built Pillow with support for [littlecms](http://www.littlecms.com/) for the color management?

[2015-12-04 11:25] sbaechler opened #625 "Make image metadata available to the processors."
Metadata, not just Exif but also IPTC and XMP data can contain information that could be used by Thumbor.

As far as I can see, PIL can only read Exif data. This would mean a CLI tool such as `exiftool` would have to be used. Exif and IPTC are key-value based. XMP has a tree structure.

Possible use cases would be:

1. The focus point of an image could be set by the photographer and stored in the

[2015-12-04 13:48] masom commented on #625
There was a disucssion on creating a `Media` object to hold the image buffer + metadata at https://github.com/thumbor/thumbor/issues/577

Adding IPTC and XMP metadata would make a lot of sense.

[2015-12-04 15:54] heynemann commented on #625
+1

[2015-12-14 17:05] TwanoO67 opened #628 "Quality filter not working with Thumbor engine"
Hello Team,

When installing thumbor with this conf:
ENGINE = 'thumbor.engines.pil'

the filters "quality" doesn't change the size of the produced file.

Using this engine, the filter work as expected
ENGINE = 'opencv_engine'

(tested on several Thumbor instance in version 5.0.0, 5.0.6, 5.1.0 and 5.2.1 )

Regards,
Antoine

[2015-12-14 17:14] guilhermef commented on #628
@TwanoO67 Did you enable the quality filter on you thumbor.conf ?
Because it seems to work: http://thumbor.thumborize.me/unsafe/filters:quality(2)/http://img-9gag-fun.9cache.com/photo/am9qL7j_700b.jpg

[2015-12-15 09:01] TwanoO67 commented on #628
Hello @guilhermef

In my config file, the FILTERS tab is always commented, so in default, all filters seems activated.
The only difference in my installation, is using the thumbor engine or the opencv engine.

[2015-12-21 13:14] vishaalgc opened #630 "How many http requests can thumbor handle at a time ?"
Im just testing thumbor past recent days, so i made this server in ubuntu and POST,DELETE,PUT etc works fine. I just wanted to know how much load at a time this thumbor server(running in oracle VM) can handle for a start so that i can integrate this in real time into other application

[2015-12-21 13:40] masom commented on #630
It is highly dependent on the caching setup and the VM capacities ( ram, cpu, bus size ).

Thumbor is highly CPU bound when manipulating images.

popkey.co's cluster handled over 5 000 req/s with a polymorphic setup using AWS ELB, EC2 and Elasticache.

A typical setup would look like this:

- ELB load balancer
- EC2 instances ( c3.2xlarge )
- S3 as the image source, using the HTTP loader.
- Redis

[2015-12-21 13:42] masom commented on #630
Thumbor itself will not be the bottleneck in the requests per second metric. That number will usually hover around ~15 req/sec when actively thumbnailing with no caches since the load is CPU-bound.

[2015-12-21 14:07] vishaalgc commented on #630
I just tried to load a 33MB stored image file randomly using many http get requests and it froze my VM(thumbor server). i think its bound to happen. But didnt find any issue on loading a 4MB image. So i think this 15req/sec is perfect as you just said on an average. Say if i have to go with filesystem but not redis what requirements do you want me to start with and consider further ?

[2015-12-21 14:31] masom commented on #630
If your thumbor installation will handle large images turning on the thread pool will greatly help preventing a single instance running out of CPU/RAM ( basically a DDOS ).

See https://github.com/thumbor/thumbor/blob/master/thumbor/config.py#L86

Set this to 2x the CPU and you should see a "better" behaviour from thumbor when large images / resources are being processed. You will have to figure o

[2015-12-24 08:26] dkhabarov opened #631 "Image optimization"
Hi.
![google page speed](http://storage2.static.itmages.ru/i/15/1224/h_1450945013_4378390_cb30a255da.png)

Tell me please how to make optimization of pictures on thumbor? I tried to connect thumbor.optimizers.jpegtran but that does not give effect it.

[2015-12-30 14:55] vishaalgc commented on #384
Im trying the same thing and have this same issue .. Did any one find any fix for this ?

[2015-12-30 21:01] sbaechler commented on #577
@masom Have you started work on this feature yet? I plan to start with the metadata extraction soon and would like it to be based on your branch.

I would make `is_valid` a method instead of a property.

[2015-12-31 00:02] masom commented on #577
@sbaechler I had planned on working on this tomorrow morning.

The heavylifting already happend with `LoaderResult`, supporting a `Media` object would work for 6.x series.

[2015-12-31 15:31] #630 closed

[2015-12-31 17:14] masom commented on #577
@sbaechler https://github.com/thumbor/thumbor/pull/633

Currently broken but the core of the changes have been implemented.

[2016-01-03 05:14] masom commented on #624
Experiencing the same issue. Tests are also failing because the file doesn't seem to resolve on OS X

[2016-01-03 17:42] masom commented on #631
You could use the quality filter: `quality(80)` would probably be a good start. Changing the quality value will compress the image.

[2016-01-04 21:55] sbaechler commented on #577
@masom If I understand this correctly, `LoaderResult` and `ResultStorageResult` are deprecated in favor of `Media`.

[2016-01-05 14:22] masom commented on #597
Since the image URL itself is part of the HTTP path it is better to always encode it using RFC 3986

[2016-01-07 17:10] sbaechler commented on #625
This turned out to be more difficult than I thought.

There is a [Python XMP Toolkit](http://python-xmp-toolkit.readthedocs.org/en/latest/index.html) that can read and write XMP metadata to and from an image file. Unfortunately only to image files, not image buffers. The limitation seems to be set by the underlying C-Library Exempi.

The only way to extract XMP metadata from an image buffer for no

[2016-01-09 04:53] ad-m commented on #623
''''
[program:thumbor]
command=thumbor --port=800%(process_num)s --conf=/etc/thumbor800%(process_num)s.conf
process_name=thumbor800%(process_num)s
numprocs=4
'''
is enough, so :-1: won't fix

[2016-01-09 08:10] dhardy92 commented on #623
nice, like it ☺

[2016-01-09 08:10] #623 closed

[2016-01-09 08:28] ad-m commented on #623
Read docs please https://github.com/thumbor/thumbor/wiki/Hosting

[2016-01-09 08:44] dhardy92 commented on #623
actually did it a long time ago, even wrote an other part, and forgot this trick. sorry for disturb.

[2016-01-11 11:24] heynemann commented on #631
Jpegtran itself (as @masom pointed out) won't do any magic (or at least not a lot of it) by itself.

Closing this as I think it has been properly adressed.

[2016-01-11 11:24] #631 closed

[2016-01-11 11:27] heynemann commented on #624
The issue here is that we need a file with an unicode char and linux and mac treat it differently... Any ideas?

[2016-01-11 13:57] Egorby commented on #326
@heynemann We have same problem: Progressive enabled, but not working. How to fix problem with Nginx cache?

[2016-01-11 14:31] phoet commented on #624
the filename of a none unicode named file could be modified in the test?

[2016-01-13 07:41] gabn88 opened #637 "%3A always parsed as :"
I use an Amazon S3 backend with pre-signed urls (long story short: I want to keep track of user permisisons myself).

in my webapp I can show the amazon files nicely, because they get parsed as:
filename%3Atime.png with the correct signature for this url.

However, thumber makes filename:time.png from it and then the signature becomes incorrect.

How to solve this?

[2016-01-13 07:56] gabn88 commented on #617
I think I have a similar question but then with %3A, see https://github.com/thumbor/thumbor/issues/637. Would this also be solved by this fix? I am already using 5.2.1, so I guess not?

[2016-01-13 11:55] guilhermef commented on #617
@gabn88 Are you quoting the url before generating the signed url ?

[2016-01-13 13:22] gabn88 commented on #617
My urls are unquoted.

However if I try quoting, the last ' is transformed to %27 because it is inside the get query paramaters of the Amazon key.

A.k. thumborurl.com/fit-in/150x150/'myfile.png?Signature=06...q%3D&Expires=17...21&AWSAccessKeyId=H...JQ%27
is what it becomes then.

[2016-01-13 13:46] guilhermef commented on #617
Sorry, by quote, I mean:
[code]

[2016-01-13 13:51] gabn88 commented on #617
Wow, it works!
Took me hours and I still couldn't find the issue! Thank you so much!

Just for anyone else struggling with this, the url looked like this in the end:

mythumbor.com/bX..secret..Sg=/fit-in/192x192/https%3A//myfile-withtime%252018%253A18%253A29.png%3FSignature%3Did..thesig..Ozo%253D%26Expires%3D14..theexp..21%26AWSAccessKeyId%3DA..theAccessKeyJQ

[2016-01-13 13:52] gabn88 commented on #637
Closed thanks to @guilhermef, see https://github.com/thumbor/thumbor/issues/617

[2016-01-13 13:52] #637 closed

[2016-01-13 17:01] gi11es commented on #585
I've worked around the problem by writing a proxy engine to achieve just that: https://phabricator.wikimedia.org/diffusion/THMBREXT/browse/master/wikimedia_thumbor/engine/proxy/proxy.py

Note that this code wasn't written with any guarantee that this would work beyond simple resizing, which is all we're planning on using in the short term.

To go along that proxy engine, I've written several minim

[2016-01-13 17:05] gi11es commented on #608
Fixed by  #639

[2016-01-13 17:05] #608 closed

[2016-01-13 17:17] gi11es commented on #333
Gives a lot more than just Thumbor, but I've written a pretty extensive Thumbor role included in the Mediawiki Vagrant VM: https://www.mediawiki.org/wiki/MediaWiki-Vagrant

It sets up a bit of a stack around Thumbor (Varnish for caching and Swift to store originals), but it's possible to hit Thumbor directly on the default port (8888).

FYI it pulls my fork at the moment, and not the latest copy o

[2016-01-13 17:19] gi11es commented on #625
If that framework only deals with files, why not dump the buffer into a temp file?

[2016-01-14 12:27] sbaechler commented on #625
@gi11es This would add a dependency on the file system. I found another Python XMP Framework [Pyexiv](https://github.com/escaped/pyexiv2) which is based on a different C library. I'll give that one a try first.

[2016-01-14 14:28] masom commented on #625
@sbaechler the current filters and optimizers receive a tmp file buffer, already on the filesystem.

[2016-01-16 15:53] gabn88 opened #641 "Reorient gives error"
File "/usr/local/lib64/python2.7/site-packages/tornado/gen.py", line 1017, in run
    yielded = self.gen.send(value)
  File "/usr/local/lib64/python2.7/site-packages/thumbor/handlers/__init__.py", line 156, in get_image
    self.filters_runner.apply_filters(thumbor.filters.PHASE_AFTER_LOAD, transform)
  File "/usr/local/lib64/python2.7/site-packages/thumbor/filters/__init__.py", line 81, in apply_

[2016-01-18 16:21] guilhermef commented on #641
Which engine are you using ?

[2016-01-22 16:57] sbaechler commented on #625
@masom Maybe that temp file won't be available once the Media object is used.
I tried another version with Pyexiv2 to read the image metadata. This library works well with image buffers. It is a bit tricky to install. It needs some C libraries that have to be installed first. It's also deprecated in favor of another library called Gexiv (A Gnome library). However, I did not manage to get that libr

[2016-01-22 16:58] masom commented on #625
A lot of tools don't work well with STDIN / STDOUT.

ffmpeg for instance will stutter and produce weird output if the input file is STDIN.

[2016-01-22 17:00] gi11es commented on #625
That's because by default ffmpeg is interactive while it runs. You can press a key to abort its processing. There's an ffmpeg option to turn that off, though.

[2016-01-22 17:02] gi11es commented on #625
Actually maybe not an option, but I remember that there's a way to work around that problem.

[2016-01-23 17:27] sbaechler opened #642 "Code documentation"
Please start documenting the source code with PyDoc.
It would really help other developers working on the project.  The first priority should be the `handlers.__init__.py` and `handlers.imaging.py` modules. Most of the code is async and the callbacks are all over the place.

Some of the code is documented using the markdown syntax so it would make sense to keep that.

[2016-01-23 20:04] sbaechler commented on #549
The client hints should be present in `context.request.headers`. So they should automatically be available in Thumbor.
@heynemann For Thumbor to be able to crop Hi-DPR images, the Transformer class needs to be dpr-aware as well. It should not be to hard to add that feature and if the default was 1, then it would be fully backwards compatible.

Maybe it would make sense, to allow setting the dpr in

[2016-01-24 15:54] sbaechler commented on #466
@whiskeykontequila When you rotate an image you are creating a new generation and the quality will degrade. Since most browsers ignore the embedded Exif Orientation value, there is no way around that.

[2016-01-24 21:52] sbaechler commented on #625
@masom Pyexiv2 doesn't use STDIN/STDOUT. It's a Python library. The biggest issue is that it requires the [boost](http://www.boost.org/) and exiv2 C++ libraries wich have to be built with Python bindings. But still, this is the easiest and most comfortable way of getting the image metadata that I have found so far.

[2016-01-24 21:58] heynemann commented on #625
I don't think hard dependencies are an issue as long as this is a plugin
and not built-in.
On Jan 24, 2016 19:52, "Simon Bächler" <notifications@github.com> wrote:

[2016-01-24 22:11] sbaechler commented on #625
The metadata can only be extracted from the raw buffer, not the `engine.image`. PIL strips all metadata when creating an `Image` object. Therefore if the metadata should be available to the app, then it has to be extracted in the `Engine.load()` or `Engine.create_image()` method. Which are in core.

The metadata extraction is only done if the library is installed.

Another option is to extract the

[2016-01-25 12:01] heynemann commented on #642
Sure, whenever I touch the code I`ll try to add docs to it.

[2016-01-25 14:13] sbaechler commented on #549
I have a use case where I need the client hints in a filter. I think the easiest way to make them available is to add the whole request header to the `scope.request` object. The request headers is a Tornado object that behaves like a dictionary. So one can use `dpr = request.headers.get('Dpr')`.

An example adjustment is here:
https://github.com/sbaechler/thumbor/commit/9edf8291e0939d726bde8f12d2a

[2016-01-25 15:32] heynemann commented on #549
Sounds good. I think that's the way we meant to implement it anyways.

On Mon, Jan 25, 2016 at 12:13 PM, Simon Bächler <notifications@github.com>
wrote:

[2016-01-25 15:33] sbaechler commented on #549
Before we start implementing this we should first discuss how Thumbor should deal with high (or low) dpr images. @heynemann suggests that if a user requests a 300x300 image and the dpr is set to 2, then the response would be a 600x600 image. This would mean that internally Thumbor would use display independent pixels.
I think this makes sense and would simplify processing. Especially if later on t

[2016-01-25 17:49] gabn88 commented on #641
Nevermind. I was mixing things up from different builds and trials.

[2016-01-25 17:49] #641 closed

[2016-01-25 19:30] gabn88 opened #644 "Thumbor breaks on latest master for signed urls."
Today I tried to upgrade thumbor to the latest git master (pip install git+git://github.com/thumbor/thumbor.git) and then the thumbnail creation breaks completely for signed urls.

It probably has to do with the fact that I have urls like:

https://xxxxxx.s3.amazonaws.com/xxxxxxx.png?Signature=testestset%3D&Expires=1453753437&AWSAccessKeyId=testestest

which are broken in the latest git version wi

[2016-01-26 21:53] sbaechler commented on #549
I have started working on this issue: https://github.com/sbaechler/thumbor/tree/feature/hi-dpr
In fact, I had parts of it in a filter I'm working on. But it would be better if hi-dpr handling was done in Thumbor itself so it is consistent.

The capability is added as a filter which just sets a global dpr value. That value is 1 by default so it doesn't change current behavior.
The dpr value is stor

[2016-01-27 15:43] sbaechler commented on #496
I would definitely refactor the output format support fist. Currently Webp support is in core and Jpeg2000 and Mozjpeg are available as optimizers. This is not very consistent.
It would need a top down approach for this. Like the output size, the output format now might depend on multiple factors like request headers and network speed. Depending on the format chosen, Cache headers need to be set c

[2016-01-27 17:27] guilhermef commented on #496
@sbaechler The problem with Flif is browser support and BPG the [patents](http://www.philipstorry.net/thoughts/bpg-vs-jpeg-vs-webp-vs-jpeg-xr).
Until Edge we didn't had a way to detect Jpeg-xr support, parsing the User-agent string would probably be a mess.
That's why they're filters, so a client side script can decide and change the url, this way avoiding collision with another browser image.

[2016-01-29 12:27] qsomazzi opened #646 "Improve HTTP Loader - Cache"
Hello,

I currently use thumbor in a project but, we have a caching issue with the HTTP loader.
What do you think about implementing a Cache validation system with the header {if-modified-since} in the loader ?

[2016-01-29 14:07] masom commented on #646
@qsomazzi could you explain what problem you are facing?

Usually thumbor should not cache at the http loader but with result storage and storage classes that allow caching both the final result and the original file.

This is the current media loading flow: `loaders -> storages -> result_storages`

[2016-02-01 09:19] smagnaschi opened #647 "CV_P2GRAY on 5.2.1: Error in log can't understand why"
[code]

[2016-02-01 11:09] smagnaschi commented on #647
It started after an upgrade from 5.0.6 to 5.2.1.

Server goes in gateway timout trying to resize this image:
http://www.rockol.it/assets/img/2015-design/placeholder-rockol.20150611v01.png

Version 5.0.6 has no problem with it.

[2016-02-01 11:24] guilhermef commented on #647
Which version of opencv are you using ?
Em 01/02/2016 09:09, "smagnaschi" <notifications@github.com> escreveu:

[2016-02-01 12:16] guilhermef commented on #647
Can you try the [6.0.0b1](https://pypi.python.org/pypi/thumbor/6.0.0b1) ?

[2016-02-01 14:30] qsomazzi commented on #646
Thanks @masom for your answer,

My user's work is to make an image, drop them a one place, and actualize it sometimes, keeping the same filename.
So when I want to load their images and store the source image in storage the first time, everything works, but then, they change it. And this time the 'source' image is already in the storage, so we don't try to load it from the HTTP loader.

That's wha

[2016-02-01 15:03] masom commented on #646
This specific use case will require some custom logic to accomplish this.

The loaders are completely stateless and are not being involved with the thumbor request cycle if the storage or result storage has a cache hit.

You would need to implement a storage and result_storage class that will validate the cache before returning the buffer.

Cache invalidation on the loaders is not feasible as thum

[2016-02-01 15:07] smagnaschi commented on #647
By running
`pkg-config --modversion opencv`

I get **2.4.8**

What's the best way to upgrade to 6.0.0b1?
I usually update with

`pip install -U thumbor`

[2016-02-01 15:25] guilhermef commented on #647
You can run pip install -U Thumbor==6.0.0b1
Em 01/02/2016 13:07, "smagnaschi" <notifications@github.com> escreveu:

[2016-02-01 16:20] smagnaschi commented on #647
I can confirm that with 6.0.0b1 the image is handled correctly. It still goes on timeout if I rollback to 5.2.1.

[2016-02-01 16:26] guilhermef commented on #647
@smagnaschi We've fixed the way that opencv handle images on 6.0.0b1.
On 5.2.1 OpenCv was handling the image conversion, now the engines does it,
so I recommend that you use the 6.0.0b1.
Is that ok ?

[2016-02-02 06:15] smagnaschi commented on #647
Absolutely, thanks for all your work!

[2016-02-02 13:41] guilhermef commented on #647
@smagnaschi can I close this issue ?

[2016-02-02 20:08] smagnaschi commented on #647
Sure, go ahead, thanks.

[2016-02-02 20:08] #647 closed

[2016-02-03 13:06] jstaffans opened #650 "Error parsing EXIF data for some JPEGs"
I sometimes see the following error in the Thumbor logs when scaling images:

[code]

As far as I can determine, it affects JPEGs stored in TIFF format (not JFIF as most JPEGs are). Some Android models store JPEGs in this format.

There is an [open issue](https://github.com/bennoleslie/pexif/issues/23) in the pexif library repository about the same issue and seems to have a work-around.

[2016-02-03 16:49] okor commented on #525
Hey. Having done some work with the `extract_focal()` filter recently, the "dual url" syntax is making CDN routing weird. I think we should create a `focal_point()` filter - roughly similar to what has been described here. The use case for this is growing, as more and more people move away from fixed crops and do more focal point style, on the fly image creation. We are starting to do this at Vox

[2016-02-03 21:36] webffo opened #651 "Clean custom urls and caching"
Hi,
my current setup requires me to load the images from a web server using http. I have tried it with the default http loader and it works, but I see some problems with that.

1) The url structure
The current schema includes , besides thumbor stuff, the protocol+domain+uri, which is pretty clear, because it needs to fetch the image somehow. For me the protocol and domain does not change so it wou

[2016-02-04 12:14] guilhermef commented on #651
@webffo you can create a custom http loader that uses your domain, and right now you don't need to set the protocol, you can just use domain+uri.

There's already a discussion on size alias: #467

We highly recommend you to use a CDN in front of your service,
just remember to whitelist the Accept header if you're planning o use the AUTO_WEBP feature.

[2016-02-04 12:29] webffo commented on #651
Hi, thank you for your answer.
I will try to create a custom http loader, but as I am completely unfamiliar with python and python syntax, I wanted to avoid that. Someone here (in another issue I can't find anymore) stated that he has created a proxy written in go which does that url rewriting and he may publish it, what obviously did not happen (yet) so I thought maybe someone else is using such

[2016-02-04 12:31] webffo commented on #446
Hi @falschparker82 , is there any news regarding the proxy? I would love to test it.

[2016-02-04 12:38] guilhermef commented on #651
You don't need to rewrite the entire http_loader, you just need to append your domain before the request.
the required size is parsed before hitting the loader, and the size is used on the signer.
The loader is just called if there's no cache on the result_storage.

[2016-02-04 12:41] masom commented on #651
To prevent ddos thumbor uses signed urls. You application uses a shared secret with thumbor to generate a valid url to an image. Sizes, filters, etc are part of that signature, preventing malicious users from requesting many different options.

The loader itself is acollection of stateless methods used to load an image from given source when there is a cache miss on the storage.

In your case, a s

[2016-02-04 12:41] webffo commented on #651
Thank you for the details, I'll try it and maybe we also get some more info in the other issues.

[2016-02-04 13:09] guilhermef commented on #644
@gabn88 we had the same issue at Globo, I'm trying to fix this right now.

[2016-02-04 13:13] guilhermef commented on #644
@gabn88 This https://github.com/thumbor/thumbor/commit/2c280ae09a3816a5d68bce92805672f6c3e4efa3 should fix this problem.

[2016-02-04 14:23] qsomazzi commented on #646
I've understand better where this should be done thanks to you, now I wonder if this could be done as a thumbor feature rather than a custom logic. I think i may not be facing this issue alone.
What do you think ?

[2016-02-04 15:19] masom commented on #646
Usually the source of an image does not change. You could set your cache ( like redis or memcache ) to be something like 30 minutes instead of infinite and it would give you something very close to what you are looking for.

Validating the source image on every call to a storage will result in performance degradation for thumbor.

We currently try to encourage generic behaviour in the core with th

[2016-02-05 20:10] asolenzal opened #654 "Installed thumbor not working"
Hi I have installed thumbor correctly with no errors or warnings.

Now after install I i try to exec thumbor from the console I get the following error:

Traceback (most recent call last):
  File "/bin/thumbor", line 7, in <module>
    from thumbor.server import main
  File "/usr/lib/python2.7/site-packages/thumbor/server.py", line 22, in <module>
    from thumbor.console import get_server_paramet

[2016-02-05 20:15] masom commented on #654
Are did you install thumbor and how are you trying to launch it?

[2016-02-05 20:18] asolenzal commented on #654
I have installed it using pip, my python version is 2.7.5 and the OS is CentOS 7.

After install I just wrote "thumbor" on a ssh console. The same process that I made on my Mac. In CentOS the error, on the Mac works as expected.

[2016-02-05 20:22] masom commented on #654
Something weird happened while installing thumbor.

`"/usr/lib/python2.7/site-packages/thumbor/thumbor/console.py"` should not be two levels deep within the thumbor structure.

[2016-02-05 20:24] asolenzal commented on #654
I will reinstall it and post the full output of the installation process.

[2016-02-05 20:26] asolenzal commented on #654
[root@mail tmp]# pip install thumbor
Collecting thumbor
Requirement already satisfied (use --upgrade to upgrade): pexif<1.0,>=0.15 in /usr/lib/python2.7/site-packages/pexif-0.15-py2.7.egg (from thumbor)
Requirement already satisfied (use --upgrade to upgrade): derpconf>=0.2.0 in /usr/lib/python2.7/site-packages/derpconf-0.7.3-py2.7.egg (from thumbor)
Requirement already satisfied (use --upgrade to

[2016-02-05 20:26] masom commented on #654
It would be a good idea to attempt the installation within a python virtualenv to prevent conflicts with system packages.

[2016-02-05 20:37] asolenzal commented on #654
Installing thumbor on a virtualenv inside my server bypasses the previous error, I get new errors that I can solve, errors related to filter importing.
Thanks for the virtualenv suggestion. I will close now

[2016-02-05 20:37] #654 closed

[2016-02-08 13:52] hus787 commented on #647
@guilhermef would the fix take care of

[code]
?

because this one occuring in `feature_detector` and the one reported here is in `local_detector`

[2016-02-08 13:55] guilhermef commented on #647
@hus787 it should fix this error too.

[2016-02-08 14:38] hus787 opened #655 "tornado.application:ERROR Exception in callback <functools.partial object at 0x7f8597ae9520>"
Proly specific to tornado but thumbor reported this.

[code]

[2016-02-08 14:50] masom commented on #655
@hus787 if you take a look at the last line of this stack trace it mentions something about an invalid SSL connection.

Can you check the SSL certificate of the image you are attempting to load?

[2016-02-08 15:17] hus787 commented on #655
I can't rely tell which which image's causing this, and whether it's reproducible or not. But SSL error that is reproducible is when fetching `https://assets.weforum.org/article/image/small_8RcmFX6vMNTyr7jDAFyFDrWEutVPqCz2d2Yqbcdd_ak.jpg`

[2016-02-08 15:47] masom commented on #655
There seem to be an issue with the certificate in question:

![image](https://cloud.githubusercontent.com/assets/438456/12890367/54ede58a-ce51-11e5-81a1-c8bad996c7b8.png)

[2016-02-08 16:06] hus787 commented on #655
Oddly, I'm unable to get that warning in either Chrome or Firefox on both Mac and Windows. Slack's image fetcher was able to fetch the preview of the images too.

![screen shot 2016-02-08 at 18 00 47](https://cloud.githubusercontent.com/assets/1750568/12890908/59b3a4dc-ce8e-11e5-9b0d-92e7bb7405ae.png)

LinkedIn had no issue either.

[2016-02-08 16:08] masom commented on #655
Can you try using curl/wget to download the image on the affected server?

[2016-02-08 16:38] hus787 commented on #655
Running it on docker. So

`curl http://192.168.99.100:28765/unsafe/512x512/https://assets.weforum.org/article/image/small_8RcmFX6vMNTyr7jDAFyFDrWEutVPqCz2d2Yqbcdd_ak.jpg > /dev/null`
returns:
[code]
And the following in the container logs:

[code]

[2016-02-08 16:52] hus787 opened #656 "IOError: cannot identify image file <_io.BytesIO object at 0x7f771a5b9ad0>"
[code]

[2016-02-08 17:13] hus787 opened #657 "Steps to produce `AttributeError: 'module' object has no attribute 'CV_P2GRAY'`"
`DETECTORS=['thumbor.detectors.feature_detector','thumbor.detectors.face_detector']`

1.This request just won't return `curl http://192.168.99.100:28765/unsafe/512x512/smart/www.opteam.fi/wp-content/themes/brbr/img/logo_fb.png > /dev/null`
2. Make more than one simultaneous/quick requests with `curl http://192.168.99.100:28765/unsafe/512x512/smart/http://img.vandaag.be/tmp/450/350/r/articles/20110

[2016-02-08 18:10] masom commented on #655
Which python version are you on and are you using a virtual environment?

There are some SO threads pointing to a possible error with certs:
http://stackoverflow.com/a/30209998/1014879

Testing the python installation would probably help determining the problem. It does seem to come from the SSL stack currently used.

I've tried the following successfully on my machine:
[code]

And ran this throug

[2016-02-08 18:19] hus787 commented on #655
The docker that I am using to test is https://hub.docker.com/r/smarp/thumbor/

The Dockerfile in question is https://github.com/Smarp/docker-thumbor/blob/56c7f8d7fd5fbf2445d844cf2a4ec8e74d3cdf82/thumbor/Dockerfile

Not sure which python version it's using exactly.

[2016-02-08 18:21] mcoenca opened #658 "[GIF] Thumbor spawning computer-crashing gifsicle processes"
Under certain conditions I am currently investigating, thumbor spawns gifsicle processes that steal all my CPU and memory, most of the time never timeout, and spawn back again when they do (Who said zombies ?).

This lock send all subsequent Thumbor requests to "Python: Cannot Allocate Memory" black hole, and i need to manually kill gifsicle zombies and restart everything to go back to normal.

He

[2016-02-09 14:19] aorra opened #659 "Thumbor crashes when it encounters a corrupted JPG (segfault in libc-2.19.so)"
We are running Thumbor 5.2.1. When we encounter a corrupted image (like the one attached at https://cloud.githubusercontent.com/assets/5318545/12918103/f28ae8fc-cf45-11e5-9240-46c593ef7c17.jpg), all the Thumbor processes running on the server crash. There is no error message in the log file of Thumbor. However, in the syslog I can see the following error.
`Feb  9 13:30:40 ip-10-165-67-165 kernel:

[2016-02-09 14:29] masom commented on #659
Hi @aorra

I've tried loading the image on my machine ( OS X Yosemite ) and seems to work although the image itself is corrupted:

[code]
[code]

Since you are running a LTS version of ubuntu chances are the libraries shipped with it are ok.

Which engine are you using ( OpenCV / Pillow ) ?

I would attempt at re-installing Pillow from pypi after updating the system to use the latest packages `apt

[2016-02-10 07:19] aorra commented on #659
Thanks @masom for the quick reply. We are using Pillow version 2.7.0. As you suggested I tried installing all the latest packages, and upgraded Pillow to 3.1.1. However, the error still persists.

I debugged the situation a bit more and detected that the Thumbor will crash only when we try to apply the sharpen filter (e.g. sharpen(0.2,0.5,true)) to the corrupted image. Any ideas how this crash cou

[2016-02-10 14:17] masom commented on #659
Thanks for trying to upgrade Pillow and specifying the invalid filter.

@heynemann there is a good chance it's something in https://github.com/thumbor/thumbor/blob/9817a6ee7f44d594e58b54e11c10fac41564f390/thumbor/ext/filters/lib/wavelet_sharpen.c#L84

[2016-02-11 19:23] khelll opened #660 "Just optimizing"
Is there a way where we can do just a lossless compression? I have tried to set the QUALITY config to 100, but that resulted in 30% increase of the original file size.

[2016-02-12 13:26] alexmorozov opened #662 "Thumbor presets - what's the right way to implement them?"
Hi guys, since I haven't found a mailing list or something, I'll write it here, hope it's OK.

So what I want is to have some predefined "presets", like, you know "crop a pic 200x200 smart, then overlay a watermark, round the corners, bla-bla-bla", and I want to be able to apply that presets by the name without having to specify all that filters and stuff in URL. Actually I've already put together

[2016-02-12 13:30] guilhermef commented on #662
@alexmorozov Don't you think it's better to have these presets on libthumbor, and then use the https://github.com/thumbor-community/shortener ?

[2016-02-12 14:59] alexmorozov commented on #662
@guilhermef , thanks a lot for a pointer, didn't know about that module. Seems very interesting, but it solves a slightly different task and uses an additional storage, which doesn't sound that cool to me.

Anyway, I've already had a sneak peek at the `shortener` source code, and the idea of inheriting a handler from the `ImagingHandler` is just brilliant. Will give it a try. By the way, does maki

[2016-02-12 14:59] #662 closed

[2016-02-12 15:02] masom commented on #662
@alexmorozov Something we did for PopKey is to overload the url handling with custom code that does unwrap into a thumbor-compatible kwargs.

We had to load a different tornado app than what thumbor provides by default ( the `-a` option let's you do that). Take a look at https://github.com/thumbor-community/core on how this can be done.

Example:
`https://m.popkey.co/2a2e8e/46mJ6_s-200x150.gif`

T

[2016-02-12 15:04] masom commented on #662
Specifically: https://github.com/thumbor-community/core/blob/master/tc_core/app.py loads more handlers than the default thumbor app.

[2016-02-12 15:10] alexmorozov commented on #662
@masom Yeah, thanks a ton, I've already figured out how to specify a different app with a custom handler. Actually I have some working code (see the first post), but the way it redirects a request to the stock `ImageHandler` seems a bit stupid to me. That reminds me, do you store your signature-url mappings in a intermediate storage, or you have a direct idempotent (I'm pretty sure I'm misusing th

[2016-02-12 15:14] masom commented on #662
Specifics to popkey:

- We re-implemented the url parsing scheme to support something different: https://github.com/thumbor/thumbor/blob/master/thumbor/url.py#L14 and we created a new class overloading the ImageHandler to first check the different possible urls. Basically having two lines for: https://github.com/thumbor/thumbor/blob/master/thumbor/app.py#L50

You basically want a handler that impl

[2016-02-12 16:27] timic commented on #412
+1

[2016-02-12 19:50] alexmorozov commented on #662
@masom , thanks, Martin, now I'm pretty confident I did it right way ). BTW, the size at the end of the file name is a perfect catch. Looks very natural.

[2016-02-12 23:50] cerber717 opened #663 "RESULT_STORAGE = 'thumbor.storages.no_storage' does not work"
Trying to avoid storing the result at all.
using this :
`RESULT_STORAGE = 'thumbor.storages.no_storage'`
Getting this error message :
`2016-02-12 23:47:14 tornado.application:ERROR Future exception was never retrieved: Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/tornado/gen.py", line 282, in wrapper
    yielded = next(result)

  File "/usr/local/lib/python2.7/

[2016-02-13 00:11] cerber717 commented on #663
DISCLAIMER, I have zero python experience. not But I am trying to help.

I think the issue is that result_storage needs its own `no_storage` module because `storage` get function is using 3 arguments, and `result_storage` is using 2 arguments.

[2016-02-13 01:27] heynemann commented on #663
Yep, this is a bug with thumbor. Mainly due to the fact that almost every single thumbor user uses result storage. I would advice you to use it as well. Even if you limit the amount of storage you want (i.e.: use RedisStorage and give redis a max memory of 2gb or something like that).

That does not excuse us from fixing it, though. Thanks a lot for your report and sorry for the issue.

[2016-02-13 07:32] cartrdgeproduct commented on #663
I think it's important to preserve the 'nostorage' functionality for benchmarking purposes and debugging, as stated in the documentation. This is very helpful for instance, in evaluating the performance of the host hardware and degradation from virtualization layers. Like shopping for the right VM type at your vendor of choice.

[2016-02-13 14:57] sbaechler commented on #657
This looks like a bug. The png image has indexed colors. OpenCV as the color transform matrices RGB2GRAY and RGBA2GRAY.

This has been fixed already in a current version of Thumbor which uses the image engine (and therefore Pillow) to do the conversion.

For your issue, just convert the image to 24 bit or 32 (with alpha) and the error should go away.

[2016-02-13 15:09] sbaechler commented on #610
There is also an animated gif in the root folder: https://github.com/thumbor/thumbor/blob/master/60a48000-0198-11e4-978c-f1a9f360fa11.gif. I believe this got there accidentally.

[2016-02-15 23:21] guilhermef commented on #663
@cerber717 You can create a PR with a no_storage for the result_storage.
Thumbor has 2 types of storage, the `thumbor.storage` that caches the result from the file before transformations and the `thumbor.result_storage` that caches the image after transformations.
The one you're using was not intended to be a result_storage.
To avoid storing, you should set
[code]

[2016-02-15 23:31] guilhermef commented on #660
@khelll you can set the quality to `'keep'`, and use the filter strip_icc().
example:
`http://localhost:8888/unsafe/filters:strip_icc()/s.glbimg.com/jo/g1/f/original/2016/02/15/20160215150949.jpg`

[2016-02-16 13:12] khelll commented on #660
I tried `QUALITY = 'keep'`, and still the output image size is becoming bigger.

Here is the image for the reference:

https://khamsat-production.s3-eu-west-1.amazonaws.com/images/services/14094/0caca134da501b4508e0036fef812943.jpg

[2016-02-16 13:16] guilhermef commented on #660
I've tried here, It went from 76.3KB to 68.8KB using QUALITY='keep'.

[2016-02-17 00:57] cerber717 commented on #663
I have been fighting this for a number of hours now and it drives me crazy. no matter what I do it keeps trying to store that result on S3. for example if the image is in BUCKET/images/test.jpg, and this is the url - 'https://BUCKET/HASH/fit-in/218x218/smart/test.jpg` it would save the result photo in S3 with this path = BUCKET/images/https://BUCKET/HASH/fit-in/218x218/smart/test.jpg.

if I use wh

[2016-02-17 01:01] guilhermef commented on #663
It isn´t storing the result, it´s storing the loaded image.
You have to set this:
`STORAGE = 'thumbor.storages.no_storage'`

[2016-02-17 01:02] heynemann commented on #663
That´s because of what storages and loaders do. I think you misunderstood
what they are for (or I do not understand your question).

A loader retrieves an original image. So if you want images to be loaded
from S3, then you should use a S3 Loader and not a storage.

A storage is used to store the result from the loader, so the next time a
request for that source image comes, you do not have to req

[2016-02-17 07:34] ChristianBecker opened #666 "Malformed URL"
I want to load http://blog.qnips.com/wp-content/uploads/2015/01/1+2.png via Thumbor, but unfortunately Thumbor is unable to load this URL. If I take a look at the debug output I see the following error:

[code]

Which is strange, cause the original URL is indeed valid and I use [Pollexor](https://github.com/square/pollexor) as Thumbor client (it works for other images, so the hash is valid).

[2016-02-17 09:44] khelll commented on #660
Worked, Thanks!

I was looking at [stripping ICC](https://github.com/thumbor/thumbor/wiki/Strip-icc) info, and it mentions that there might be a loss of quality. I'm no expert here, but how much is saving from stripping it out?

[2016-02-17 13:33] heynemann commented on #660
The [ICC Profile](https://en.wikipedia.org/wiki/ICC_profile) characterizes the colors of   the image. If you remove the reference profile, the colors will change (usually slightly).

That's what we refer to when saying quality will decrease. It's not compression related, but color related.

[2016-02-17 13:35] heynemann commented on #666
The right way to send URLs to thumbor is to encode them first:

    In [3]: from urllib2 import quote

    In [4]: quote('http://blog.qnips.com/wp-content/uploads/2015/01/1+2.png')
    Out[4]: 'http%3A//blog.qnips.com/wp-content/uploads/2015/01/1%2B2.png'

That URL should work fine with thumbor.

[2016-02-17 14:31] vishaalgc opened #667 "Will the images uploaded in Thumbor File Storage expire ? If so, Can i make changes in config file for them to not expire ??"
I actually want the images in thumbor file storage to stay there and not be deleted automatically. So i just wanted to confirm once if they are permanent or not.

[2016-02-17 17:01] sbaechler commented on #625
Fixed in #661

[2016-02-17 17:01] #625 closed

[2016-02-17 17:11] sbaechler commented on #660
All browsers interpret images without an ICC profile as sRGB. Not all browsers have color management and support ICC profiles. The best thing therefore to do is to convert your image to sRGB when exporting them for the web. Then you can safely strip the ICC profile.

The quality and size of the jpeg output is determined by the libjpeg version that Pillow is compiled against.

[2016-02-17 18:21] cerber717 commented on #663
Thank you guys, I really appreciate the quick responses.
I realised the difference between storage and loader, I changed my setting to this:
`
LOADER = 'tc_aws.loaders.s3_loader'
STORAGE = 'thumbor.storages.no_storage'
TC_AWS_REGION = 'us-east-1' # AWS Region

TC_AWS_STORAGE_BUCKET = '' # S3 bucket for Storage
TC_AWS_STORAGE_ROOT_PATH = '' # S3 path prefix for Storage bucket

TC_AWS_LOADER_BUCKET

[2016-02-17 23:13] khelll commented on #660
Great it's clear now.

However I got this error when trying to optimize a jpeg image file that doesn't have the jpeg file extension:

[code]

[2016-02-18 11:41] heynemann commented on #663
I'm not very familiar with the S3 Loader. Maybe @masom can help here?

[2016-02-18 11:41] heynemann commented on #660
That's definitely a bug... Sorry for that... We need to improve the checks for file types...

[2016-02-18 11:42] heynemann commented on #667
They won't expire unless you specify an expiration. And even if they expire thumbor will not delete anything from your disk.

[2016-02-18 12:38] vishaalgc commented on #667
Okay ... What is the name of the field in config that i should alter if i want to set the expiration ?

[2016-02-18 12:40] heynemann commented on #667
https://github.com/thumbor/thumbor/wiki/Configuration#storage_expiration_seconds

[2016-02-18 13:04] vishaalgc commented on #667
Thanks for the answer. And also i have installed thumbor using https://gist.github.com/okor/79c38cfb03b153bd4eb2 in 14.04 ubuntu ..

Where can i find the thumbor.conf file so that i change upload_enabled to true. ?

[2016-02-18 14:16] aoqfonseca commented on #663
Boto can't find you path in this bucket. Try take of "/"  in beginning of ROOT_PATH.

[2016-02-18 15:26] gabn88 commented on #644
thanks!

[2016-02-18 15:26] #644 closed

[2016-02-18 16:37] guilhermef commented on #660
@khelll I'm trying to fix this error on thumbor, but I wasn't able to get this on master.
Can you post the image and the url you're trying to load ?

[2016-02-18 22:52] cerber717 commented on #663
Ok , everything is working fine!! Huge thanks guys !
I have the code for "thumbor/result_storages/no_storage.py" I will create the PR for it !
https://github.com/thumbor/thumbor/pull/669

[2016-02-20 21:02] heynemann opened #670 "Fix CodeClimate Warnings"
https://codeclimate.com/github/thumbor/thumbor

Seems easy to fix. Mostly about code duplication.

[2016-02-20 22:13] mfilotto opened #671 "image-uri format for uploaded images"
Hi,
In the image Endpoint, what would be the `image-uri` format for an uloaded image
`http://thumbor-server/hmac/trim/AxB:CxD/(adaptive-)(full-)fit-in/-Ex-F/HALIGN/VALIGN/smart/filters:FILTERNAME(ARGUMENT):FILTERNAME(ARGUMENT)/image-uri`
I can't find the proper URL format to filter images I uploaded.
Thanks for your help

[2016-02-21 19:01] tinusg opened #672 "AttributeError in pexif.py?"
I ran into a problem where lots of images are not resized. I checked the logs and found errors that look like this. Anyone an idea where I might find the cause of this issue?

[code]

[2016-02-21 19:25] tinusg commented on #672
Looks like it fails when no orientation information is available ([example](http://metapicz.com/#landing?imgsrc=http%3A%2F%2Fpictures.tractorfan.nl%2Forigineel%2Fm%2Fmccormick%2F955468-meerdere-mccormick.jpg))

[2016-02-21 19:31] tinusg commented on #672
These are my first line ever in Python so I don't know if this is worth a pull request, but I resolved the issue above with the following lines in the reorientate() function:
`if orientation != 1 and override_exif:
            try:
                segment = self._get_exif_segment()
                if segment:
                    segment.primary['Orientation'] = [1]
                    self.exif =

[2016-02-22 11:17] khelll commented on #660
@guilhermef

/unsafe/fit-in/800x800/http://suar-staging.s3.amazonaws.com/uploads/upload/RRy/o

[2016-02-22 13:03] guilhermef commented on #660
@khelll That should be fixed on master.
https://github.com/thumbor/thumbor/commit/f8fa60c29033be1fddbc28980e897b1ca67a0e2b

[2016-02-22 17:04] igrigorik opened #673 "Serve an alternative (smaller) image to clients with Save-Data preference"
Save-Data is a new request header that is advertised by Chrome/Opera/Yandex browsers when the user enables ~data-savings mode in the browser.

More details: https://developers.google.com/web/updates/2016/02/save-data

Thumbor should detect when this preference is on (by looking for the Save-Data) header and adjust the served image -- e.g. apply more aggressive compression, serve lower DPI, etc.

[2016-02-22 19:04] guilhermef commented on #673
That feature looks really interesting.
@heynemann, @masom, @okor what do you guys think ?

[2016-02-22 19:37] heynemann commented on #673
I'm 100% behind this, since I've wanted to implement Low-Quality Image Placeholders (LQIP) in Thumbor for a long time.

This is just a variation of this technique. The same issues with client-hints apply, though:

* Where do we specify vary by this header?
* How do the result storages deal with this new variation?
* Where do we check for the header? Do we add it to context?
* The actual low-qualit

[2016-02-23 05:57] okor commented on #673
This is cool but it will be a bit tricky. One takeaway is that this is the third use case for parsing options out of headers. Webp was simple. Client Hints and Save-Data are both more complex.

This is what I'm thinking:
- add more robust header parsing to thumbor core
- pass the header options to the request context
- add a standard way to transform a header options hash into a results object

I'

[2016-02-23 18:47] guilhermef commented on #673
@okor I agree, that looks like the best way to go.
We'll probably break most result_storage implementations, but it's a more robust solution to deal with images modified by headers and not the url.

[2016-02-23 20:01] igrigorik commented on #673
FWIW, nothing stops you from upgrading header parameters into URL parameters internally, if that makes it simpler to process. You just need to make sure to provide the correct Vary headers on the way back.

For Save-Data specifically, the header definition is _very_ simple: `Save-Data: on` - i.e. there is only one value "on". We may extend the list of values in the future, but as of today, you can

[2016-02-24 15:13] sbaechler commented on #673
This issue is tightly coupled with #549 and I suggest to group all those issues under a label 'hi-dpr support'.

I have already started work on this issue in https://github.com/thumbor/thumbor/pull/645 but I got stuck because of the result store. I tried to implement it as a filter but had issues with the lifecycle of the image processing pipeline. The path for the result storage is set very early

[2016-02-24 15:40] znerol opened #674 "Add a configuration directive for custom DPI to be used when converting SVG to PNG"
CairoSVG allows to specify the DPI value when [converting SVG to PNG](https://github.com/Kozea/CairoSVG/blob/4c3f4b9600ed7010fab2ac6726370a99eb889e2f/cairosvg/surface.py#L130). Let's introduce a configuration directive in order to allow users to control this value.

[2016-02-24 15:47] sbaechler commented on #674
What is it supposed to do?

[2016-02-24 15:53] znerol commented on #674
DPI = ratio between 1in and 1px, see help text of the cairosvg command line:

    $ cairosvg --help
    Usage: cairosvg filename [options]

    Options:
      --version             show program's version number and exit
      -h, --help            show this help message and exit
      -f FORMAT, --format=FORMAT
                            output format
      -d DPI, --dpi=DPI     ratio between 1in

[2016-02-24 16:03] sbaechler commented on #674
So would this only apply to SVGs that have their size unit set to 'in' or 'cm'?
Pretty much all SVGs that I came across had their size defined in pixels.

[2016-02-24 16:39] znerol commented on #674
Yes, indeed.

Problem is that those which come in units other than pixels tend to look like crap if you render them with 96 DPI (which is the CairoSVG default).

[2016-02-24 16:57] guilhermef commented on #674
@znerol Can you make a PR ?

[2016-02-25 12:47] #674 closed

[2016-02-25 12:53] guilhermef commented on #598
@banks We've changed the way Thumbor deal with quoted url's, do you mind testing your scenario with the current master ?

[2016-02-25 12:54] #217 closed

[2016-02-25 12:55] #241 closed

[2016-02-25 12:55] #292 closed

[2016-02-25 12:56] #304 closed

[2016-02-25 12:56] #309 closed

[2016-02-25 12:57] #306 closed

[2016-02-25 12:57] #242 closed

[2016-02-25 12:57] #268 closed

[2016-02-25 12:58] #311 closed

[2016-02-25 12:58] #330 closed

[2016-02-25 12:58] #329 closed

[2016-02-25 12:59] guilhermef commented on #347
@gcobr That still happens on the current master ?

[2016-02-25 13:00] #350 closed

[2016-02-25 13:00] #360 closed

[2016-02-25 13:00] #366 closed

[2016-02-25 13:01] guilhermef commented on #384
That's still a problem ?

[2016-02-25 13:02] #413 closed

[2016-02-25 13:03] #463 closed

[2016-02-25 13:04] #464 closed

[2016-02-25 14:09] banks commented on #598
@guilhermef not sure when I will be able to get around to it, but it should be trivial for you to recreate with HMAC security on and at least one filter that uses parentheses enabled - just try encoding the url with python lib as normal, and then transform:  `'(' => '%28', ) =>  '%29', ',' => '%2c'`.

[2016-02-25 14:14] guilhermef commented on #598
Thanks @banks, I'll create a test to validate this scenario.

[2016-02-25 18:02] khelll opened #678 "Video engine/optimizer"
I need a very simple video engine/optimizer, kind of similar to the GIFV optimizer. My use case is simple:

- Load the file from HTTP url
- Generate a screenshot using FFmpeg, so it should it implement the `extract_cover()` filter mainly.
- Do normal operations on the cover above.
- Generate a video with some modifications using FFmpeg.

Is there a simple flow that I can use to let Thumbor do this

[2016-02-25 18:23] guilhermef commented on #678
I'm not sure that pillow support videos.
Em 25/02/2016 15:02, "Khaled alHabache" <notifications@github.com> escreveu: